openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: A point in time in RFC 3339 format, with up to nanosecond precision. Output uses UTC (`Z`); input may use an offset from UTC.
    mgmt.v1alpha1.AccountHook:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of this hook.
        name:
          type: string
          title: name
          description: Name of the hook for display/reference.
        description:
          type: string
          title: description
          description: Description of what this hook does.
        accountId:
          type: string
          title: account_id
          description: The unique identifier of the account this hook belongs to.
        events:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookEvent'
          title: events
          description: The events that will trigger this hook.
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookConfig'
          title: config
          description: Hook-type specific configuration.
        createdByUserId:
          type: string
          title: created_by_user_id
          description: The user that created this hook.
        createdAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: created_at
          description: The time this hook was created.
        updatedByUserId:
          type: string
          title: updated_by_user_id
          description: The user that last updated this hook.
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
          description: The last time this hook was updated.
        enabled:
          type: boolean
          title: enabled
          description: Whether or not the hook is enabled.
      title: AccountHook
      additionalProperties: false
    mgmt.v1alpha1.AccountHookConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - webhook
            - required:
                - slack
      anyOf:
        - type: object
          properties:
            slack:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookConfig.SlackHook'
              title: slack
              description: 'Slack-based hooks Future: Discord, Teams, etc.'
          title: slack
        - type: object
          properties:
            webhook:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookConfig.WebHook'
              title: webhook
              description: Webhook-based hooks
          title: webhook
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - slack
              - required:
                  - webhook
          - not:
              oneOf:
                - required:
                    - slack
                - required:
                    - webhook
      title: AccountHookConfig
      description: Hook-specific configuration
    mgmt.v1alpha1.AccountHookConfig.SlackHook:
      type: object
      properties:
        channelId:
          type: string
          title: channel_id
          minLength: 1
          description: The Slack channel id to post messages to.
      title: SlackHook
      additionalProperties: false
      description: Slack hook configuration
    mgmt.v1alpha1.AccountHookConfig.WebHook:
      type: object
      properties:
        url:
          type: string
          title: url
          format: uri
          description: The webhook URL to send the event to.
        secret:
          type: string
          title: secret
          minLength: 1
          description: The secret to use for the webhook.
        disableSslVerification:
          type: boolean
          title: disable_ssl_verification
          description: Whether to disable SSL verification for the webhook.
      title: WebHook
      additionalProperties: false
      description: Webhook-specific configuration
    mgmt.v1alpha1.AccountHookEvent:
      type: string
      title: AccountHookEvent
      enum:
        - ACCOUNT_HOOK_EVENT_UNSPECIFIED
        - ACCOUNT_HOOK_EVENT_JOB_RUN_CREATED
        - ACCOUNT_HOOK_EVENT_JOB_RUN_FAILED
        - ACCOUNT_HOOK_EVENT_JOB_RUN_SUCCEEDED
      description: Enum of all possible events that can trigger an account hook.
    mgmt.v1alpha1.CreateAccountHookRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The account ID to create the hook for.
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.NewAccountHook'
          title: hook
          description: The new account hook configuration.
      title: CreateAccountHookRequest
      required:
        - hook
      additionalProperties: false
    mgmt.v1alpha1.CreateAccountHookResponse:
      type: object
      properties:
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHook'
          title: hook
          description: The newly created account hook.
      title: CreateAccountHookResponse
      additionalProperties: false
    mgmt.v1alpha1.DeleteAccountHookRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The ID of the hook to delete.
      title: DeleteAccountHookRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteAccountHookResponse:
      type: object
      properties:
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHook'
          title: hook
          description: The deleted account hook.
      title: DeleteAccountHookResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountHookRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The ID of the hook to retrieve.
      title: GetAccountHookRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountHookResponse:
      type: object
      properties:
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHook'
          title: hook
          description: The account hook.
      title: GetAccountHookResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountHooksRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The account ID to retrieve hooks for.
      title: GetAccountHooksRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountHooksResponse:
      type: object
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountHook'
          title: hooks
          description: The list of account hooks.
      title: GetAccountHooksResponse
      additionalProperties: false
    mgmt.v1alpha1.GetActiveAccountHooksByEventRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The account ID to retrieve hooks for.
        event:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookEvent'
          title: event
          description: |-
            The event to retrieve hooks for.
             A specific event will return hooks that are listening to that specific event as well as wildcard hooks.
             If you want to retrieve only wildcard hooks, use ACCOUNT_HOOK_EVENT_UNSPECIFIED.
      title: GetActiveAccountHooksByEventRequest
      additionalProperties: false
    mgmt.v1alpha1.GetActiveAccountHooksByEventResponse:
      type: object
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountHook'
          title: hooks
          description: The list of active account hooks.
      title: GetActiveAccountHooksByEventResponse
      additionalProperties: false
    mgmt.v1alpha1.GetSlackConnectionUrlRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The account ID to retrieve the Slack connection URL for.
      title: GetSlackConnectionUrlRequest
      additionalProperties: false
    mgmt.v1alpha1.GetSlackConnectionUrlResponse:
      type: object
      properties:
        url:
          type: string
          title: url
          description: The Slack connection URL.
      title: GetSlackConnectionUrlResponse
      additionalProperties: false
    mgmt.v1alpha1.HandleSlackOAuthCallbackRequest:
      type: object
      properties:
        state:
          type: string
          title: state
          minLength: 1
          description: The Slack state.
        code:
          type: string
          title: code
          minLength: 1
          description: The Slack code.
      title: HandleSlackOAuthCallbackRequest
      additionalProperties: false
    mgmt.v1alpha1.HandleSlackOAuthCallbackResponse:
      type: object
      title: HandleSlackOAuthCallbackResponse
      additionalProperties: false
    mgmt.v1alpha1.IsAccountHookNameAvailableRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The account ID to check the name for.
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The name to check.
      title: IsAccountHookNameAvailableRequest
      additionalProperties: false
    mgmt.v1alpha1.IsAccountHookNameAvailableResponse:
      type: object
      properties:
        isAvailable:
          type: boolean
          title: is_available
          description: Whether the name is available.
      title: IsAccountHookNameAvailableResponse
      additionalProperties: false
    mgmt.v1alpha1.NewAccountHook:
      type: object
      properties:
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: Name of the hook for display/reference.
        description:
          type: string
          title: description
          minLength: 1
          description: Description of what this hook does.
        events:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookEvent'
          title: events
          minItems: 1
          description: The events that will trigger this hook.
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookConfig'
          title: config
          description: Hook-type specific configuration.
        enabled:
          type: boolean
          title: enabled
          description: Whether or not the hook is enabled.
      title: NewAccountHook
      required:
        - config
      additionalProperties: false
    mgmt.v1alpha1.SendSlackMessageRequest:
      type: object
      properties:
        accountHookId:
          type: string
          title: account_hook_id
          format: uuid
          description: The account hook ID to send the Slack message to.
        event:
          type: string
          title: event
          format: byte
          description: The marshaled event that was emitted by the worker.
      title: SendSlackMessageRequest
      additionalProperties: false
    mgmt.v1alpha1.SendSlackMessageResponse:
      type: object
      title: SendSlackMessageResponse
      additionalProperties: false
    mgmt.v1alpha1.SetAccountHookEnabledRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The ID of the hook to enable/disable.
        enabled:
          type: boolean
          title: enabled
          description: Whether to enable or disable the hook.
      title: SetAccountHookEnabledRequest
      additionalProperties: false
    mgmt.v1alpha1.SetAccountHookEnabledResponse:
      type: object
      properties:
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHook'
          title: hook
          description: The updated account hook.
      title: SetAccountHookEnabledResponse
      additionalProperties: false
    mgmt.v1alpha1.TestSlackConnectionRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The account ID to test the Slack connection for.
      title: TestSlackConnectionRequest
      additionalProperties: false
    mgmt.v1alpha1.TestSlackConnectionResponse:
      type: object
      properties:
        hasConfiguration:
          type: boolean
          title: has_configuration
          description: Whether there is an existing Slack configuration.
        testResponse:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TestSlackConnectionResponse.Response'
            - type: "null"
          title: test_response
          description: The response from the Slack API.
        error:
          type:
            - string
            - "null"
          title: error
          description: The error message if the connection failed.
      title: TestSlackConnectionResponse
      additionalProperties: false
    mgmt.v1alpha1.TestSlackConnectionResponse.Response:
      type: object
      properties:
        url:
          type: string
          title: url
          description: The URL of the Slack that is connected.
        team:
          type: string
          title: team
          description: The team name of the Slack that is connected.
      title: Response
      additionalProperties: false
    mgmt.v1alpha1.UpdateAccountHookRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The ID of the hook to update.
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: Name of the hook for display/reference.
        description:
          type: string
          title: description
          minLength: 1
          description: Description of what this hook does.
        events:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookEvent'
          title: events
          minItems: 1
          description: The events that will trigger this hook.
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHookConfig'
          title: config
          description: Hook-type specific configuration.
        enabled:
          type: boolean
          title: enabled
          description: Whether or not the hook is enabled.
      title: UpdateAccountHookRequest
      additionalProperties: false
    mgmt.v1alpha1.UpdateAccountHookResponse:
      type: object
      properties:
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountHook'
          title: hook
          description: The updated account hook.
      title: UpdateAccountHookResponse
      additionalProperties: false
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.AccountHookService/CreateAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: CreateAccountHook
      description: Creates a new account hook.
      operationId: mgmt.v1alpha1.AccountHookService.CreateAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountHookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountHookResponse'
  /mgmt.v1alpha1.AccountHookService/DeleteAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: DeleteAccountHook
      description: Deletes an account hook.
      operationId: mgmt.v1alpha1.AccountHookService.DeleteAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountHookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountHookResponse'
  /mgmt.v1alpha1.AccountHookService/GetAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetAccountHook
      description: Retrieves a specific account hook.
      operationId: mgmt.v1alpha1.AccountHookService.GetAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHookResponse'
  /mgmt.v1alpha1.AccountHookService/GetAccountHooks:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetAccountHooks
      description: Retrieves all account hooks.
      operationId: mgmt.v1alpha1.AccountHookService.GetAccountHooks
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHooksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHooksResponse'
  /mgmt.v1alpha1.AccountHookService/GetActiveAccountHooksByEvent:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetActiveAccountHooksByEvent
      description: Retrieves all active account hooks for a specific event.
      operationId: mgmt.v1alpha1.AccountHookService.GetActiveAccountHooksByEvent
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetActiveAccountHooksByEventRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetActiveAccountHooksByEventResponse'
  /mgmt.v1alpha1.AccountHookService/GetSlackConnectionUrl:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetSlackConnectionUrl
      description: Retrieves the Slack connection url that allows a user to connect their Slack workspace to Husonym.
      operationId: mgmt.v1alpha1.AccountHookService.GetSlackConnectionUrl
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetSlackConnectionUrlRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetSlackConnectionUrlResponse'
  /mgmt.v1alpha1.AccountHookService/HandleSlackOAuthCallback:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: HandleSlackOAuthCallback
      description: Handles the Slack OAuth callback.
      operationId: mgmt.v1alpha1.AccountHookService.HandleSlackOAuthCallback
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.HandleSlackOAuthCallbackRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.HandleSlackOAuthCallbackResponse'
  /mgmt.v1alpha1.AccountHookService/IsAccountHookNameAvailable:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: IsAccountHookNameAvailable
      description: Checks if an account hook name is available.
      operationId: mgmt.v1alpha1.AccountHookService.IsAccountHookNameAvailable
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.IsAccountHookNameAvailableRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.IsAccountHookNameAvailableResponse'
  /mgmt.v1alpha1.AccountHookService/SendSlackMessage:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: SendSlackMessage
      description: For sending slack messages from the worker.
      operationId: mgmt.v1alpha1.AccountHookService.SendSlackMessage
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SendSlackMessageRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SendSlackMessageResponse'
  /mgmt.v1alpha1.AccountHookService/SetAccountHookEnabled:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: SetAccountHookEnabled
      description: Enables or disables an account hook.
      operationId: mgmt.v1alpha1.AccountHookService.SetAccountHookEnabled
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetAccountHookEnabledRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetAccountHookEnabledResponse'
  /mgmt.v1alpha1.AccountHookService/TestSlackConnection:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: TestSlackConnection
      description: Tests the Slack connection by using the stored access token to initiate an auth test api call to slack.
      operationId: mgmt.v1alpha1.AccountHookService.TestSlackConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.TestSlackConnectionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.TestSlackConnectionResponse'
  /mgmt.v1alpha1.AccountHookService/UpdateAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: UpdateAccountHook
      description: Updates an existing account hook.
      operationId: mgmt.v1alpha1.AccountHookService.UpdateAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.UpdateAccountHookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.UpdateAccountHookResponse'
tags:
  - name: mgmt.v1alpha1.AccountHookService
