openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: A point in time in RFC 3339 format, with up to nanosecond precision. Output uses UTC (`Z`); input may use an offset from UTC.
    mgmt.v1alpha1.AccountApiKey:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of the API key
        name:
          type: string
          title: name
          description: The friendly name of the API Key
        accountId:
          type: string
          title: account_id
          description: The unique identifier of the account that the API key belongs to
        createdById:
          type: string
          title: created_by_id
          description: The unique identifier of the user that created the API key
        createdAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: created_at
          description: The timestamp of when the API key was created
        updatedById:
          type: string
          title: updated_by_id
          description: The unique identifier of the user that last updated the API key
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
          description: The timestamp of when the API key was last updated
        keyValue:
          type:
            - string
            - "null"
          title: key_value
          description: key_value is only returned on initial creation or when it is regenerated
        userId:
          type: string
          title: user_id
          description: The unique identifier of the user that the API key belongs to (Each API Key is associated with its own user record to identify what the API key does in the system)
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: The timestamp of what the API key expires and will not longer be usable.
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.Permission'
          title: permissions
          description: What the key may do. A key can do nothing its permissions do not name.
      title: AccountApiKey
      additionalProperties: false
    mgmt.v1alpha1.CreateAccountApiKeyRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to create the API key for.
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The friendly name of the API key
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: |
            Validate between now and one year: now < x < 365 days
            timestamp.gt_now = true
            timestamp.within = 8760h0m0s
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.Permission'
          title: permissions
          minItems: 1
          uniqueItems: true
          description: What the key may do. At least one permission, and none the caller does not hold itself.
      title: CreateAccountApiKeyRequest
      required:
        - expiresAt
      additionalProperties: false
    mgmt.v1alpha1.CreateAccountApiKeyResponse:
      type: object
      properties:
        apiKey:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_key
          description: The created API key
      title: CreateAccountApiKeyResponse
      additionalProperties: false
    mgmt.v1alpha1.DeleteAccountApiKeyRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the API key to delete.
      title: DeleteAccountApiKeyRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteAccountApiKeyResponse:
      type: object
      title: DeleteAccountApiKeyResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeyRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the API key to get.
      title: GetAccountApiKeyRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeyResponse:
      type: object
      properties:
        apiKey:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_key
          description: The API key that was retrieved.
      title: GetAccountApiKeyResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeysRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the API keys for.
      title: GetAccountApiKeysRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeysResponse:
      type: object
      properties:
        apiKeys:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_keys
          description: The list of API keys for the account.
      title: GetAccountApiKeysResponse
      additionalProperties: false
    mgmt.v1alpha1.Permission:
      type: string
      title: Permission
      enum:
        - PERMISSION_UNSPECIFIED
        - PERMISSION_ACCOUNT_VIEW
        - PERMISSION_ACCOUNT_EDIT
        - PERMISSION_ACCOUNT_CREATE
        - PERMISSION_ACCOUNT_DELETE
        - PERMISSION_CONNECTION_VIEW
        - PERMISSION_CONNECTION_VIEW_SENSITIVE
        - PERMISSION_CONNECTION_CREATE
        - PERMISSION_CONNECTION_EDIT
        - PERMISSION_CONNECTION_DELETE
        - PERMISSION_JOB_VIEW
        - PERMISSION_JOB_CREATE
        - PERMISSION_JOB_EDIT
        - PERMISSION_JOB_EXECUTE
        - PERMISSION_JOB_DELETE
      description: |-
        A permission a caller can be granted: one action on one kind of entity, as the RBAC names
         them. An API key's scope is a list of these, and can only narrow what the key may do.
    mgmt.v1alpha1.RegenerateAccountApiKeyRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the API key to regenerate.
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: |
            Validate between now and one year: now < x < 365 days
            timestamp.gt_now = true
            timestamp.within = 8760h0m0s
      title: RegenerateAccountApiKeyRequest
      required:
        - expiresAt
      additionalProperties: false
    mgmt.v1alpha1.RegenerateAccountApiKeyResponse:
      type: object
      properties:
        apiKey:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_key
          description: The regenerated API key
      title: RegenerateAccountApiKeyResponse
      additionalProperties: false
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.ApiKeyService/CreateAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: CreateAccountApiKey
      description: |-
        Creates a single API Key
         This method will return the decrypted contents of the API key
      operationId: mgmt.v1alpha1.ApiKeyService.CreateAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountApiKeyResponse'
  /mgmt.v1alpha1.ApiKeyService/DeleteAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: DeleteAccountApiKey
      description: Deletes an API Key from the system.
      operationId: mgmt.v1alpha1.ApiKeyService.DeleteAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountApiKeyResponse'
  /mgmt.v1alpha1.ApiKeyService/GetAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: GetAccountApiKey
      description: Retrieves a single API Key
      operationId: mgmt.v1alpha1.ApiKeyService.GetAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeyResponse'
  /mgmt.v1alpha1.ApiKeyService/GetAccountApiKeys:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: GetAccountApiKeys
      description: Retrieves a list of Account API Keys
      operationId: mgmt.v1alpha1.ApiKeyService.GetAccountApiKeys
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeysRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeysResponse'
  /mgmt.v1alpha1.ApiKeyService/RegenerateAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: RegenerateAccountApiKey
      description: |-
        Regenerates a single API Key with a new expiration time
         This method will return the decrypted contents of the API key
      operationId: mgmt.v1alpha1.ApiKeyService.RegenerateAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RegenerateAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RegenerateAccountApiKeyResponse'
tags:
  - name: mgmt.v1alpha1.ApiKeyService
    description: Service that manages the lifecycle of API Keys that are associated with a specific Account.
