openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: A point in time in RFC 3339 format, with up to nanosecond precision. Output uses UTC (`Z`); input may use an offset from UTC.
    mgmt.v1alpha1.AwsS3ConnectionConfig:
      type: object
      properties:
        pathPrefix:
          type:
            - string
            - "null"
          title: path_prefix
          description: The bucket path prefix that will be appended to each file
        credentials:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3Credentials'
            - type: "null"
          title: credentials
          description: The credentials to use for the S3 bucket
        region:
          type:
            - string
            - "null"
          title: region
          description: The region of the S3 bucket
        endpoint:
          type:
            - string
            - "null"
          title: endpoint
          description: The endpoint of the S3 bucket (if using a custom endpoint like region specific endpoints or S3-compatible APIs)
        bucket:
          type: string
          title: bucket
          minLength: 1
          description: The name of the S3 bucket
      title: AwsS3ConnectionConfig
      additionalProperties: false
    mgmt.v1alpha1.AwsS3Credentials:
      type: object
      properties:
        profile:
          type:
            - string
            - "null"
          title: profile
          description: The profile to use for the S3 credentials
        accessKeyId:
          type:
            - string
            - "null"
          title: access_key_id
          description: The access key id to use for the S3 credentials
        secretAccessKey:
          type:
            - string
            - "null"
          title: secret_access_key
          description: The secret access key to use for the S3 credentials
        sessionToken:
          type:
            - string
            - "null"
          title: session_token
          description: The session token to use for the S3 credentials
        fromEc2Role:
          type:
            - boolean
            - "null"
          title: from_ec2_role
          description: Whether or not the credentials are from an EC2 role
        roleArn:
          type:
            - string
            - "null"
          title: role_arn
          description: The ARN of the role to use for the S3 credentials
        roleExternalId:
          type:
            - string
            - "null"
          title: role_external_id
          description: The role's external ID to use for the S3 credentials
      title: AwsS3Credentials
      additionalProperties: false
      description: |-
        S3 Credentials that are used by the worker process.
         Note: this may be optionally provided if the worker that is being hosted has environment credentials to the S3 bucket instead.
    mgmt.v1alpha1.CheckConnectionConfigByIdRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The connection id to validate
        scope:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionCheckScope'
            - type: "null"
          title: scope
          description: |-
            Optionally, the role the connection is tested in: the response then says, in checks,
             what the connection cannot do that the role needs. MySQL and PostgreSQL only.
      title: CheckConnectionConfigByIdRequest
      additionalProperties: false
    mgmt.v1alpha1.CheckConnectionConfigByIdResponse:
      type: object
      properties:
        isConnected:
          type: boolean
          title: is_connected
          description: Whether or not the API was able to ping the connection
        connectionError:
          type:
            - string
            - "null"
          title: connection_error
          description: This is the error that was received if the API was unable to connect
        privileges:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionRolePrivilege'
          title: privileges
          description: The privileges the role has to the connection
        checks:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionCheck'
          title: checks
          description: What the connection cannot do that the role asked about needs; empty without a scope.
      title: CheckConnectionConfigByIdResponse
      additionalProperties: false
    mgmt.v1alpha1.CheckConnectionConfigRequest:
      type: object
      properties:
        connectionConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionConfig'
          title: connection_config
          description: The connection configuration to validate
        scope:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionCheckScope'
            - type: "null"
          title: scope
          description: |-
            Optionally, the role the connection is tested in: the response then says, in checks,
             what the connection cannot do that the role needs. MySQL and PostgreSQL only.
      title: CheckConnectionConfigRequest
      additionalProperties: false
    mgmt.v1alpha1.CheckConnectionConfigResponse:
      type: object
      properties:
        isConnected:
          type: boolean
          title: is_connected
          description: Whether or not the API was able to ping the connection
        connectionError:
          type:
            - string
            - "null"
          title: connection_error
          description: This is the error that was received if the API was unable to connect
        privileges:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionRolePrivilege'
          title: privileges
        checks:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionCheck'
          title: checks
          description: What the connection cannot do that the role asked about needs; empty without a scope.
      title: CheckConnectionConfigResponse
      additionalProperties: false
    mgmt.v1alpha1.CheckSSHConnectionByIdRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The connection id that the SSH connection will be checked against
      title: CheckSSHConnectionByIdRequest
      additionalProperties: false
    mgmt.v1alpha1.CheckSSHConnectionByIdResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.CheckSSHConnectionResult'
          title: result
          description: The result of the SSH connection check
      title: CheckSSHConnectionByIdResponse
      additionalProperties: false
    mgmt.v1alpha1.CheckSSHConnectionRequest:
      type: object
      properties:
        tunnel:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SSHTunnel'
          title: tunnel
          description: The SSH tunnel configuration to use for the connection
      title: CheckSSHConnectionRequest
      additionalProperties: false
    mgmt.v1alpha1.CheckSSHConnectionResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.CheckSSHConnectionResult'
          title: result
          description: The result of the SSH connection check
      title: CheckSSHConnectionResponse
      additionalProperties: false
    mgmt.v1alpha1.CheckSSHConnectionResult:
      type: object
      properties:
        isSuccessful:
          type: boolean
          title: is_successful
          description: Whether or not the SSH connection is successful
        errorMessage:
          type:
            - string
            - "null"
          title: error_message
          description: The error message returned by the SSH client if the connection is not successful
      title: CheckSSHConnectionResult
      additionalProperties: false
    mgmt.v1alpha1.CheckSqlQueryRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The connection id that the query will be checked against
        query:
          type: string
          title: query
          minLength: 1
          description: The full query that will be run through a PREPARE statement
      title: CheckSqlQueryRequest
      additionalProperties: false
    mgmt.v1alpha1.CheckSqlQueryResponse:
      type: object
      properties:
        isValid:
          type: boolean
          title: is_valid
          description: The query is run through PREPARE. Returns valid if it correctly compiled
        erorrMessage:
          type:
            - string
            - "null"
          title: erorr_message
          description: The error message returned by the sql client if the prepare did not return successfully
      title: CheckSqlQueryResponse
      additionalProperties: false
    mgmt.v1alpha1.ClientTlsConfig:
      type: object
      properties:
        rootCert:
          type:
            - string
            - "null"
          title: root_cert
          description: Root Certificate in PEM Format
        clientCert:
          type:
            - string
            - "null"
          title: client_cert
          description: Client Certificate in PEM format. Must also provide key.
        clientKey:
          type:
            - string
            - "null"
          title: client_key
          description: Client Key in PEM format. Must also provide cert.
        serverName:
          type:
            - string
            - "null"
          title: server_name
          description: |-
            Provide the expected server name. Depending on the driver or encryption mode, this may be required
             In order to fully validate the server certificate.
      title: ClientTlsConfig
      additionalProperties: false
      description: Config for providing client-side TLS certificates
    mgmt.v1alpha1.Connection:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of the connection
        name:
          type: string
          title: name
          description: The unique, friendly name of the connection
        connectionConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionConfig'
          title: connection_config
          description: Contains the connection configuration and connection type
        createdByUserId:
          type: string
          title: created_by_user_id
          description: The user id of the user that created the connection
        createdAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: created_at
          description: When the connection was created
        updatedByUserId:
          type: string
          title: updated_by_user_id
          description: Who last updated the connection
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
          description: When the connection was last updated
        accountId:
          type: string
          title: account_id
          description: The unique account that owns this connection
      title: Connection
      additionalProperties: false
    mgmt.v1alpha1.ConnectionCheck:
      type: object
      properties:
        kind:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionCheck.Kind'
          title: kind
        level:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionCheck.Level'
          title: level
        table:
          type: string
          title: table
          description: The table concerned, as schema.table; empty for the server as a whole.
        missing:
          type: array
          items:
            type: string
          title: missing
          description: 'What the account lacks: privileges, or the names of absent columns.'
        message:
          type: string
          title: message
          description: The finding in a sentence naming the connection, as the run reports it.
        remedy:
          type:
            - string
            - "null"
          title: remedy
          description: The statement that grants what is missing, for someone allowed to run it.
      title: ConnectionCheck
      additionalProperties: false
      description: One thing a connection cannot do that its role needs.
    mgmt.v1alpha1.ConnectionCheck.Kind:
      type: string
      title: Kind
      enum:
        - KIND_UNSPECIFIED
        - KIND_TABLE_EXISTS
        - KIND_READABLE
        - KIND_SERVER_WRITABLE
        - KIND_WRITABLE
        - KIND_TRUNCATE
        - KIND_TRIGGERS
        - KIND_TRIGGER_DEFINER
        - KIND_FOREIGN_KEY_SUSPENSION
      description: What was checked.
    mgmt.v1alpha1.ConnectionCheck.Level:
      type: string
      title: Level
      enum:
        - LEVEL_UNSPECIFIED
        - LEVEL_BLOCKING
        - LEVEL_WARNING
      description: What the finding does to a run.
    mgmt.v1alpha1.ConnectionCheckScope:
      type: object
      properties:
        role:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionRole'
          not:
            enum:
              - CONNECTION_ROLE_UNSPECIFIED
          title: role
          description: The role of the connection.
        engine:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobEngine'
          title: engine
          description: |-
            The engine that runs the job: what only Athanor needs is asked only of Athanor.
             Unspecified is the deployment default, which the API does not know: what only Athanor
             needs is then reported as a warning.
        tables:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionCheckTable'
          title: tables
          maxItems: 1000
          description: |-
            The tables of the job, and the columns a run writes into each. A table given without
             columns is checked on the columns the account can see, generated ones left out: give the
             job's columns to check what a run will write. Without tables, only what concerns the
             server as a whole is checked. The schemas of the server itself are refused.
        initTableSchema:
          type: boolean
          title: init_table_schema
          description: 'For a destination: the run creates the tables and columns it lacks.'
        truncateBeforeInsert:
          type: boolean
          title: truncate_before_insert
          description: 'For a destination: the run empties each table before writing it.'
      title: ConnectionCheckScope
      additionalProperties: false
      description: |-
        The role a connection plays in a job, and what the job asks of it there: what a run checks
         at its start, asked before it.
    mgmt.v1alpha1.ConnectionCheckTable:
      type: object
      properties:
        schema:
          type: string
          title: schema
          minLength: 1
        table:
          type: string
          title: table
          minLength: 1
        columns:
          type: array
          items:
            type: string
          title: columns
      title: ConnectionCheckTable
      additionalProperties: false
      description: A table of a job, and the columns a run writes into it.
    mgmt.v1alpha1.ConnectionConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - pgConfig
            - required:
                - awsS3Config
            - required:
                - mysqlConfig
            - required:
                - localDirConfig
            - required:
                - openaiConfig
            - required:
                - mongoConfig
            - required:
                - gcpCloudstorageConfig
            - required:
                - dynamodbConfig
            - required:
                - mssqlConfig
      anyOf:
        - type: object
          properties:
            awsS3Config:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3ConnectionConfig'
              title: aws_s3_config
              description: Configures an AWS S3 Connection
          title: aws_s3_config
        - type: object
          properties:
            dynamodbConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBConnectionConfig'
              title: dynamodb_config
              description: Configures a DynamoDB Connection
          title: dynamodb_config
        - type: object
          properties:
            gcpCloudstorageConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GcpCloudStorageConnectionConfig'
              title: gcp_cloudstorage_config
              description: Configures a GCP Cloud Storage Connection
          title: gcp_cloudstorage_config
        - type: object
          properties:
            localDirConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.LocalDirectoryConnectionConfig'
              title: local_dir_config
              description: Configures a connection to a directory available on the local file system
          title: local_dir_config
        - type: object
          properties:
            mongoConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MongoConnectionConfig'
              title: mongo_config
              description: Configures a MongoDB Connection
          title: mongo_config
        - type: object
          properties:
            mssqlConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MssqlConnectionConfig'
              title: mssql_config
              description: Configures a Microsoft SQL Server (mssql) Connection
          title: mssql_config
        - type: object
          properties:
            mysqlConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MysqlConnectionConfig'
              title: mysql_config
              description: Configures a MySQL connection
          title: mysql_config
        - type: object
          properties:
            openaiConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.OpenAiConnectionConfig'
              title: openai_config
              description: Connection config for an OpenAI (or compatible) Connection
          title: openai_config
        - type: object
          properties:
            pgConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PostgresConnectionConfig'
              title: pg_config
              description: Configures a PostgreSQL connection
          title: pg_config
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - awsS3Config
              - required:
                  - dynamodbConfig
              - required:
                  - gcpCloudstorageConfig
              - required:
                  - localDirConfig
              - required:
                  - mongoConfig
              - required:
                  - mssqlConfig
              - required:
                  - mysqlConfig
              - required:
                  - openaiConfig
              - required:
                  - pgConfig
          - not:
              oneOf:
                - required:
                    - awsS3Config
                - required:
                    - dynamodbConfig
                - required:
                    - gcpCloudstorageConfig
                - required:
                    - localDirConfig
                - required:
                    - mongoConfig
                - required:
                    - mssqlConfig
                - required:
                    - mysqlConfig
                - required:
                    - openaiConfig
                - required:
                    - pgConfig
      title: ConnectionConfig
      description: Configuration for all of the supported Husonym connection types
    mgmt.v1alpha1.ConnectionRole:
      type: string
      title: ConnectionRole
      enum:
        - CONNECTION_ROLE_UNSPECIFIED
        - CONNECTION_ROLE_SOURCE
        - CONNECTION_ROLE_DESTINATION
      description: The role a connection plays in a job.
    mgmt.v1alpha1.ConnectionRolePrivilege:
      type: object
      properties:
        grantee:
          type: string
          title: grantee
          description: The role that was given the permissions
        schema:
          type: string
          title: schema
          description: 'The database schema. Ex: public'
        table:
          type: string
          title: table
          description: The name of the table in the schema
        privilegeType:
          type: array
          items:
            type: string
          title: privilege_type
          description: The privileges given to that role
      title: ConnectionRolePrivilege
      additionalProperties: false
    mgmt.v1alpha1.CreateConnectionRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to create the connection for
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The friendly name of the connection
        connectionConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionConfig'
          title: connection_config
          description: The connection configuration to use for the connection
      title: CreateConnectionRequest
      additionalProperties: false
    mgmt.v1alpha1.CreateConnectionResponse:
      type: object
      properties:
        connection:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Connection'
          title: connection
          description: The created connection
      title: CreateConnectionResponse
      additionalProperties: false
    mgmt.v1alpha1.DeleteConnectionRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the connection to delete
      title: DeleteConnectionRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteConnectionResponse:
      type: object
      title: DeleteConnectionResponse
      additionalProperties: false
    mgmt.v1alpha1.DynamoDBConnectionConfig:
      type: object
      properties:
        credentials:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3Credentials'
            - type: "null"
          title: credentials
          description: |-
            Optional credentials that may be provided and will be used to connect to the DynamoDB Instance.
             If self-hosting, this may be provided by the environment in lieu of specifying these here
        region:
          type:
            - string
            - "null"
          title: region
          description: Optionally specify the region that the dynamodb instance lives in if not provided by the environment.
        endpoint:
          type:
            - string
            - "null"
          title: endpoint
          description: Optionally specify the endpoint that will be used by the AWS SDK.
      title: DynamoDBConnectionConfig
      additionalProperties: false
      description: Configuration for a DynaomDB Connection
    mgmt.v1alpha1.GcpCloudStorageConnectionConfig:
      type: object
      properties:
        bucket:
          type: string
          title: bucket
          minLength: 1
          description: The GCP Cloud Storage bucket that will be accessed.
        pathPrefix:
          type:
            - string
            - "null"
          title: path_prefix
          description: The path prefix that will be appended to each file
        serviceAccountCredentials:
          type:
            - string
            - "null"
          title: service_account_credentials
          description: stringified json of the service account credentials file
      title: GcpCloudStorageConnectionConfig
      additionalProperties: false
      description: Configuration for GCP Cloud Storage Buckets
    mgmt.v1alpha1.GetConnectionRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the connection to get
        excludeSensitive:
          type: boolean
          title: exclude_sensitive
          description: |-
            Whether or not to exclude sensitive data from the connection
             If the caller does not have permission to view sensitive data, the connection will always be returned without sensitive data
             This behavior exists to preserve backwards compatibility that originally always returned sensitive data
      title: GetConnectionRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionResponse:
      type: object
      properties:
        connection:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Connection'
          title: connection
          description: The connection
      title: GetConnectionResponse
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionsRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get connections for
        excludeSensitive:
          type: boolean
          title: exclude_sensitive
          description: |-
            Whether or not to exclude sensitive data from the connection
             If the caller does not have permission to view sensitive data, the connection will always be returned without sensitive data
             This behavior exists to preserve backwards compatibility that originally always returned sensitive data
      title: GetConnectionsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionsResponse:
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.Connection'
          title: connections
          description: The connections
      title: GetConnectionsResponse
      additionalProperties: false
    mgmt.v1alpha1.IsConnectionNameAvailableRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to check the connection name for
        connectionName:
          type: string
          title: connection_name
          pattern: ^[a-z0-9-]{3,100}$
          description: The connection name to check for availability
      title: IsConnectionNameAvailableRequest
      additionalProperties: false
    mgmt.v1alpha1.IsConnectionNameAvailableResponse:
      type: object
      properties:
        isAvailable:
          type: boolean
          title: is_available
          description: Whether or not the connection name is available
      title: IsConnectionNameAvailableResponse
      additionalProperties: false
    mgmt.v1alpha1.JobEngine:
      type: string
      title: JobEngine
      enum:
        - JOB_ENGINE_UNSPECIFIED
        - JOB_ENGINE_ATHANOR
        - JOB_ENGINE_BENTHOS
      description: |-
        Config that contains various timeouts that are configured in the underlying temporal workflow
         More options will come in the future as needed
         Which transformation engine runs a job.
    mgmt.v1alpha1.LocalDirectoryConnectionConfig:
      type: object
      properties:
        path:
          type: string
          title: path
          minLength: 1
          description: The absolute path to a directory that is available on the local file system to the API and Worker nodes
      title: LocalDirectoryConnectionConfig
      additionalProperties: false
      description: Configures a connection to a directory available on the local file system
    mgmt.v1alpha1.MongoConnectionConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - url
      anyOf:
        - type: object
          properties:
            url:
              type: string
              title: url
              description: The full mongo connection url
          title: url
      unevaluatedProperties: false
      properties:
        tunnel:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SSHTunnel'
          title: tunnel
          description: Provide tunnel configuration that can be used to access a connection that is not publicly accessible to the internet
        clientTls:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ClientTlsConfig'
          title: client_tls
          description: Provide client-side TLS Certificates
      title: MongoConnectionConfig
    mgmt.v1alpha1.MssqlConnectionConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - url
            - required:
                - urlFromEnv
      anyOf:
        - type: object
          properties:
            url:
              type: string
              title: url
              description: The URL with sqlserver scheme.
          title: url
        - type: object
          properties:
            urlFromEnv:
              type: string
              title: url_from_env
              description: |-
                Source a url from an environment variable.
                 The value is expected to be in the same format as the "url" field above.
                 The key is the name of the environment variable to source. It must contain a prefix of "USER_DEFINED_"
          title: url_from_env
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - url
              - required:
                  - urlFromEnv
          - not:
              oneOf:
                - required:
                    - url
                - required:
                    - urlFromEnv
      properties:
        connectionOptions:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SqlConnectionOptions'
          title: connection_options
          description: Provide connection options that can be used to further fine-tune the connection
        tunnel:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SSHTunnel'
          title: tunnel
          description: Provide tunnel configuration that can be used to access a postgres connection that is not publicly accessible to the internet
        clientTls:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ClientTlsConfig'
          title: client_tls
          description: Provide client-side TLS Certificates
      title: MssqlConnectionConfig
      description: Configuration for a Mssql Connection
    mgmt.v1alpha1.MysqlConnection:
      type: object
      properties:
        user:
          type: string
          title: user
          description: The user to use for the connection
        pass:
          type: string
          title: pass
          description: The password to use for the connection
        protocol:
          type: string
          title: protocol
          description: The protocol to use for the connection
        host:
          type: string
          title: host
          description: The host to use for the connection
        port:
          type: integer
          title: port
          format: int32
          description: The port to use for the connection
        name:
          type: string
          title: name
          description: The name of the database to use for the connection
      title: MysqlConnection
      additionalProperties: false
    mgmt.v1alpha1.MysqlConnectionConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - url
            - required:
                - connection
            - required:
                - urlFromEnv
      anyOf:
        - type: object
          properties:
            connection:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MysqlConnection'
              title: connection
              description: A structured representation of the connection that will be used to construct the url
          title: connection
        - type: object
          properties:
            url:
              type: string
              title: url
              description: A raw string url that will be used to construct the connection. DSN format. URI format also supported but more limited.
          title: url
        - type: object
          properties:
            urlFromEnv:
              type: string
              title: url_from_env
              description: |-
                Source a url from an environment variable.
                 The value is expected to be in the same format as the "url" field above.
                 The key is the name of the environment variable to source. It must contain a prefix of "USER_DEFINED_"
          title: url_from_env
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - connection
              - required:
                  - url
              - required:
                  - urlFromEnv
          - not:
              oneOf:
                - required:
                    - connection
                - required:
                    - url
                - required:
                    - urlFromEnv
      properties:
        tunnel:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SSHTunnel'
          title: tunnel
          description: Provide tunnel configuration that can be used to access a postgres connection that is not publicly accessible to the internet
        connectionOptions:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SqlConnectionOptions'
          title: connection_options
          description: Provide connection options that can be used to further fine-tune the connection
        clientTls:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ClientTlsConfig'
          title: client_tls
          description: Provide client-side TLS Certificates
      title: MysqlConnectionConfig
    mgmt.v1alpha1.OpenAiConnectionConfig:
      type: object
      properties:
        apiKey:
          type: string
          title: api_key
          description: OpenAI Api Key
        apiUrl:
          type: string
          title: api_url
          description: OpenAI URL (if using a custom endpoint)
      title: OpenAiConnectionConfig
      additionalProperties: false
      description: Configures a connection to OpenAI or OpenAI compatible API.
    mgmt.v1alpha1.PostgresConnection:
      type: object
      properties:
        host:
          type: string
          title: host
          description: The host to use for the connection
        port:
          type: integer
          title: port
          format: int32
          description: The port to use for the connection
        name:
          type: string
          title: name
          description: The name of the database to use for the connection
        user:
          type: string
          title: user
          description: The user to use for the connection
        pass:
          type: string
          title: pass
          description: The password to use for the connection
        sslMode:
          type:
            - string
            - "null"
          title: ssl_mode
          description: The SSL mode to use for the connection
      title: PostgresConnection
      additionalProperties: false
    mgmt.v1alpha1.PostgresConnectionConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - url
            - required:
                - connection
            - required:
                - urlFromEnv
      anyOf:
        - type: object
          properties:
            connection:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PostgresConnection'
              title: connection
              description: A structured representation of the connection that will be used to construct the url
          title: connection
        - type: object
          properties:
            url:
              type: string
              title: url
              description: A raw string url that will be used to construct the connection. Must be URI format.
          title: url
        - type: object
          properties:
            urlFromEnv:
              type: string
              title: url_from_env
              description: |-
                Source a url from an environment variable.
                 The value is expected to be in the same format as the "url" field above.
                 The key is the name of the environment variable to source. It must contain a prefix of "USER_DEFINED_"
          title: url_from_env
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - connection
              - required:
                  - url
              - required:
                  - urlFromEnv
          - not:
              oneOf:
                - required:
                    - connection
                - required:
                    - url
                - required:
                    - urlFromEnv
      properties:
        tunnel:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SSHTunnel'
          title: tunnel
          description: Provide tunnel configuration that can be used to access a postgres connection that is not publicly accessible to the internet
        connectionOptions:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SqlConnectionOptions'
          title: connection_options
          description: Provide connection options that can be used to further fine-tune the connection
        clientTls:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ClientTlsConfig'
          title: client_tls
          description: Provide client-side TLS Certificates
      title: PostgresConnectionConfig
    mgmt.v1alpha1.SSHAuthentication:
      type: object
      allOf:
        - oneOf:
            - required:
                - passphrase
            - required:
                - privateKey
      anyOf:
        - type: object
          properties:
            passphrase:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.SSHPassphrase'
              title: passphrase
              description: Password authentication
          title: passphrase
        - type: object
          properties:
            privateKey:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.SSHPrivateKey'
              title: private_key
              description: Private key authentication
          title: private_key
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - passphrase
              - required:
                  - privateKey
          - not:
              oneOf:
                - required:
                    - passphrase
                - required:
                    - privateKey
      title: SSHAuthentication
      description: SSH Authentication
    mgmt.v1alpha1.SSHPassphrase:
      type: object
      properties:
        value:
          type: string
          title: value
          minLength: 1
          description: The password to be used to connect to the SSH server eventually we can expand this to allow pulling from other sources.
      title: SSHPassphrase
      additionalProperties: false
      description: Contains the configuration needed to retrieve the SSH passphrase for the tunnel
    mgmt.v1alpha1.SSHPrivateKey:
      type: object
      properties:
        value:
          type: string
          title: value
          minLength: 1
          description: The private key in PEM format.
        passphrase:
          type:
            - string
            - "null"
          title: passphrase
          description: If the private key is encrypted, this value should decrypt it.
      title: SSHPrivateKey
      additionalProperties: false
      description: Contains the configuration needed to retrieve the SSH private key for the tunnel
    mgmt.v1alpha1.SSHTunnel:
      type: object
      properties:
        host:
          type: string
          title: host
          minLength: 1
          description: The host of the SSH server
        port:
          type: integer
          title: port
          minimum: 0
          format: int32
          description: The port of the SSH server, typically 22
        user:
          type: string
          title: user
          minLength: 1
          description: The user that will be used to authenticate
        knownHostPublicKey:
          type:
            - string
            - "null"
          title: known_host_public_key
          minLength: 1
          description: |-
            Optionally provide the public key of the known host of the SSH tunnel that we are connecting to.
             If this is not provided, the server will blindly connect to the host with the given credentials.
             This is not recommended for production use!
        authentication:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SSHAuthentication'
          title: authentication
          description: Provide the authentication required to successfully connect to the SSH server for tunneling
      title: SSHTunnel
      additionalProperties: false
    mgmt.v1alpha1.SqlConnectionOptions:
      type: object
      properties:
        maxConnectionLimit:
          type:
            - integer
            - "null"
          title: max_connection_limit
          format: int32
          description: |-
            Sets the maximum number of open connections
             If this value is greater than 0, but less than the max_idle_connections, then max_idle_connections will be reduced to match the max_connection_limit
             If this value is less than or equal to 0, then there is no limit on the number of open connections. If not provided, the default is 0 (unlimited).
        maxIdleConnections:
          type:
            - integer
            - "null"
          title: max_idle_connections
          format: int32
          description: |-
            Sets the maximum number of connections in the idle connection pool.
             This value will be reduced at runtime to match the max_connection_limit if max_connection_limit is greater than 0 but less than this value.
             If this value is less than or equal to 0, then no idle connections are maintained. If not provided, the default is 2, which may change in a future release.
        maxIdleDuration:
          type:
            - string
            - "null"
          title: max_idle_duration
          description: |-
            Sets the maximum amount of time a connection may be idle.
             Expired connections may be closed lazily before reuse.
             if this value is less than or equal to 0, connections are not closed due to a connection's idle time.
             This value is parsed as a Go duration string (ex: 1s, 1m, 500ms)
        maxOpenDuration:
          type:
            - string
            - "null"
          title: max_open_duration
          description: |-
            Sets the maximum amount of time a connection may be reused.
             Expired connections may be closed lazily before reuse.
             If this value is less than or equal to 0, connections may not be closed due to a connection's age.
             This value is parsed as a Go duration string (ex: 1s, 1m, 500ms)
      title: SqlConnectionOptions
      additionalProperties: false
    mgmt.v1alpha1.UpdateConnectionRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the connection to update
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The friendly name of the connection
        connectionConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionConfig'
          title: connection_config
          description: The connection configuration to use for the connection
      title: UpdateConnectionRequest
      additionalProperties: false
    mgmt.v1alpha1.UpdateConnectionResponse:
      type: object
      properties:
        connection:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Connection'
          title: connection
          description: The updated connection
      title: UpdateConnectionResponse
      additionalProperties: false
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.ConnectionService/CheckConnectionConfig:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckConnectionConfig
      description: |-
        Checks if the connection config is connectable by the backend.
         Used mostly to verify that a connection is valid prior to creating a Connection object.
      operationId: mgmt.v1alpha1.ConnectionService.CheckConnectionConfig
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckConnectionConfigRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CheckConnectionConfigResponse'
  /mgmt.v1alpha1.ConnectionService/CheckConnectionConfigById:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckConnectionConfigById
      description: |-
        Checks if the connection id is connectable by the backend.
         Used to verify that a connection is still connectable.
      operationId: mgmt.v1alpha1.ConnectionService.CheckConnectionConfigById
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckConnectionConfigByIdRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CheckConnectionConfigByIdResponse'
  /mgmt.v1alpha1.ConnectionService/CheckSSHConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckSSHConnection
      description: Checks if the SSH server is reachable and accessible with the given credentials
      operationId: mgmt.v1alpha1.ConnectionService.CheckSSHConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckSSHConnectionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CheckSSHConnectionResponse'
  /mgmt.v1alpha1.ConnectionService/CheckSSHConnectionById:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckSSHConnectionById
      description: Checks if the SSH server is reachable and accessible with the given credentials
      operationId: mgmt.v1alpha1.ConnectionService.CheckSSHConnectionById
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckSSHConnectionByIdRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CheckSSHConnectionByIdResponse'
  /mgmt.v1alpha1.ConnectionService/CheckSqlQuery:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckSqlQuery
      description: |-
        Checks a constructed SQL query against a sql-based connection to see if it's valid based on that connection's data schema
         This is useful when constructing subsets to see if the WHERE clause is correct
      operationId: mgmt.v1alpha1.ConnectionService.CheckSqlQuery
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckSqlQueryRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CheckSqlQueryResponse'
  /mgmt.v1alpha1.ConnectionService/CreateConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CreateConnection
      description: Creates a new connection
      operationId: mgmt.v1alpha1.ConnectionService.CreateConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateConnectionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateConnectionResponse'
  /mgmt.v1alpha1.ConnectionService/DeleteConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: DeleteConnection
      description: Removes a connection from the system.
      operationId: mgmt.v1alpha1.ConnectionService.DeleteConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteConnectionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteConnectionResponse'
  /mgmt.v1alpha1.ConnectionService/GetConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: GetConnection
      description: Returns a single connection
      operationId: mgmt.v1alpha1.ConnectionService.GetConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionResponse'
  /mgmt.v1alpha1.ConnectionService/GetConnections:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: GetConnections
      description: Returns a list of connections associated with the account
      operationId: mgmt.v1alpha1.ConnectionService.GetConnections
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionsResponse'
  /mgmt.v1alpha1.ConnectionService/IsConnectionNameAvailable:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: IsConnectionNameAvailable
      description: Connections have friendly names, this method checks if the requested name is available in the system based on the account
      operationId: mgmt.v1alpha1.ConnectionService.IsConnectionNameAvailable
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.IsConnectionNameAvailableRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.IsConnectionNameAvailableResponse'
  /mgmt.v1alpha1.ConnectionService/UpdateConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: UpdateConnection
      description: Updates an existing connection
      operationId: mgmt.v1alpha1.ConnectionService.UpdateConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.UpdateConnectionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.UpdateConnectionResponse'
tags:
  - name: mgmt.v1alpha1.ConnectionService
    description: |-
      Service for managing datasource connections.
       This is a primary data model in Husonym and is used in reference when hooking up Jobs to synchronize and generate data.
