openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.ListValue:
      type: array
      items:
        $ref: '#/components/schemas/google.protobuf.Value'
      description: A JSON array whose elements may be any JSON value.
    google.protobuf.NullValue:
      type: string
      title: NullValue
      enum:
        - NULL_VALUE
      description: |-
        Represents a JSON `null`.

         `NullValue` is a sentinel, using an enum with only one value to represent
         the null value for the `Value` type union.

         A field of type `NullValue` with any value other than `0` is considered
         invalid. Most ProtoJSON serializers will emit a Value with a `null_value` set
         as a JSON `null` regardless of the integer value, and so will round trip to
         a `0` value.
    google.protobuf.Struct:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/google.protobuf.Value'
      description: A JSON object whose property values may be any JSON value.
    google.protobuf.Value:
      oneOf:
        - type: "null"
        - type: number
        - type: string
        - type: boolean
        - type: array
        - type: object
          additionalProperties: true
      description: 'Any JSON value: `null`, number, string, boolean, array, or object.'
    mgmt.v1alpha1.AwsDynamoDBStreamConfig:
      type: object
      title: AwsDynamoDBStreamConfig
      additionalProperties: false
    mgmt.v1alpha1.AwsS3SchemaConfig:
      type: object
      anyOf:
        - type: object
          properties:
            jobId:
              type: string
              title: job_id
              format: uuid
              description: The unique identifier of the job to get the schema for.
          title: job_id
        - type: object
          properties:
            jobRunId:
              type: string
              title: job_run_id
              minLength: 1
              description: The unique identifier of the job run to get the schema for.
          title: job_run_id
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - jobId
              - required:
                  - jobRunId
          - not:
              oneOf:
                - required:
                    - jobId
                - required:
                    - jobRunId
      title: AwsS3SchemaConfig
    mgmt.v1alpha1.AwsS3StreamConfig:
      type: object
      anyOf:
        - type: object
          properties:
            jobId:
              type: string
              title: job_id
              format: uuid
              description: The unique identifier of the job to get the data stream for.
          title: job_id
        - type: object
          properties:
            jobRunId:
              type: string
              title: job_run_id
              minLength: 1
              description: The unique identifier of the job run to get the data stream for.
          title: job_run_id
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - jobId
              - required:
                  - jobRunId
          - not:
              oneOf:
                - required:
                    - jobId
                - required:
                    - jobRunId
      title: AwsS3StreamConfig
    mgmt.v1alpha1.ColumnPiiDetection:
      type: object
      properties:
        schema:
          type: string
          title: schema
        table:
          type: string
          title: table
        column:
          type: string
          title: column
        entityType:
          type: string
          title: entity_type
          description: 'Dominant Presidio entity type detected (ex: EMAIL_ADDRESS). Empty if none.'
        score:
          type: number
          title: score
          format: float
          description: Average score of the detected entity in [0,1].
        suggestedTransformerSource:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerSource'
          title: suggested_transformer_source
          description: Recommended transformer for this entity.
        isSensitive:
          type: boolean
          title: is_sensitive
          description: True if the column is considered personal data (GDPR).
        matchCount:
          type: integer
          title: match_count
          description: Number of sampled values in which the entity was found.
        sampledCount:
          type: integer
          title: sampled_count
          description: Total number of non-empty sampled values analyzed.
        dataCategory:
          type: string
          title: data_category
          description: 'Catégorie sémantique déduite de l''entité (ex: "email", "nir"). Alimente le libellé du badge.'
        piiConfidence:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiConfidence'
          title: pii_confidence
          description: |-
            Niveau de confiance. Une détection issue d'une clé de contrôle est CONFIRMED,
             une détection Presidio est NEEDS_REVIEW.
        piiDetectionMethod:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiDetectionMethod'
          title: pii_detection_method
          description: Comment la détection a été obtenue.
        piiEvidence:
          type: string
          title: pii_evidence
          description: Détail lisible de la preuve, pour l'infobulle.
      title: ColumnPiiDetection
      additionalProperties: false
      description: PII detected in a column by analyzing sampled content (Presidio).
    mgmt.v1alpha1.ColumnSampleValue:
      type: object
      properties:
        value:
          type: string
          title: value
          description: Représentation textuelle de la valeur. Vide si is_null.
        isNull:
          type: boolean
          title: is_null
          description: |-
            Distingue un NULL d'une chaîne vide — la différence compte pour juger d'une
             colonne (« vide » et « absent » ne se traitent pas pareil).
      title: ColumnSampleValue
      additionalProperties: false
    mgmt.v1alpha1.ColumnTransformerPreview:
      type: object
      properties:
        input:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ColumnSampleValue'
          title: input
          description: The value as read from the source.
        output:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ColumnSampleValue'
            - type: "null"
          title: output
          description: What the transformer produced. Unset when it failed on this value.
        error:
          type:
            - string
            - "null"
          title: error
          description: Why the transformer failed on this value, when it did.
      title: ColumnTransformerPreview
      additionalProperties: false
      description: One sampled value and what the transformer made of it.
    mgmt.v1alpha1.ConnectionSchemaConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - pgConfig
            - required:
                - awsS3Config
            - required:
                - mysqlConfig
            - required:
                - mongoConfig
            - required:
                - gcpCloudstorageConfig
            - required:
                - dynamodbConfig
            - required:
                - mssqlConfig
      anyOf:
        - type: object
          properties:
            awsS3Config:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3SchemaConfig'
              title: aws_s3_config
          title: aws_s3_config
        - type: object
          properties:
            dynamodbConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBSchemaConfig'
              title: dynamodb_config
          title: dynamodb_config
        - type: object
          properties:
            gcpCloudstorageConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GcpCloudStorageSchemaConfig'
              title: gcp_cloudstorage_config
          title: gcp_cloudstorage_config
        - type: object
          properties:
            mongoConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MongoSchemaConfig'
              title: mongo_config
          title: mongo_config
        - type: object
          properties:
            mssqlConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MssqlSchemaConfig'
              title: mssql_config
          title: mssql_config
        - type: object
          properties:
            mysqlConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MysqlSchemaConfig'
              title: mysql_config
          title: mysql_config
        - type: object
          properties:
            pgConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PostgresSchemaConfig'
              title: pg_config
          title: pg_config
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - awsS3Config
              - required:
                  - dynamodbConfig
              - required:
                  - gcpCloudstorageConfig
              - required:
                  - mongoConfig
              - required:
                  - mssqlConfig
              - required:
                  - mysqlConfig
              - required:
                  - pgConfig
          - not:
              oneOf:
                - required:
                    - awsS3Config
                - required:
                    - dynamodbConfig
                - required:
                    - gcpCloudstorageConfig
                - required:
                    - mongoConfig
                - required:
                    - mssqlConfig
                - required:
                    - mysqlConfig
                - required:
                    - pgConfig
      title: ConnectionSchemaConfig
    mgmt.v1alpha1.ConnectionStreamConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - pgConfig
            - required:
                - awsS3Config
            - required:
                - mysqlConfig
            - required:
                - gcpCloudstorageConfig
            - required:
                - dynamodbConfig
      anyOf:
        - type: object
          properties:
            awsS3Config:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3StreamConfig'
              title: aws_s3_config
          title: aws_s3_config
        - type: object
          properties:
            dynamodbConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AwsDynamoDBStreamConfig'
              title: dynamodb_config
          title: dynamodb_config
        - type: object
          properties:
            gcpCloudstorageConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GcpCloudStorageStreamConfig'
              title: gcp_cloudstorage_config
          title: gcp_cloudstorage_config
        - type: object
          properties:
            mysqlConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MysqlStreamConfig'
              title: mysql_config
          title: mysql_config
        - type: object
          properties:
            pgConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PostgresStreamConfig'
              title: pg_config
          title: pg_config
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - awsS3Config
              - required:
                  - dynamodbConfig
              - required:
                  - gcpCloudstorageConfig
              - required:
                  - mysqlConfig
              - required:
                  - pgConfig
          - not:
              oneOf:
                - required:
                    - awsS3Config
                - required:
                    - dynamodbConfig
                - required:
                    - gcpCloudstorageConfig
                - required:
                    - mysqlConfig
                - required:
                    - pgConfig
      title: ConnectionStreamConfig
    mgmt.v1alpha1.DatabaseColumn:
      type: object
      properties:
        schema:
          type: string
          title: schema
          description: 'The database schema. Ex: public'
        table:
          type: string
          title: table
          description: The name of the table in the schema
        column:
          type: string
          title: column
          description: The name of the column
        dataType:
          type: string
          title: data_type
          description: The datatype of the column
        isNullable:
          type: string
          title: is_nullable
          description: The isNullable Flag of the column
        columnDefault:
          type:
            - string
            - "null"
          title: column_default
          description: The default value of the column if available
        generatedType:
          type:
            - string
            - "null"
          title: generated_type
          description: |-
            Populated if the column is generated. The value is the type of generated column it is. For example, postgres is 's' for stored
             May be other values in the future, or other DB providers may use a different value types.
        identityGeneration:
          type:
            - string
            - "null"
          title: identity_generation
          description: Populated if the column is an identity. The value is the type of the identity column it is. For example, postgres is 'd' for generated by default, or 'a' for generated always.
        characterMaximumLength:
          type:
            - integer
            - "null"
          title: character_maximum_length
          format: int32
          description: |-
            How many characters the column accepts, when its type bounds them. Absent for types that
             bound nothing. It cannot be read back from data_type: MySQL reports `varchar` there and
             keeps the length in column_type, so anything parsing data_type finds no bound on MySQL.
        dataCategory:
          type: string
          title: data_category
          description: 'Nature sémantique détectée pour cette colonne (heuristique nom+type SQL). Ex: "email", "phone_number", "person_full_name". Vide si rien de détecté.'
        isSensitive:
          type: boolean
          title: is_sensitive
          description: True si la colonne est considérée comme une donnée à caractère personnel (RGPD).
        suggestedTransformerSource:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerSource'
          title: suggested_transformer_source
          description: Transformer recommandé pour anonymiser cette colonne. TRANSFORMER_SOURCE_UNSPECIFIED si aucune suggestion.
        piiConfidence:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiConfidence'
          title: pii_confidence
          description: |-
            Niveau de confiance de la détection. Seul CONFIRMED autorise l'application
             automatique du transformer suggéré.
        piiDetectionMethod:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiDetectionMethod'
          title: pii_detection_method
          description: Comment la détection a été obtenue.
        piiEvidence:
          type: string
          title: pii_evidence
          description: |-
            Détail lisible de la preuve, pour l'infobulle. Ex: "clé NIR valide sur 18/18 valeurs",
             "format jj/mm/aaaa prouvé (14 valeurs avec jour > 12)", "format ambigu : jj/mm ou mm/jj".
      title: DatabaseColumn
      additionalProperties: false
    mgmt.v1alpha1.DatabaseTable:
      type: object
      properties:
        schema:
          type: string
          title: schema
          minLength: 1
          description: The schema of the table
        table:
          type: string
          title: table
          minLength: 1
          description: The table name
      title: DatabaseTable
      additionalProperties: false
    mgmt.v1alpha1.DetectPiiInConnectionDataRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to scan.
        schema:
          type: string
          title: schema
          minLength: 1
          description: The schema of the table to scan.
        table:
          type: string
          title: table
          minLength: 1
          description: The table to scan.
        columns:
          type: array
          items:
            type: string
          title: columns
          description: Columns to analyze. Empty means every column of the table.
        sampleSize:
          type: integer
          title: sample_size
          description: Number of sampled values per column (default 20).
        scoreThreshold:
          type: number
          title: score_threshold
          format: float
          description: Presidio score threshold in [0,1] (default 0.5).
        language:
          type: string
          title: language
          description: 'Content language (ISO 639-1). Default: server default or "en".'
      title: DetectPiiInConnectionDataRequest
      additionalProperties: false
    mgmt.v1alpha1.DetectPiiInConnectionDataResponse:
      type: object
      properties:
        detections:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ColumnPiiDetection'
          title: detections
      title: DetectPiiInConnectionDataResponse
      additionalProperties: false
    mgmt.v1alpha1.DynamoDBSchemaConfig:
      type: object
      title: DynamoDBSchemaConfig
      additionalProperties: false
    mgmt.v1alpha1.ForeignConstraint:
      type: object
      properties:
        foreignKey:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ForeignKey'
          title: foreign_key
          description: The foreign key that is associated with the constraint
        columns:
          type: array
          items:
            type: string
          title: columns
          description: The columns that are part of the constraint
        notNullable:
          type: array
          items:
            type: boolean
          title: not_nullable
          description: The not nullable flag for each column
      title: ForeignConstraint
      additionalProperties: false
    mgmt.v1alpha1.ForeignConstraintTables:
      type: object
      properties:
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ForeignConstraint'
          title: constraints
          description: A list of foreign key constraints
      title: ForeignConstraintTables
      additionalProperties: false
    mgmt.v1alpha1.ForeignKey:
      type: object
      properties:
        table:
          type: string
          title: table
          description: The table that the foreign key is associated with
        columns:
          type: array
          items:
            type: string
          title: columns
          description: The columns that are part of the foreign key
      title: ForeignKey
      additionalProperties: false
    mgmt.v1alpha1.GcpCloudStorageSchemaConfig:
      type: object
      anyOf:
        - type: object
          properties:
            jobId:
              type: string
              title: job_id
              format: uuid
              description: The unique identifier of the job to get the schema for.
          title: job_id
        - type: object
          properties:
            jobRunId:
              type: string
              title: job_run_id
              minLength: 1
              description: The unique identifier of the job run to get the schema for.
          title: job_run_id
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - jobId
              - required:
                  - jobRunId
          - not:
              oneOf:
                - required:
                    - jobId
                - required:
                    - jobRunId
      title: GcpCloudStorageSchemaConfig
    mgmt.v1alpha1.GcpCloudStorageStreamConfig:
      type: object
      anyOf:
        - type: object
          properties:
            jobId:
              type: string
              title: job_id
              format: uuid
              description: The unique identifier of the job to get the data stream for.
          title: job_id
        - type: object
          properties:
            jobRunId:
              type: string
              title: job_run_id
              minLength: 1
              description: The unique identifier of the job run to get the data stream for.
          title: job_run_id
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - jobId
              - required:
                  - jobRunId
          - not:
              oneOf:
                - required:
                    - jobId
                - required:
                    - jobRunId
      title: GcpCloudStorageStreamConfig
    mgmt.v1alpha1.GenerateBool:
      type: object
      title: GenerateBool
      additionalProperties: false
    mgmt.v1alpha1.GenerateBusinessName:
      type: object
      title: GenerateBusinessName
      additionalProperties: false
    mgmt.v1alpha1.GenerateCardNumber:
      type: object
      properties:
        validLuhn:
          type:
            - boolean
            - "null"
          title: valid_luhn
          description: Whether or not to validate the card number using the Luhn algorithm.
      title: GenerateCardNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateCategorical:
      type: object
      properties:
        categories:
          type:
            - string
            - "null"
          title: categories
          description: A comma separated list of categories that will be used to generate a random value from.
      title: GenerateCategorical
      additionalProperties: false
    mgmt.v1alpha1.GenerateCity:
      type: object
      title: GenerateCity
      additionalProperties: false
    mgmt.v1alpha1.GenerateCountry:
      type: object
      properties:
        generateFullName:
          type:
            - boolean
            - "null"
          title: generate_full_name
          description: An option to return the full country name of the randomly selected country or return the default of a 2-letter country code.
      title: GenerateCountry
      additionalProperties: false
    mgmt.v1alpha1.GenerateDefault:
      type: object
      title: GenerateDefault
      additionalProperties: false
    mgmt.v1alpha1.GenerateE164PhoneNumber:
      type: object
      properties:
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum length of the phone number to generate.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum length of the phone number to generate.
      title: GenerateE164PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateEmail:
      type: object
      properties:
        emailType:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateEmailType'
            - type: "null"
          title: email_type
          description: Optionally specify the type of email to generate. The types specified determine the contents on the left side of the @.
      title: GenerateEmail
      additionalProperties: false
    mgmt.v1alpha1.GenerateEmailType:
      type: string
      title: GenerateEmailType
      enum:
        - GENERATE_EMAIL_TYPE_UNSPECIFIED
        - GENERATE_EMAIL_TYPE_UUID_V4
        - GENERATE_EMAIL_TYPE_FULLNAME
    mgmt.v1alpha1.GenerateFirstName:
      type: object
      title: GenerateFirstName
      additionalProperties: false
    mgmt.v1alpha1.GenerateFloat64:
      type: object
      properties:
        randomizeSign:
          type:
            - boolean
            - "null"
          title: randomize_sign
          description: Whether or not to randomize the sign of the float64.
        min:
          type:
            - number
            - "null"
          title: min
          format: double
          description: The minimum value to randomize the float64 to.
        max:
          type:
            - number
            - "null"
          title: max
          format: double
          description: The maximum value to randomize the float64 to.
        precision:
          type:
            - string
            - "null"
          title: precision
          format: int64
          description: The precision of the float64 to generate.
      title: GenerateFloat64
      additionalProperties: false
    mgmt.v1alpha1.GenerateFullAddress:
      type: object
      title: GenerateFullAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateFullName:
      type: object
      title: GenerateFullName
      additionalProperties: false
    mgmt.v1alpha1.GenerateGender:
      type: object
      properties:
        abbreviate:
          type:
            - boolean
            - "null"
          title: abbreviate
          description: Whether or not to abbreviate the gender.
      title: GenerateGender
      additionalProperties: false
    mgmt.v1alpha1.GenerateInt64:
      type: object
      properties:
        randomizeSign:
          type:
            - boolean
            - "null"
          title: randomize_sign
          description: Whether or not to randomize the sign of the int64.
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum value to randomize the int64 to.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum value to randomize the int64 to.
      title: GenerateInt64
      additionalProperties: false
    mgmt.v1alpha1.GenerateInt64PhoneNumber:
      type: object
      title: GenerateInt64PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateIpAddress:
      type: object
      properties:
        ipType:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateIpAddressType'
            - type: "null"
          title: ip_type
          description: Optionally specify the type of ip address to generate.
      title: GenerateIpAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateIpAddressType:
      type: string
      title: GenerateIpAddressType
      enum:
        - GENERATE_IP_ADDRESS_TYPE_UNSPECIFIED
        - GENERATE_IP_ADDRESS_TYPE_V4_PUBLIC
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_A
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_B
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_C
        - GENERATE_IP_ADDRESS_TYPE_V4_LINK_LOCAL
        - GENERATE_IP_ADDRESS_TYPE_V4_MULTICAST
        - GENERATE_IP_ADDRESS_TYPE_V4_LOOPBACK
        - GENERATE_IP_ADDRESS_TYPE_V6
    mgmt.v1alpha1.GenerateJavascript:
      type: object
      properties:
        code:
          type: string
          title: code
          description: The user provided javascript code that will be executed in the transformer
      title: GenerateJavascript
      additionalProperties: false
    mgmt.v1alpha1.GenerateLastName:
      type: object
      title: GenerateLastName
      additionalProperties: false
    mgmt.v1alpha1.GenerateSSN:
      type: object
      title: GenerateSSN
      additionalProperties: false
    mgmt.v1alpha1.GenerateSha256Hash:
      type: object
      title: GenerateSha256Hash
      additionalProperties: false
    mgmt.v1alpha1.GenerateState:
      type: object
      properties:
        generateFullName:
          type:
            - boolean
            - "null"
          title: generate_full_name
          description: An option to return the full state name of the randomly selected state or return the default of a 2-letter state code.
      title: GenerateState
      additionalProperties: false
    mgmt.v1alpha1.GenerateStreetAddress:
      type: object
      title: GenerateStreetAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateString:
      type: object
      properties:
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum length of the string to generate.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum length of the string to generate.
      title: GenerateString
      additionalProperties: false
    mgmt.v1alpha1.GenerateStringPhoneNumber:
      type: object
      properties:
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum length of the phone number to generate.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum length of the phone number to generate.
      title: GenerateStringPhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateUnixTimestamp:
      type: object
      title: GenerateUnixTimestamp
      additionalProperties: false
    mgmt.v1alpha1.GenerateUsername:
      type: object
      title: GenerateUsername
      additionalProperties: false
    mgmt.v1alpha1.GenerateUtcTimestamp:
      type: object
      title: GenerateUtcTimestamp
      additionalProperties: false
    mgmt.v1alpha1.GenerateUuid:
      type: object
      properties:
        includeHyphens:
          type:
            - boolean
            - "null"
          title: include_hyphens
          description: Whether or not to include hyphens in the uuid. Defaults to true. If false, the uuid will be returned without hyphens.
      title: GenerateUuid
      additionalProperties: false
    mgmt.v1alpha1.GenerateZipcode:
      type: object
      title: GenerateZipcode
      additionalProperties: false
    mgmt.v1alpha1.GetAiGeneratedDataRequest:
      type: object
      properties:
        aiConnectionId:
          type: string
          title: ai_connection_id
          format: uuid
          description: The unique identifier of a connection, specifically one that is configured for LLM use.
        count:
          type: string
          title: count
          maximum: 10
          minimum: 1
          format: int64
          description: The number of records to generate
        modelName:
          type: string
          title: model_name
          minLength: 1
          description: The LLM model name to use that works with the configured connection id.
        userPrompt:
          type:
            - string
            - "null"
          title: user_prompt
          description: The prompt that will be used to further refine the data generation. This is appended to the prompt that Husonym generates that includes schema information.
        dataConnectionId:
          type: string
          title: data_connection_id
          format: uuid
          description: The unique identifier of a connection that the AI generated data would be inserted into. This is used to generate and send schema information to the LLM to help shape the generated data.
        table:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.DatabaseTable'
          title: table
          description: The table to generate data for.
      title: GetAiGeneratedDataRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAiGeneratedDataResponse:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/google.protobuf.Struct'
          title: records
          description: A list of generated records
      title: GetAiGeneratedDataResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAllSchemasAndTablesRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to get the all schema tables for.
      title: GetAllSchemasAndTablesRequest
      additionalProperties: false
      description: Request to get all the schemas and tables for a connection
    mgmt.v1alpha1.GetAllSchemasAndTablesResponse:
      type: object
      properties:
        schemas:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.GetAllSchemasAndTablesResponse.Schema'
          title: schemas
          description: A list of all the schemas for a connection. Empty schemas (those without any tables) will appear in this list.
        tables:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.GetAllSchemasAndTablesResponse.Table'
          title: tables
          description: A list of all the tables for the connection
      title: GetAllSchemasAndTablesResponse
      additionalProperties: false
      description: A list of all the schemas and tables for a connection
    mgmt.v1alpha1.GetAllSchemasAndTablesResponse.Schema:
      type: object
      properties:
        name:
          type: string
          title: name
          description: The name of the schema
      title: Schema
      additionalProperties: false
      description: A schema
    mgmt.v1alpha1.GetAllSchemasAndTablesResponse.Table:
      type: object
      properties:
        schemaName:
          type: string
          title: schema_name
          description: The name of the schema
        tableName:
          type: string
          title: table_name
          description: The name of the table
      title: Table
      additionalProperties: false
      description: A table in a schema
    mgmt.v1alpha1.GetColumnSampleValuesRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to read from.
        schema:
          type: string
          title: schema
          minLength: 1
          description: The schema of the table.
        table:
          type: string
          title: table
          minLength: 1
          description: The table to read.
        column:
          type: string
          title: column
          minLength: 1
          description: The column whose values are returned.
        limit:
          type: integer
          title: limit
          description: Number of rows to return (default 20, max 200).
      title: GetColumnSampleValuesRequest
      additionalProperties: false
      description: |-
        Échantillon des valeurs d'une colonne, pour lever un doute sur une détection
         RGPD en regardant les données réelles.
    mgmt.v1alpha1.GetColumnSampleValuesResponse:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ColumnSampleValue'
          title: values
      title: GetColumnSampleValuesResponse
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionDataStreamRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to get the data stream for.
        streamConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionStreamConfig'
          title: stream_config
          description: The stream configuration to use for the data stream.
        schema:
          type: string
          title: schema
          description: The schema of the table to get the data stream for.
        table:
          type: string
          title: table
          description: The table to get the data stream for.
      title: GetConnectionDataStreamRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionDataStreamResponse:
      type: object
      properties:
        rowBytes:
          type: string
          title: row_bytes
          format: byte
          description: A map of column name to column value, where the value is serialized as bytes. The value represents a map[string]any structure.
      title: GetConnectionDataStreamResponse
      additionalProperties: false
      description: Each stream response is a single row in the requested schema and table
    mgmt.v1alpha1.GetConnectionInitStatementsRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to get the init statements for.
        options:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.InitStatementOptions'
          title: options
          description: The options to use for the init statements.
      title: GetConnectionInitStatementsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionInitStatementsResponse:
      type: object
      properties:
        tableTruncateStatements:
          type: object
          title: table_truncate_statements
          additionalProperties:
            type: string
            title: value
          description: The key here is <schema>.<table> and value is the table truncate statement.
        schemaInitStatements:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.SchemaInitStatements'
          title: schema_init_statements
          description: A list of schema initialization statements
      title: GetConnectionInitStatementsResponse
      additionalProperties: false
      description: Init statement for a specific table
    mgmt.v1alpha1.GetConnectionSchemaMapRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to get the schema map for.
        schemaConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionSchemaConfig'
          title: schema_config
          description: The schema configuration to use for the schema map.
      title: GetConnectionSchemaMapRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionSchemaMapResponse:
      type: object
      properties:
        schemaMap:
          type: object
          title: schema_map
          additionalProperties:
            allOf:
              - $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionSchemaResponse'
            title: value
          description: Returns the database columns separated by the fully qualified <schema>.<table>
      title: GetConnectionSchemaMapResponse
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionSchemaMapsRequest:
      type: object
      properties:
        requests:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionSchemaMapRequest'
          title: requests
          description: List of connection schema maps to request
      title: GetConnectionSchemaMapsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionSchemaMapsResponse:
      type: object
      properties:
        responses:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionSchemaMapResponse'
          title: responses
          description: List of responses in the same order as the input
        connectionIds:
          type: array
          items:
            type: string
          title: connection_ids
          description: Parallel array of each connection id that matches with the response
      title: GetConnectionSchemaMapsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionSchemaRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to get the schema for.
        schemaConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ConnectionSchemaConfig'
          title: schema_config
          description: The schema configuration to use for the schema map.
      title: GetConnectionSchemaRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionSchemaResponse:
      type: object
      properties:
        schemas:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.DatabaseColumn'
          title: schemas
          description: The list of database columns
      title: GetConnectionSchemaResponse
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionTableConstraintsRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to get the constraints for.
      title: GetConnectionTableConstraintsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetConnectionTableConstraintsResponse:
      type: object
      properties:
        foreignKeyConstraints:
          type: object
          title: foreign_key_constraints
          additionalProperties:
            allOf:
              - $ref: '#/components/schemas/mgmt.v1alpha1.ForeignConstraintTables'
            title: value
          description: the key here is <schema>.<table> and the list of tables that it depends on, also `<schema>.<table>` format.
        primaryKeyConstraints:
          type: object
          title: primary_key_constraints
          additionalProperties:
            allOf:
              - $ref: '#/components/schemas/mgmt.v1alpha1.PrimaryConstraint'
            title: value
          description: the key here is <schema>.<table> and value is the primary constraint
        uniqueConstraints:
          type: object
          title: unique_constraints
          additionalProperties:
            allOf:
              - $ref: '#/components/schemas/mgmt.v1alpha1.UniqueConstraints'
            title: value
          description: the key here is <schema>.<table> and value is the unique constraint
        uniqueIndexes:
          type: object
          title: unique_indexes
          additionalProperties:
            allOf:
              - $ref: '#/components/schemas/mgmt.v1alpha1.UniqueIndexes'
            title: value
          description: the key here is <schema>.<table> and value is the unique index
      title: GetConnectionTableConstraintsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJavascriptDraftPromptRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The connection whose schema describes the column.
        schema:
          type: string
          title: schema
          minLength: 1
          description: The schema of the table.
        table:
          type: string
          title: table
          minLength: 1
          description: The table the column belongs to.
        column:
          type: string
          title: column
          minLength: 1
          description: The column a rule is being drafted for.
        mode:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JavascriptDraftMode'
          title: mode
          description: What the rule derives its output from. Defaults to transform.
        engine:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JavascriptDraftEngine'
          title: engine
          description: |-
            The engine that will run it. Unspecified means athanor — a product choice, not the
             deployment's state: ENABLE_ATHANOR_ENGINE is off by default and only the worker reads it,
             so the server cannot observe which engine a job will get. Athanor is where the product is
             going and Benthos is on its way out, so a caller on a Benthos deployment says so.
      title: GetJavascriptDraftPromptRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJavascriptDraftPromptResponse:
      type: object
      properties:
        prompt:
          type: string
          title: prompt
          description: |-
            The prompt, ready to send to a model. It carries the execution contract, the column's
             constraints and the functions in scope — never any of the column's values.
      title: GetJavascriptDraftPromptResponse
      additionalProperties: false
    mgmt.v1alpha1.GetTableRowCountRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique identifier of the connection to get the row count for.
        schema:
          type: string
          title: schema
          minLength: 1
          description: The schema of the table to get the row count for.
        table:
          type: string
          title: table
          minLength: 1
          description: The table to get the row count for.
        whereClause:
          type:
            - string
            - "null"
          title: where_clause
          description: The optional where clause to filter the rows by.
      title: GetTableRowCountRequest
      additionalProperties: false
    mgmt.v1alpha1.GetTableRowCountResponse:
      type: object
      properties:
        count:
          type: string
          title: count
          format: int64
          description: The count of the rows in the table
      title: GetTableRowCountResponse
      additionalProperties: false
    mgmt.v1alpha1.InitStatementOptions:
      type: object
      properties:
        initSchema:
          type: boolean
          title: init_schema
          description: Whether or not to generate schema init statements.
        truncateBeforeInsert:
          type: boolean
          title: truncate_before_insert
          description: Whether or not to generate truncation statements
        truncateCascade:
          type: boolean
          title: truncate_cascade
          description: Whether or not to generate truncate cascade statements.
      title: InitStatementOptions
      additionalProperties: false
    mgmt.v1alpha1.InvalidEmailAction:
      type: string
      title: InvalidEmailAction
      enum:
        - INVALID_EMAIL_ACTION_UNSPECIFIED
        - INVALID_EMAIL_ACTION_REJECT
        - INVALID_EMAIL_ACTION_NULL
        - INVALID_EMAIL_ACTION_PASSTHROUGH
        - INVALID_EMAIL_ACTION_GENERATE
      description: Action enumeration that dictates what the transform_email transformer should do in the case that it encounters an email that does not conform to RFC 5322
    mgmt.v1alpha1.JavascriptDraftEngine:
      type: string
      title: JavascriptDraftEngine
      enum:
        - JAVASCRIPT_DRAFT_ENGINE_UNSPECIFIED
        - JAVASCRIPT_DRAFT_ENGINE_ATHANOR
        - JAVASCRIPT_DRAFT_ENGINE_BENTHOS
      description: |-
        The engine that will run the drafted rule. It decides what the rule may call: the
         deterministic pseudo functions exist under Athanor only, and calling one under Benthos fails
         at runtime, so a draft written for the wrong engine is a run that breaks.
    mgmt.v1alpha1.JavascriptDraftMode:
      type: string
      title: JavascriptDraftMode
      enum:
        - JAVASCRIPT_DRAFT_MODE_UNSPECIFIED
        - JAVASCRIPT_DRAFT_MODE_TRANSFORM
        - JAVASCRIPT_DRAFT_MODE_GENERATE
      description: What a drafted rule derives its output from.
    mgmt.v1alpha1.MongoSchemaConfig:
      type: object
      title: MongoSchemaConfig
      additionalProperties: false
    mgmt.v1alpha1.MssqlSchemaConfig:
      type: object
      title: MssqlSchemaConfig
      additionalProperties: false
    mgmt.v1alpha1.MysqlSchemaConfig:
      type: object
      title: MysqlSchemaConfig
      additionalProperties: false
    mgmt.v1alpha1.MysqlStreamConfig:
      type: object
      title: MysqlStreamConfig
      additionalProperties: false
    mgmt.v1alpha1.Null:
      type: object
      title: "Null"
      additionalProperties: false
    mgmt.v1alpha1.Passthrough:
      type: object
      title: Passthrough
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer:
      type: object
      anyOf:
        - type: object
          properties:
            hash:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Hash'
              title: hash
              description: Configures the anonymizer to hash the identified PII
          title: hash
        - type: object
          properties:
            mask:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Mask'
              title: mask
              description: Configures the anonymizer to mask the identified PII
          title: mask
        - type: object
          properties:
            redact:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Redact'
              title: redact
              description: Configures the anonymizer to completely remove the identified PII
          title: redact
        - type: object
          properties:
            replace:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Replace'
              title: replace
              description: Configures the anonymizer to replace the identified PII with a specific value
          title: replace
        - type: object
          properties:
            transform:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Transform'
              title: transform
              description: Configures the anonymizer to use a Husonym configured transformer
          title: transform
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - hash
              - required:
                  - mask
              - required:
                  - redact
              - required:
                  - replace
              - required:
                  - transform
          - not:
              oneOf:
                - required:
                    - hash
                - required:
                    - mask
                - required:
                    - redact
                - required:
                    - replace
                - required:
                    - transform
      title: PiiAnonymizer
    mgmt.v1alpha1.PiiAnonymizer.Hash:
      type: object
      properties:
        algo:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Hash.HashType'
            - type: "null"
          title: algo
          description: The hashing algorithm to use.
      title: Hash
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Hash.HashType:
      type: string
      title: HashType
      enum:
        - HASH_TYPE_UNSPECIFIED
        - HASH_TYPE_MD5
        - HASH_TYPE_SHA256
        - HASH_TYPE_SHA512
    mgmt.v1alpha1.PiiAnonymizer.Mask:
      type: object
      properties:
        maskingChar:
          type:
            - string
            - "null"
          title: masking_char
          description: Provide a character that will be used for the replacement.
        charsToMask:
          type:
            - integer
            - "null"
          title: chars_to_mask
          format: int32
          description: How many characters to mask.
        fromEnd:
          type:
            - boolean
            - "null"
          title: from_end
          description: Whether to mask the PII from start or end
      title: Mask
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Redact:
      type: object
      title: Redact
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Replace:
      type: object
      properties:
        value:
          type:
            - string
            - "null"
          title: value
          description: 'The value to replace. If not provided, a template token of the anonymizer is used (e.g. A PERSON entity is replaced with: <PERSON>)'
      title: Replace
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Transform:
      type: object
      properties:
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: config
          description: The transformer to use. If not provided, a transformer will automatically be selected (if supported), otherwise it falls back to generating a random hash.
      title: Transform
      additionalProperties: false
    mgmt.v1alpha1.PiiConfidence:
      type: string
      title: PiiConfidence
      enum:
        - PII_CONFIDENCE_UNSPECIFIED
        - PII_CONFIDENCE_CONFIRMED
        - PII_CONFIDENCE_NEEDS_REVIEW
      description: |-
        Niveau de confiance d'une détection RGPD. Il n'est PAS dérivé d'un score : il
         dit COMMENT la détection a été obtenue, ce qui détermine si on peut agir seul.
    mgmt.v1alpha1.PiiDenyRecognizer:
      type: object
      properties:
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-_]{1,100}$
          description: Friendly name of this entity
        denyWords:
          type: array
          items:
            type: string
            minLength: 1
          title: deny_words
          description: List of words that will be treated as PII.
      title: PiiDenyRecognizer
      additionalProperties: false
    mgmt.v1alpha1.PiiDetectionMethod:
      type: string
      title: PiiDetectionMethod
      enum:
        - PII_DETECTION_METHOD_UNSPECIFIED
        - PII_DETECTION_METHOD_COLUMN_NAME
        - PII_DETECTION_METHOD_CHECKSUM
        - PII_DETECTION_METHOD_CONTENT
        - PII_DETECTION_METHOD_FORMAT
      description: Origine d'une détection RGPD. Sert à expliquer la décision à l'utilisateur.
    mgmt.v1alpha1.PostgresSchemaConfig:
      type: object
      title: PostgresSchemaConfig
      additionalProperties: false
    mgmt.v1alpha1.PostgresStreamConfig:
      type: object
      title: PostgresStreamConfig
      additionalProperties: false
    mgmt.v1alpha1.PreviewColumnTransformerRequest:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The connection to read the column from.
        schema:
          type: string
          title: schema
          minLength: 1
          description: The schema of the table.
        table:
          type: string
          title: table
          minLength: 1
          description: The table to read.
        column:
          type: string
          title: column
          minLength: 1
          description: The column whose values are transformed.
        transformer:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: transformer
          description: The transformer to try on them.
        limit:
          type: integer
          title: limit
          description: Number of rows to read (default 20, max 50).
      title: PreviewColumnTransformerRequest
      required:
        - transformer
      additionalProperties: false
    mgmt.v1alpha1.PreviewColumnTransformerResponse:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ColumnTransformerPreview'
          title: values
        distinctInputs:
          type: integer
          title: distinct_inputs
          description: |-
            Distinct non-null values in the sample, before and after. Fewer after than before means the
             transformer sends different values to the same one — which a column under a uniqueness
             constraint cannot take. It is a sign, never a proof: a sample this small says nothing
             certain about the whole table.
        distinctOutputs:
          type: integer
          title: distinct_outputs
      title: PreviewColumnTransformerResponse
      additionalProperties: false
    mgmt.v1alpha1.PrimaryConstraint:
      type: object
      properties:
        columns:
          type: array
          items:
            type: string
          title: columns
          description: The columns that are part of the primary constraint
      title: PrimaryConstraint
      additionalProperties: false
    mgmt.v1alpha1.SchemaInitStatements:
      type: object
      properties:
        label:
          type: string
          title: label
          description: A friendly label associated with the generated schema init statement(s)
        statements:
          type: array
          items:
            type: string
          title: statements
          description: A list of SQL statements that may be used to initialize a database from scratch.
      title: SchemaInitStatements
      additionalProperties: false
    mgmt.v1alpha1.TransformCharacterScramble:
      type: object
      properties:
        userProvidedRegex:
          type:
            - string
            - "null"
          title: user_provided_regex
          description: A user provided regular expression that will be used to scramble the characters in the input string. Must be a valid Golang regex.
      title: TransformCharacterScramble
      additionalProperties: false
    mgmt.v1alpha1.TransformE164PhoneNumber:
      type: object
      properties:
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the phone number. This causes the transformed phone number to retain the original length.
      title: TransformE164PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.TransformEmail:
      type: object
      properties:
        preserveDomain:
          type:
            - boolean
            - "null"
          title: preserve_domain
          description: Whether or not to preserve the original domain, barring what has been specified in the excluded_domains property.
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the email. This causes the transformed email to retain the original length.
        excludedDomains:
          type: array
          items:
            type: string
          title: excluded_domains
          description: A lsit of email domains that should be excluded. This changes based on the preserve_domain flag. See the docs for more details.
        emailType:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateEmailType'
            - type: "null"
          title: email_type
          description: Optionally specify the type of email to generate. The types specified determine the contents on the left side of the @.
        invalidEmailAction:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.InvalidEmailAction'
            - type: "null"
          title: invalid_email_action
          description: Optionally specify an action in the result of an invalid email. An invalid email is one that does not conform to RFC 5322.
      title: TransformEmail
      additionalProperties: false
    mgmt.v1alpha1.TransformFirstName:
      type: object
      properties:
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the first name. This causes the transformed first name to retain the original length.
      title: TransformFirstName
      additionalProperties: false
    mgmt.v1alpha1.TransformFloat64:
      type: object
      properties:
        randomizationRangeMin:
          type:
            - number
            - "null"
          title: randomization_range_min
          format: double
          description: The minimum value to randomize the float64 to. This will be relative to the original value.
        randomizationRangeMax:
          type:
            - number
            - "null"
          title: randomization_range_max
          format: double
          description: The maximum value to randomize the float64 to. This will be relative to the original value.
      title: TransformFloat64
      additionalProperties: false
    mgmt.v1alpha1.TransformFullName:
      type: object
      properties:
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the full name. This causes the transformed full name to retain the original length.
      title: TransformFullName
      additionalProperties: false
    mgmt.v1alpha1.TransformInt64:
      type: object
      properties:
        randomizationRangeMin:
          type:
            - string
            - "null"
          title: randomization_range_min
          format: int64
          description: The minimum value to randomize the int64 to. This will be relative to the original value.
        randomizationRangeMax:
          type:
            - string
            - "null"
          title: randomization_range_max
          format: int64
          description: The maximum value to randomize the int64 to. This will be relative to the original value.
      title: TransformInt64
      additionalProperties: false
    mgmt.v1alpha1.TransformInt64PhoneNumber:
      type: object
      properties:
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the phone number. This causes the transformed phone number to retain the original length.
      title: TransformInt64PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.TransformJavascript:
      type: object
      properties:
        code:
          type: string
          title: code
          description: The user provided javascript code that will be executed in the transformer
      title: TransformJavascript
      additionalProperties: false
    mgmt.v1alpha1.TransformLastName:
      type: object
      properties:
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the last name. This causes the transformed last name to retain the original length.
      title: TransformLastName
      additionalProperties: false
    mgmt.v1alpha1.TransformPhoneNumber:
      type: object
      properties:
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the phone number. This causes the transformed phone number to retain the original length.
        preserveFormat:
          type:
            - boolean
            - "null"
          title: preserve_format
          description: 'Keeps the prefix (0 and the next digit, or + with the country code and the next digit), every separator and the length, and replaces the other digits with a keyed permutation: two distinct numbers never give the same output, and a number written in two formats (06…, +33 6…) gets the same digits. Implies preserve_length.'
      title: TransformPhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.TransformPiiText:
      type: object
      properties:
        scoreThreshold:
          type: number
          title: score_threshold
          format: float
          description: Minimal detection score for determining PII. 0.0-1.0
        defaultAnonymizer:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer'
          title: default_anonymizer
          description: The default anonmyization config used for all instances of detected PII.
        denyRecognizers:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.PiiDenyRecognizer'
          title: deny_recognizers
          description: Configure deny lists where each word is treated as PII.
        allowedEntities:
          type: array
          items:
            type: string
            minLength: 1
          title: allowed_entities
          description: |-
            Configure a list of entities to be used for PII analysis. If not provided or empty, all entities are considiered
             If this is specified, any ad-hoc, or deny_recognizers entity names must also be provided.
             To see available builtin entities, call the GetPiiTextEntities() RPC method to see what is available for your account.
        allowedPhrases:
          type: array
          items:
            type: string
          title: allowed_phrases
          description: Exact match of PII phrases identified by the analysis engine.
        language:
          type:
            - string
            - "null"
          title: language
          description: |-
            Two characters for the desired language in ISO_639-1 format.
             If not provided, will use a default language if specified on the server.
             Depending on the server configuration, may attempt to autodetect from input.
        entityAnonymizers:
          type: object
          title: entity_anonymizers
          additionalProperties:
            allOf:
              - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer'
            title: value
          description: |-
            A map of entity names to anonymizer configurations.
             The key in this map corresponds to a recognized entity (e.g. PERSON, PHONE_NUMBER) which can be found via the GetPiiTextEntities() RPC method.
             The value in this map corresponds to the anonymizer configuration to use for that entity.
             If not provided, the default_anonymizer will be used.
      title: TransformPiiText
      additionalProperties: false
      description: HusonymCloud/Enterprise only transformer for anonymizing PII Text
    mgmt.v1alpha1.TransformScrambleIdentity:
      type: object
      title: TransformScrambleIdentity
      additionalProperties: false
      description: |-
        Takes an input integer and scrambles it, effectively outputing another integer that is not the same as the input.
         This is effectively a random integer generator that has unique properties.
    mgmt.v1alpha1.TransformString:
      type: object
      properties:
        preserveLength:
          type:
            - boolean
            - "null"
          title: preserve_length
          description: Whether or not to preserve the original length of the string. This causes the transformed string to retain the original length.
      title: TransformString
      additionalProperties: false
    mgmt.v1alpha1.TransformUuid:
      type: object
      title: TransformUuid
      additionalProperties: false
    mgmt.v1alpha1.TransformerConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - generateEmailConfig
            - required:
                - transformEmailConfig
            - required:
                - generateBoolConfig
            - required:
                - generateCardNumberConfig
            - required:
                - generateCityConfig
            - required:
                - generateE164PhoneNumberConfig
            - required:
                - generateFirstNameConfig
            - required:
                - generateFloat64Config
            - required:
                - generateFullAddressConfig
            - required:
                - generateFullNameConfig
            - required:
                - generateGenderConfig
            - required:
                - generateInt64PhoneNumberConfig
            - required:
                - generateInt64Config
            - required:
                - generateLastNameConfig
            - required:
                - generateSha256hashConfig
            - required:
                - generateSsnConfig
            - required:
                - generateStateConfig
            - required:
                - generateStreetAddressConfig
            - required:
                - generateStringPhoneNumberConfig
            - required:
                - generateStringConfig
            - required:
                - generateUnixtimestampConfig
            - required:
                - generateUsernameConfig
            - required:
                - generateUtctimestampConfig
            - required:
                - generateUuidConfig
            - required:
                - generateZipcodeConfig
            - required:
                - transformE164PhoneNumberConfig
            - required:
                - transformFirstNameConfig
            - required:
                - transformFloat64Config
            - required:
                - transformFullNameConfig
            - required:
                - transformInt64PhoneNumberConfig
            - required:
                - transformInt64Config
            - required:
                - transformLastNameConfig
            - required:
                - transformPhoneNumberConfig
            - required:
                - transformStringConfig
            - required:
                - passthroughConfig
            - required:
                - nullconfig
            - required:
                - userDefinedTransformerConfig
            - required:
                - generateDefaultConfig
            - required:
                - transformJavascriptConfig
            - required:
                - generateCategoricalConfig
            - required:
                - transformCharacterScrambleConfig
            - required:
                - generateJavascriptConfig
            - required:
                - generateCountryConfig
            - required:
                - transformPiiTextConfig
            - required:
                - generateBusinessNameConfig
            - required:
                - generateIpAddressConfig
            - required:
                - transformUuidConfig
            - required:
                - transformScrambleIdentityConfig
      anyOf:
        - type: object
          properties:
            generateBoolConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateBool'
              title: generate_bool_config
          title: generate_bool_config
        - type: object
          properties:
            generateBusinessNameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateBusinessName'
              title: generate_business_name_config
          title: generate_business_name_config
        - type: object
          properties:
            generateCardNumberConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCardNumber'
              title: generate_card_number_config
          title: generate_card_number_config
        - type: object
          properties:
            generateCategoricalConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCategorical'
              title: generate_categorical_config
          title: generate_categorical_config
        - type: object
          properties:
            generateCityConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCity'
              title: generate_city_config
          title: generate_city_config
        - type: object
          properties:
            generateCountryConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCountry'
              title: generate_country_config
          title: generate_country_config
        - type: object
          properties:
            generateDefaultConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateDefault'
              title: generate_default_config
          title: generate_default_config
        - type: object
          properties:
            generateE164PhoneNumberConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateE164PhoneNumber'
              title: generate_e164_phone_number_config
          title: generate_e164_phone_number_config
        - type: object
          properties:
            generateEmailConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateEmail'
              title: generate_email_config
          title: generate_email_config
        - type: object
          properties:
            generateFirstNameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFirstName'
              title: generate_first_name_config
          title: generate_first_name_config
        - type: object
          properties:
            generateFloat64Config:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFloat64'
              title: generate_float64_config
          title: generate_float64_config
        - type: object
          properties:
            generateFullAddressConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFullAddress'
              title: generate_full_address_config
          title: generate_full_address_config
        - type: object
          properties:
            generateFullNameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFullName'
              title: generate_full_name_config
          title: generate_full_name_config
        - type: object
          properties:
            generateGenderConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateGender'
              title: generate_gender_config
          title: generate_gender_config
        - type: object
          properties:
            generateInt64Config:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateInt64'
              title: generate_int64_config
          title: generate_int64_config
        - type: object
          properties:
            generateInt64PhoneNumberConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateInt64PhoneNumber'
              title: generate_int64_phone_number_config
          title: generate_int64_phone_number_config
        - type: object
          properties:
            generateIpAddressConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateIpAddress'
              title: generate_ip_address_config
          title: generate_ip_address_config
        - type: object
          properties:
            generateJavascriptConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateJavascript'
              title: generate_javascript_config
          title: generate_javascript_config
        - type: object
          properties:
            generateLastNameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateLastName'
              title: generate_last_name_config
          title: generate_last_name_config
        - type: object
          properties:
            generateSha256hashConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateSha256Hash'
              title: generate_sha256hash_config
          title: generate_sha256hash_config
        - type: object
          properties:
            generateSsnConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateSSN'
              title: generate_ssn_config
          title: generate_ssn_config
        - type: object
          properties:
            generateStateConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateState'
              title: generate_state_config
          title: generate_state_config
        - type: object
          properties:
            generateStreetAddressConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateStreetAddress'
              title: generate_street_address_config
          title: generate_street_address_config
        - type: object
          properties:
            generateStringConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateString'
              title: generate_string_config
          title: generate_string_config
        - type: object
          properties:
            generateStringPhoneNumberConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateStringPhoneNumber'
              title: generate_string_phone_number_config
          title: generate_string_phone_number_config
        - type: object
          properties:
            generateUnixtimestampConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUnixTimestamp'
              title: generate_unixtimestamp_config
          title: generate_unixtimestamp_config
        - type: object
          properties:
            generateUsernameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUsername'
              title: generate_username_config
          title: generate_username_config
        - type: object
          properties:
            generateUtctimestampConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUtcTimestamp'
              title: generate_utctimestamp_config
          title: generate_utctimestamp_config
        - type: object
          properties:
            generateUuidConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUuid'
              title: generate_uuid_config
          title: generate_uuid_config
        - type: object
          properties:
            generateZipcodeConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateZipcode'
              title: generate_zipcode_config
          title: generate_zipcode_config
        - type: object
          properties:
            nullconfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.Null'
              title: nullconfig
          title: nullconfig
        - type: object
          properties:
            passthroughConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.Passthrough'
              title: passthrough_config
          title: passthrough_config
        - type: object
          properties:
            transformCharacterScrambleConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformCharacterScramble'
              title: transform_character_scramble_config
          title: transform_character_scramble_config
        - type: object
          properties:
            transformE164PhoneNumberConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformE164PhoneNumber'
              title: transform_e164_phone_number_config
          title: transform_e164_phone_number_config
        - type: object
          properties:
            transformEmailConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformEmail'
              title: transform_email_config
          title: transform_email_config
        - type: object
          properties:
            transformFirstNameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformFirstName'
              title: transform_first_name_config
          title: transform_first_name_config
        - type: object
          properties:
            transformFloat64Config:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformFloat64'
              title: transform_float64_config
          title: transform_float64_config
        - type: object
          properties:
            transformFullNameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformFullName'
              title: transform_full_name_config
          title: transform_full_name_config
        - type: object
          properties:
            transformInt64Config:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformInt64'
              title: transform_int64_config
          title: transform_int64_config
        - type: object
          properties:
            transformInt64PhoneNumberConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformInt64PhoneNumber'
              title: transform_int64_phone_number_config
          title: transform_int64_phone_number_config
        - type: object
          properties:
            transformJavascriptConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformJavascript'
              title: transform_javascript_config
          title: transform_javascript_config
        - type: object
          properties:
            transformLastNameConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformLastName'
              title: transform_last_name_config
          title: transform_last_name_config
        - type: object
          properties:
            transformPhoneNumberConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformPhoneNumber'
              title: transform_phone_number_config
          title: transform_phone_number_config
        - type: object
          properties:
            transformPiiTextConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformPiiText'
              title: transform_pii_text_config
              description: HusonymCloud/Enterprise only transformer for anonymizing PII Text
          title: transform_pii_text_config
        - type: object
          properties:
            transformScrambleIdentityConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformScrambleIdentity'
              title: transform_scramble_identity_config
              description: Scrambles an integer while keeping it unique.
          title: transform_scramble_identity_config
        - type: object
          properties:
            transformStringConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformString'
              title: transform_string_config
          title: transform_string_config
        - type: object
          properties:
            transformUuidConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.TransformUuid'
              title: transform_uuid_config
          title: transform_uuid_config
        - type: object
          properties:
            userDefinedTransformerConfig:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.UserDefinedTransformerConfig'
              title: user_defined_transformer_config
          title: user_defined_transformer_config
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - generateBoolConfig
              - required:
                  - generateBusinessNameConfig
              - required:
                  - generateCardNumberConfig
              - required:
                  - generateCategoricalConfig
              - required:
                  - generateCityConfig
              - required:
                  - generateCountryConfig
              - required:
                  - generateDefaultConfig
              - required:
                  - generateE164PhoneNumberConfig
              - required:
                  - generateEmailConfig
              - required:
                  - generateFirstNameConfig
              - required:
                  - generateFloat64Config
              - required:
                  - generateFullAddressConfig
              - required:
                  - generateFullNameConfig
              - required:
                  - generateGenderConfig
              - required:
                  - generateInt64Config
              - required:
                  - generateInt64PhoneNumberConfig
              - required:
                  - generateIpAddressConfig
              - required:
                  - generateJavascriptConfig
              - required:
                  - generateLastNameConfig
              - required:
                  - generateSha256hashConfig
              - required:
                  - generateSsnConfig
              - required:
                  - generateStateConfig
              - required:
                  - generateStreetAddressConfig
              - required:
                  - generateStringConfig
              - required:
                  - generateStringPhoneNumberConfig
              - required:
                  - generateUnixtimestampConfig
              - required:
                  - generateUsernameConfig
              - required:
                  - generateUtctimestampConfig
              - required:
                  - generateUuidConfig
              - required:
                  - generateZipcodeConfig
              - required:
                  - nullconfig
              - required:
                  - passthroughConfig
              - required:
                  - transformCharacterScrambleConfig
              - required:
                  - transformE164PhoneNumberConfig
              - required:
                  - transformEmailConfig
              - required:
                  - transformFirstNameConfig
              - required:
                  - transformFloat64Config
              - required:
                  - transformFullNameConfig
              - required:
                  - transformInt64Config
              - required:
                  - transformInt64PhoneNumberConfig
              - required:
                  - transformJavascriptConfig
              - required:
                  - transformLastNameConfig
              - required:
                  - transformPhoneNumberConfig
              - required:
                  - transformPiiTextConfig
              - required:
                  - transformScrambleIdentityConfig
              - required:
                  - transformStringConfig
              - required:
                  - transformUuidConfig
              - required:
                  - userDefinedTransformerConfig
          - not:
              oneOf:
                - required:
                    - generateBoolConfig
                - required:
                    - generateBusinessNameConfig
                - required:
                    - generateCardNumberConfig
                - required:
                    - generateCategoricalConfig
                - required:
                    - generateCityConfig
                - required:
                    - generateCountryConfig
                - required:
                    - generateDefaultConfig
                - required:
                    - generateE164PhoneNumberConfig
                - required:
                    - generateEmailConfig
                - required:
                    - generateFirstNameConfig
                - required:
                    - generateFloat64Config
                - required:
                    - generateFullAddressConfig
                - required:
                    - generateFullNameConfig
                - required:
                    - generateGenderConfig
                - required:
                    - generateInt64Config
                - required:
                    - generateInt64PhoneNumberConfig
                - required:
                    - generateIpAddressConfig
                - required:
                    - generateJavascriptConfig
                - required:
                    - generateLastNameConfig
                - required:
                    - generateSha256hashConfig
                - required:
                    - generateSsnConfig
                - required:
                    - generateStateConfig
                - required:
                    - generateStreetAddressConfig
                - required:
                    - generateStringConfig
                - required:
                    - generateStringPhoneNumberConfig
                - required:
                    - generateUnixtimestampConfig
                - required:
                    - generateUsernameConfig
                - required:
                    - generateUtctimestampConfig
                - required:
                    - generateUuidConfig
                - required:
                    - generateZipcodeConfig
                - required:
                    - nullconfig
                - required:
                    - passthroughConfig
                - required:
                    - transformCharacterScrambleConfig
                - required:
                    - transformE164PhoneNumberConfig
                - required:
                    - transformEmailConfig
                - required:
                    - transformFirstNameConfig
                - required:
                    - transformFloat64Config
                - required:
                    - transformFullNameConfig
                - required:
                    - transformInt64Config
                - required:
                    - transformInt64PhoneNumberConfig
                - required:
                    - transformJavascriptConfig
                - required:
                    - transformLastNameConfig
                - required:
                    - transformPhoneNumberConfig
                - required:
                    - transformPiiTextConfig
                - required:
                    - transformScrambleIdentityConfig
                - required:
                    - transformStringConfig
                - required:
                    - transformUuidConfig
                - required:
                    - userDefinedTransformerConfig
      title: TransformerConfig
      description: The configuration for a transformer. This determines what type of transformation or generation is performed.
    mgmt.v1alpha1.TransformerSource:
      type: string
      title: TransformerSource
      enum:
        - TRANSFORMER_SOURCE_UNSPECIFIED
        - TRANSFORMER_SOURCE_PASSTHROUGH
        - TRANSFORMER_SOURCE_GENERATE_DEFAULT
        - TRANSFORMER_SOURCE_TRANSFORM_JAVASCRIPT
        - TRANSFORMER_SOURCE_GENERATE_EMAIL
        - TRANSFORMER_SOURCE_TRANSFORM_EMAIL
        - TRANSFORMER_SOURCE_GENERATE_BOOL
        - TRANSFORMER_SOURCE_GENERATE_CARD_NUMBER
        - TRANSFORMER_SOURCE_GENERATE_CITY
        - TRANSFORMER_SOURCE_GENERATE_E164_PHONE_NUMBER
        - TRANSFORMER_SOURCE_GENERATE_FIRST_NAME
        - TRANSFORMER_SOURCE_GENERATE_FLOAT64
        - TRANSFORMER_SOURCE_GENERATE_FULL_ADDRESS
        - TRANSFORMER_SOURCE_GENERATE_FULL_NAME
        - TRANSFORMER_SOURCE_GENERATE_GENDER
        - TRANSFORMER_SOURCE_GENERATE_INT64_PHONE_NUMBER
        - TRANSFORMER_SOURCE_GENERATE_INT64
        - TRANSFORMER_SOURCE_GENERATE_RANDOM_INT64
        - TRANSFORMER_SOURCE_GENERATE_LAST_NAME
        - TRANSFORMER_SOURCE_GENERATE_SHA256HASH
        - TRANSFORMER_SOURCE_GENERATE_SSN
        - TRANSFORMER_SOURCE_GENERATE_STATE
        - TRANSFORMER_SOURCE_GENERATE_STREET_ADDRESS
        - TRANSFORMER_SOURCE_GENERATE_STRING_PHONE_NUMBER
        - TRANSFORMER_SOURCE_GENERATE_STRING
        - TRANSFORMER_SOURCE_GENERATE_RANDOM_STRING
        - TRANSFORMER_SOURCE_GENERATE_UNIXTIMESTAMP
        - TRANSFORMER_SOURCE_GENERATE_USERNAME
        - TRANSFORMER_SOURCE_GENERATE_UTCTIMESTAMP
        - TRANSFORMER_SOURCE_GENERATE_UUID
        - TRANSFORMER_SOURCE_GENERATE_ZIPCODE
        - TRANSFORMER_SOURCE_TRANSFORM_E164_PHONE_NUMBER
        - TRANSFORMER_SOURCE_TRANSFORM_FIRST_NAME
        - TRANSFORMER_SOURCE_TRANSFORM_FLOAT64
        - TRANSFORMER_SOURCE_TRANSFORM_FULL_NAME
        - TRANSFORMER_SOURCE_TRANSFORM_INT64_PHONE_NUMBER
        - TRANSFORMER_SOURCE_TRANSFORM_INT64
        - TRANSFORMER_SOURCE_TRANSFORM_LAST_NAME
        - TRANSFORMER_SOURCE_TRANSFORM_PHONE_NUMBER
        - TRANSFORMER_SOURCE_TRANSFORM_STRING
        - TRANSFORMER_SOURCE_GENERATE_NULL
        - TRANSFORMER_SOURCE_GENERATE_CATEGORICAL
        - TRANSFORMER_SOURCE_TRANSFORM_CHARACTER_SCRAMBLE
        - TRANSFORMER_SOURCE_USER_DEFINED
        - TRANSFORMER_SOURCE_GENERATE_JAVASCRIPT
        - TRANSFORMER_SOURCE_GENERATE_COUNTRY
        - TRANSFORMER_SOURCE_TRANSFORM_PII_TEXT
        - TRANSFORMER_SOURCE_GENERATE_BUSINESS_NAME
        - TRANSFORMER_SOURCE_GENERATE_IP_ADDRESS
        - TRANSFORMER_SOURCE_TRANSFORM_UUID
        - TRANSFORMER_SOURCE_TRANSFORM_SCRAMBLE_IDENTITY
    mgmt.v1alpha1.UniqueConstraint:
      type: object
      properties:
        columns:
          type: array
          items:
            type: string
          title: columns
          description: The columns that are part of the unique constraint
      title: UniqueConstraint
      additionalProperties: false
    mgmt.v1alpha1.UniqueConstraints:
      type: object
      properties:
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.UniqueConstraint'
          title: constraints
          description: The unique constraints found for the table
      title: UniqueConstraints
      additionalProperties: false
    mgmt.v1alpha1.UniqueIndex:
      type: object
      properties:
        columns:
          type: array
          items:
            type: string
          title: columns
          description: The columns that are part of the unique index
      title: UniqueIndex
      additionalProperties: false
    mgmt.v1alpha1.UniqueIndexes:
      type: object
      properties:
        indexes:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.UniqueIndex'
          title: indexes
          description: The unique indexes found for the table
      title: UniqueIndexes
      additionalProperties: false
    mgmt.v1alpha1.UserDefinedTransformerConfig:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The id of the user defined transformer. When used in a job mapping, this will be used to reference the underlying system transformer along with it's configuration that was chosen.
      title: UserDefinedTransformerConfig
[...]
