openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: A point in time in RFC 3339 format, with up to nanosecond precision. Output uses UTC (`Z`); input may use an offset from UTC.
    mgmt.v1alpha1.ActivityFailure:
      type: object
      properties:
        message:
          type: string
          title: message
          description: The message of the failure
      title: ActivityFailure
      additionalProperties: false
    mgmt.v1alpha1.ActivityOptions:
      type: object
      properties:
        scheduleToCloseTimeout:
          type:
            - string
            - "null"
          title: schedule_to_close_timeout
          minimum: 1
          format: int64
          description: |-
            Total time that a workflow is willing to wait for an activity to complete, including retries.
             Measured in seconds
        startToCloseTimeout:
          type:
            - string
            - "null"
          title: start_to_close_timeout
          minimum: 1
          format: int64
          description: |-
            Max time of a single Temporal Activity execution attempt.
             This timeout should be as short as the longest psosible execution of any activity (e.g. table sync).
             Important to know that this is per retry attempt. Defaults to the schedule to close timeout if not provided.
             Measured in seconds
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RetryPolicy'
          title: retry_policy
          description: |-
            Optionally define a retry policy for the activity
             If max attempts is not set, the activity will retry indefinitely until the start to close timeout lapses
      title: ActivityOptions
      additionalProperties: false
      description: Config that contains various timeouts that are configured in the underlying temporal workflow(s) and activities
    mgmt.v1alpha1.ActivityStatus:
      type: string
      title: ActivityStatus
      enum:
        - ACTIVITY_STATUS_UNSPECIFIED
        - ACTIVITY_STATUS_SCHEDULED
        - ACTIVITY_STATUS_STARTED
        - ACTIVITY_STATUS_CANCELED
        - ACTIVITY_STATUS_FAILED
    mgmt.v1alpha1.AiGenerateSourceOptions:
      type: object
      properties:
        aiConnectionId:
          type: string
          title: ai_connection_id
          format: uuid
          description: The connection id that corresponds with an AI-based Husonym connection
        schemas:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AiGenerateSourceSchemaOption'
          title: schemas
          minItems: 1
          description: The list of schemas (and their tables) along with any configuration options that will be used to generate data for.
        fkSourceConnectionId:
          type:
            - string
            - "null"
          title: fk_source_connection_id
          format: uuid
          description: An optional connection id that will be used as the basis for the shape of data to be generated.
        modelName:
          type: string
          title: model_name
          minLength: 1
          description: The name of the model to use
        userPrompt:
          type:
            - string
            - "null"
          title: user_prompt
          description: Optionally provide a user prompt to give more context to the schema
        generateBatchSize:
          type:
            - string
            - "null"
          title: generate_batch_size
          maximum: 100
          minimum: 1
          format: int64
          description: The batch size that will be used to generate X number of records. This is global and will be applied to all tables configured.
      title: AiGenerateSourceOptions
      additionalProperties: false
    mgmt.v1alpha1.AiGenerateSourceSchemaOption:
      type: object
      properties:
        schema:
          type: string
          title: schema
          minLength: 1
          description: The dataabase schema
        tables:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AiGenerateSourceTableOption'
          title: tables
          minItems: 1
          description: The list of tables (and their configuration) that reside within the schema to receive generated data
      title: AiGenerateSourceSchemaOption
      additionalProperties: false
    mgmt.v1alpha1.AiGenerateSourceTableOption:
      type: object
      properties:
        table:
          type: string
          title: table
          minLength: 1
          description: The table that will be used to generate data for
        rowCount:
          type: string
          title: row_count
          maximum: 1000
          minimum: 1
          format: int64
          description: The total number of records to be generated.
      title: AiGenerateSourceTableOption
      additionalProperties: false
    mgmt.v1alpha1.AwsS3DestinationConnectionOptions:
      type: object
      properties:
        storageClass:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3DestinationConnectionOptions.StorageClass'
          title: storage_class
          description: The storage class that will be used when objects are written to S3
        maxInFlight:
          type:
            - integer
            - "null"
          title: max_in_flight
          minimum: 1
          description: The maximum number of batched messages to have in flight at a given time. Increase this to improve throughput.
        timeout:
          type:
            - string
            - "null"
          title: timeout
          description: The maximum period (duration string) to wait on an upload before abandoning it and reattempting.
        batch:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.BatchConfig'
          title: batch
          description: Configure batching options to more efficiently store records in S3
      title: AwsS3DestinationConnectionOptions
      additionalProperties: false
    mgmt.v1alpha1.AwsS3DestinationConnectionOptions.StorageClass:
      type: string
      title: StorageClass
      enum:
        - STORAGE_CLASS_UNSPECIFIED
        - STORAGE_CLASS_STANDARD
        - STORAGE_CLASS_REDUCED_REDUNDANCY
        - STORAGE_CLASS_GLACIER
        - STORAGE_CLASS_STANDARD_IA
        - STORAGE_CLASS_ONEZONE_IA
        - STORAGE_CLASS_INTELLIGENT_TIERING
        - STORAGE_CLASS_DEEP_ARCHIVE
    mgmt.v1alpha1.AwsS3SourceConnectionOptions:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique connection id to a aws s3 connection configuration
      title: AwsS3SourceConnectionOptions
      additionalProperties: false
    mgmt.v1alpha1.BatchConfig:
      type: object
      properties:
        count:
          type:
            - integer
            - "null"
          title: count
          description: The max allowed in a batch before it is flushed. 0 to disable.
        period:
          type:
            - string
            - "null"
          title: period
          description: |-
            A duration string in which an incomplete batch should be flushed regardless of the count.
             Examples are 1s, 1m, 500ms
      title: BatchConfig
      additionalProperties: false
    mgmt.v1alpha1.CancelJobRunRequest:
      type: object
      properties:
        jobRunId:
          type: string
          title: job_run_id
          description: The unique identifier of the job run
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
      title: CancelJobRunRequest
      additionalProperties: false
    mgmt.v1alpha1.CancelJobRunResponse:
      type: object
      title: CancelJobRunResponse
      additionalProperties: false
    mgmt.v1alpha1.ColumnError:
      type: object
      properties:
        schema:
          type: string
          title: schema
          description: The schema of the table
        table:
          type: string
          title: table
          description: The table of the column
        column:
          type: string
          title: column
          description: The column of the error
        errorReports:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ColumnError.ColumnErrorReport'
          title: error_reports
          description: The list of error reports
      title: ColumnError
      additionalProperties: false
    mgmt.v1alpha1.ColumnError.ColumnErrorCode:
      type: string
      title: ColumnErrorCode
      enum:
        - COLUMN_ERROR_CODE_UNSPECIFIED
        - COLUMN_ERROR_CODE_NOT_FOUND_IN_SOURCE
        - COLUMN_ERROR_CODE_NOT_FOUND_IN_MAPPING
        - COLUMN_ERROR_CODE_REQUIRED_COLUMN_NOT_FOUND_IN_MAPPING
        - COLUMN_ERROR_CODE_REQUIRED_FOREIGN_KEY_NOT_FOUND_IN_MAPPING
        - COLUMN_ERROR_CODE_UNSUPPORTED_CIRCULAR_DEPENDENCY_AT_LEAST_ONE_NULLABLE
        - COLUMN_ERROR_CODE_VFK_SOURCE_COLUMN_NOT_FOUND_IN_MAPPING
        - COLUMN_ERROR_CODE_VFK_SOURCE_COLUMN_NOT_FOUND_IN_SOURCE
        - COLUMN_ERROR_CODE_VFK_TARGET_COLUMN_NOT_FOUND_IN_MAPPING
        - COLUMN_ERROR_CODE_VFK_TARGET_COLUMN_NOT_FOUND_IN_SOURCE
        - COLUMN_ERROR_CODE_VFK_COLUMN_DATATYPE_MISMATCH
        - COLUMN_ERROR_CODE_VFK_SOURCE_COLUMN_NOT_UNIQUE
      description: An enumeration of column error codes
    mgmt.v1alpha1.ColumnError.ColumnErrorReport:
      type: object
      properties:
        code:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ColumnError.ColumnErrorCode'
          title: code
          description: The error code
        message:
          type: string
          title: message
          description: The error message
      title: ColumnErrorReport
      additionalProperties: false
      description: Column error report
    mgmt.v1alpha1.ColumnReview:
      type: object
      properties:
        tableSchema:
          type: string
          title: table_schema
          description: The schema of the table
        tableName:
          type: string
          title: table_name
          description: The table the column belongs to
        columnName:
          type: string
          title: column_name
          description: The reviewed column
        reviewedDataType:
          type: string
          title: reviewed_data_type
          description: |-
            The column's type when it was reviewed. A decision is about a column as it stood, so a
             column whose type has moved since is reported again.
        reviewedPiiCategory:
          type: string
          title: reviewed_pii_category
          description: |-
            The detected personal-data category when it was reviewed, empty when nothing was detected.
             It is compared the same way: a column that has since started to read as personal data was
             not the column the reviewer accepted.
        note:
          type:
            - string
            - "null"
          title: note
          description: Why the passthrough is acceptable. This is what an audit asks for.
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
          description: When the decision was last made
        updatedByUserId:
          type: string
          title: updated_by_user_id
          description: Who last made it
      title: ColumnReview
      additionalProperties: false
      description: A column left out of a job's mappings whose passthrough someone has reviewed and accepted.
    mgmt.v1alpha1.ColumnWarning:
      type: object
      properties:
        schema:
          type: string
          title: schema
          description: The schema of the table
        table:
          type: string
          title: table
          description: The table of the column
        column:
          type: string
          title: column
          description: The column of the warning
        warningReports:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ColumnWarning.ColumnWarningReport'
          title: warning_reports
          description: The list of warning reports
      title: ColumnWarning
      additionalProperties: false
    mgmt.v1alpha1.ColumnWarning.ColumnWarningCode:
      type: string
      title: ColumnWarningCode
      enum:
        - COLUMN_WARNING_CODE_UNSPECIFIED
        - COLUMN_WARNING_CODE_NOT_FOUND_IN_SOURCE
        - COLUMN_WARNING_CODE_NOT_FOUND_IN_MAPPING
        - COLUMN_WARNING_CODE_PASSTHROUGH_PENDING_REVIEW
        - COLUMN_WARNING_CODE_SENSITIVE_COLUMN_PASSED_THROUGH
        - COLUMN_WARNING_CODE_REVIEWED_COLUMN_CHANGED
      description: An enumeration of column warning codes
    mgmt.v1alpha1.ColumnWarning.ColumnWarningReport:
      type: object
      properties:
        code:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ColumnWarning.ColumnWarningCode'
          title: code
          description: The warning code
        message:
          type: string
          title: message
          description: The warning message
      title: ColumnWarningReport
      additionalProperties: false
      description: Column warning report
    mgmt.v1alpha1.ConsistencyScope:
      type: string
      title: ConsistencyScope
      enum:
        - CONSISTENCY_SCOPE_UNSPECIFIED
        - CONSISTENCY_SCOPE_RUN
        - CONSISTENCY_SCOPE_JOB
        - CONSISTENCY_SCOPE_ACCOUNT
      description: |-
        Reach of deterministic consistency: the same input value produces the same output
         value everywhere inside the scope, and unrelated outputs outside of it.
    mgmt.v1alpha1.CreateJobDestination:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The connection id to use for the job destination
        options:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobDestinationOptions'
          title: options
          description: The destination options to use for the job destination
      title: CreateJobDestination
      additionalProperties: false
    mgmt.v1alpha1.CreateJobDestinationConnectionsRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobDestination'
          title: destinations
          minItems: 1
          description: The list of destinations to create and associate with the job
      title: CreateJobDestinationConnectionsRequest
      additionalProperties: false
    mgmt.v1alpha1.CreateJobDestinationConnectionsResponse:
      type: object
      properties:
        job:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Job'
          title: job
          description: The job that was updated
      title: CreateJobDestinationConnectionsResponse
      additionalProperties: false
    mgmt.v1alpha1.CreateJobHookRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          description: The unique identifier of the job
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.NewJobHook'
          title: hook
          description: The new hook configuration
      title: CreateJobHookRequest
      additionalProperties: false
    mgmt.v1alpha1.CreateJobHookResponse:
      type: object
      properties:
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobHook'
          title: hook
          description: The newly created hook
      title: CreateJobHookResponse
      additionalProperties: false
    mgmt.v1alpha1.CreateJobRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique account identifier that this job will be associated with
        jobName:
          type: string
          title: job_name
          pattern: ^[a-z0-9-]{3,100}$
          description: The unique, friendly name of the job. This is unique per account
        cronSchedule:
          type:
            - string
            - "null"
          title: cron_schedule
          description: Optionally provide a cron schedule. Goes into effect if the job status is set to enabled
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobMapping'
          title: mappings
          description: The list of mappings that will be used to transform the data
        source:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobSource'
          title: source
          description: The source connection configuration
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobDestination'
          title: destinations
          description: The list of destinations that will be used to store the data
        initiateJobRun:
          type: boolean
          title: initiate_job_run
          description: Initially trigger a run of this job regardless of its status or cron schedule
        workflowOptions:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.WorkflowOptions'
          title: workflow_options
          description: Specify timeouts and other workflow options for the underlying temporal workflow
        syncOptions:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ActivityOptions'
          title: sync_options
          description: |-
            Specify timeout and retry options for data synchronization activities
             Data sync activities are any piece of work that involves actually synchronizing data from a source to a destination
             For the data sync and generate jobs, this will be applied per table
        virtualForeignKeys:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.VirtualForeignConstraint'
          title: virtual_foreign_keys
          description: The list of virtual foreign keys that will be used to further constrain the data ontop of the database defined constraints
        jobType:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig'
            - type: "null"
          title: job_type
          description: The type of job to create
      title: CreateJobRequest
      additionalProperties: false
      description: |
        destinations_required_for_sync // For sync jobs, at least one destination is required
        mappings_required_for_sync // For sync jobs, at least one mapping is required
    mgmt.v1alpha1.CreateJobResponse:
      type: object
      properties:
        job:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Job'
          title: job
          description: The job that was created
      title: CreateJobResponse
      additionalProperties: false
    mgmt.v1alpha1.CreateJobRunRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
      title: CreateJobRunRequest
      additionalProperties: false
    mgmt.v1alpha1.CreateJobRunResponse:
      type: object
      title: CreateJobRunResponse
      additionalProperties: false
    mgmt.v1alpha1.DatabaseColumn:
      type: object
      properties:
        schema:
          type: string
          title: schema
          description: 'The database schema. Ex: public'
        table:
          type: string
          title: table
          description: The name of the table in the schema
        column:
          type: string
          title: column
          description: The name of the column
        dataType:
          type: string
          title: data_type
          description: The datatype of the column
        isNullable:
          type: string
          title: is_nullable
          description: The isNullable Flag of the column
        columnDefault:
          type:
            - string
            - "null"
          title: column_default
          description: The default value of the column if available
        generatedType:
          type:
            - string
            - "null"
          title: generated_type
          description: |-
            Populated if the column is generated. The value is the type of generated column it is. For example, postgres is 's' for stored
             May be other values in the future, or other DB providers may use a different value types.
        identityGeneration:
          type:
            - string
            - "null"
          title: identity_generation
          description: Populated if the column is an identity. The value is the type of the identity column it is. For example, postgres is 'd' for generated by default, or 'a' for generated always.
        characterMaximumLength:
          type:
            - integer
            - "null"
          title: character_maximum_length
          format: int32
          description: |-
            How many characters the column accepts, when its type bounds them. Absent for types that
             bound nothing. It cannot be read back from data_type: MySQL reports `varchar` there and
             keeps the length in column_type, so anything parsing data_type finds no bound on MySQL.
        dataCategory:
          type: string
          title: data_category
          description: 'Nature sémantique détectée pour cette colonne (heuristique nom+type SQL). Ex: "email", "phone_number", "person_full_name". Vide si rien de détecté.'
        isSensitive:
          type: boolean
          title: is_sensitive
          description: True si la colonne est considérée comme une donnée à caractère personnel (RGPD).
        suggestedTransformerSource:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerSource'
          title: suggested_transformer_source
          description: Transformer recommandé pour anonymiser cette colonne. TRANSFORMER_SOURCE_UNSPECIFIED si aucune suggestion.
        piiConfidence:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiConfidence'
          title: pii_confidence
          description: |-
            Niveau de confiance de la détection. Seul CONFIRMED autorise l'application
             automatique du transformer suggéré.
        piiDetectionMethod:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiDetectionMethod'
          title: pii_detection_method
          description: Comment la détection a été obtenue.
        piiEvidence:
          type: string
          title: pii_evidence
          description: |-
            Détail lisible de la preuve, pour l'infobulle. Ex: "clé NIR valide sur 18/18 valeurs",
             "format jj/mm/aaaa prouvé (14 valeurs avec jour > 12)", "format ambigu : jj/mm ou mm/jj".
      title: DatabaseColumn
      additionalProperties: false
    mgmt.v1alpha1.DatabaseError:
      type: object
      properties:
        errorReports:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.DatabaseError.DatabaseErrorReport'
          title: error_reports
          description: The list of error reports
      title: DatabaseError
      additionalProperties: false
    mgmt.v1alpha1.DatabaseError.DatabaseErrorCode:
      type: string
      title: DatabaseErrorCode
      enum:
        - DATABASE_ERROR_CODE_UNSPECIFIED
        - DATABASE_ERROR_CODE_UNSUPPORTED_CIRCULAR_DEPENDENCY_AT_LEAST_ONE_NULLABLE
        - DATABASE_ERROR_CODE_VFK_COLUMN_MISMATCH
      description: An enumeration of database error codes
    mgmt.v1alpha1.DatabaseError.DatabaseErrorReport:
      type: object
      properties:
        code:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.DatabaseError.DatabaseErrorCode'
          title: code
          description: The error code
        message:
          type: string
          title: message
          description: The error message
      title: DatabaseErrorReport
      additionalProperties: false
      description: Database error report
    mgmt.v1alpha1.DeleteJobDestinationConnectionRequest:
      type: object
      properties:
        destinationId:
          type: string
          title: destination_id
          format: uuid
          description: The unique identifier of the destination to delete
      title: DeleteJobDestinationConnectionRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteJobDestinationConnectionResponse:
      type: object
      title: DeleteJobDestinationConnectionResponse
      additionalProperties: false
    mgmt.v1alpha1.DeleteJobHookRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the hook
      title: DeleteJobHookRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteJobHookResponse:
      type: object
      title: DeleteJobHookResponse
      additionalProperties: false
    mgmt.v1alpha1.DeleteJobRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the job to delete
      title: DeleteJobRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteJobResponse:
      type: object
      title: DeleteJobResponse
      additionalProperties: false
    mgmt.v1alpha1.DeleteJobRunRequest:
      type: object
      properties:
        jobRunId:
          type: string
          title: job_run_id
          description: The unique identifier of the job run
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
      title: DeleteJobRunRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteJobRunResponse:
      type: object
      title: DeleteJobRunResponse
      additionalProperties: false
    mgmt.v1alpha1.DynamoDBDestinationConnectionOptions:
      type: object
      properties:
        tableMappings:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBDestinationTableMapping'
          title: table_mappings
          description: List of table mappings when piping data from a dynamoDB table to another dynamoDB table
      title: DynamoDBDestinationConnectionOptions
      additionalProperties: false
      description: Configuration for DynamoDB Destination Connection Job Options
    mgmt.v1alpha1.DynamoDBDestinationTableMapping:
      type: object
      properties:
        sourceTable:
          type: string
          title: source_table
          description: The name of the incoming source table
        destinationTable:
          type: string
          title: destination_table
          description: The name of the outgoing destination table
      title: DynamoDBDestinationTableMapping
      additionalProperties: false
      description: Configuration for mapping a source table to a destination table for DynamoDB
    mgmt.v1alpha1.DynamoDBSourceConnectionOptions:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique connection id to a dynamodb connection configuration
        tables:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBSourceTableOption'
          title: tables
          description: |-
            List of table option configurations for any mapped source table.
             Any table listed in this must also be present as a job mapping table to be applied.
        unmappedTransforms:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBSourceUnmappedTransformConfig'
          title: unmapped_transforms
          description: Default transformations for any unmapped keys
        enableConsistentRead:
          type: boolean
          title: enable_consistent_read
          description: |-
            Enforces strong read consistency
             False: Eventually Consistent Reads, True: Strongly Consistent Reads
             https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadConsistency.html
      title: DynamoDBSourceConnectionOptions
      additionalProperties: false
      description: DynamoDB connection options for a job source
    mgmt.v1alpha1.DynamoDBSourceSchemaSubset:
      type: object
      properties:
        tables:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBSourceTableOption'
          title: tables
          description: The list of tables (and their configuration) that reside within the schema
      title: DynamoDBSourceSchemaSubset
      additionalProperties: false
    mgmt.v1alpha1.DynamoDBSourceTableOption:
      type: object
      properties:
        table:
          type: string
          title: table
          minLength: 1
          description: The table that this configuration will be applied to
        whereClause:
          type:
            - string
            - "null"
          title: where_clause
          description: |-
            An optional PartiQL query that may be used for subsetting the DynamoDB table.
             This is not a parameterized query and must be valid. Intended to be everything after the WHERE keyword.
      title: DynamoDBSourceTableOption
      additionalProperties: false
    mgmt.v1alpha1.DynamoDBSourceUnmappedTransformConfig:
      type: object
      properties:
        b:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobMappingTransformer'
          title: b
          description: Byte
        boolean:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobMappingTransformer'
          title: boolean
          description: Boolean
        n:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobMappingTransformer'
          title: n
          description: Number
        s:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobMappingTransformer'
          title: s
          description: String
      title: DynamoDBSourceUnmappedTransformConfig
      additionalProperties: false
    mgmt.v1alpha1.GcpCloudStorageDestinationConnectionOptions:
      type: object
      title: GcpCloudStorageDestinationConnectionOptions
      additionalProperties: false
      description: Configuration for Google Cloud Storage Destination Connection Job Options
    mgmt.v1alpha1.GenerateBool:
      type: object
      title: GenerateBool
      additionalProperties: false
    mgmt.v1alpha1.GenerateBusinessName:
      type: object
      title: GenerateBusinessName
      additionalProperties: false
    mgmt.v1alpha1.GenerateCardNumber:
      type: object
      properties:
        validLuhn:
          type:
            - boolean
            - "null"
          title: valid_luhn
          description: Whether or not to validate the card number using the Luhn algorithm.
      title: GenerateCardNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateCategorical:
      type: object
      properties:
        categories:
          type:
            - string
            - "null"
          title: categories
          description: A comma separated list of categories that will be used to generate a random value from.
      title: GenerateCategorical
      additionalProperties: false
    mgmt.v1alpha1.GenerateCity:
      type: object
      title: GenerateCity
      additionalProperties: false
    mgmt.v1alpha1.GenerateCountry:
      type: object
      properties:
        generateFullName:
          type:
            - boolean
            - "null"
          title: generate_full_name
          description: An option to return the full country name of the randomly selected country or return the default of a 2-letter country code.
      title: GenerateCountry
      additionalProperties: false
    mgmt.v1alpha1.GenerateDefault:
      type: object
      title: GenerateDefault
      additionalProperties: false
    mgmt.v1alpha1.GenerateE164PhoneNumber:
      type: object
      properties:
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum length of the phone number to generate.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum length of the phone number to generate.
      title: GenerateE164PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateEmail:
      type: object
      properties:
        emailType:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateEmailType'
            - type: "null"
          title: email_type
          description: Optionally specify the type of email to generate. The types specified determine the contents on the left side of the @.
      title: GenerateEmail
      additionalProperties: false
    mgmt.v1alpha1.GenerateEmailType:
      type: string
      title: GenerateEmailType
      enum:
        - GENERATE_EMAIL_TYPE_UNSPECIFIED
        - GENERATE_EMAIL_TYPE_UUID_V4
        - GENERATE_EMAIL_TYPE_FULLNAME
    mgmt.v1alpha1.GenerateFirstName:
      type: object
      title: GenerateFirstName
      additionalProperties: false
    mgmt.v1alpha1.GenerateFloat64:
      type: object
      properties:
        randomizeSign:
          type:
            - boolean
            - "null"
          title: randomize_sign
          description: Whether or not to randomize the sign of the float64.
        min:
          type:
            - number
            - "null"
          title: min
          format: double
          description: The minimum value to randomize the float64 to.
        max:
          type:
            - number
            - "null"
          title: max
          format: double
          description: The maximum value to randomize the float64 to.
        precision:
          type:
            - string
            - "null"
          title: precision
          format: int64
          description: The precision of the float64 to generate.
      title: GenerateFloat64
      additionalProperties: false
    mgmt.v1alpha1.GenerateFullAddress:
      type: object
      title: GenerateFullAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateFullName:
      type: object
      title: GenerateFullName
      additionalProperties: false
    mgmt.v1alpha1.GenerateGender:
      type: object
      properties:
        abbreviate:
          type:
            - boolean
            - "null"
          title: abbreviate
          description: Whether or not to abbreviate the gender.
      title: GenerateGender
      additionalProperties: false
    mgmt.v1alpha1.GenerateInt64:
      type: object
      properties:
        randomizeSign:
          type:
            - boolean
            - "null"
          title: randomize_sign
          description: Whether or not to randomize the sign of the int64.
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum value to randomize the int64 to.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum value to randomize the int64 to.
      title: GenerateInt64
      additionalProperties: false
    mgmt.v1alpha1.GenerateInt64PhoneNumber:
      type: object
      title: GenerateInt64PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateIpAddress:
      type: object
      properties:
        ipType:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateIpAddressType'
            - type: "null"
          title: ip_type
          description: Optionally specify the type of ip address to generate.
      title: GenerateIpAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateIpAddressType:
      type: string
      title: GenerateIpAddressType
      enum:
        - GENERATE_IP_ADDRESS_TYPE_UNSPECIFIED
        - GENERATE_IP_ADDRESS_TYPE_V4_PUBLIC
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_A
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_B
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_C
        - GENERATE_IP_ADDRESS_TYPE_V4_LINK_LOCAL
        - GENERATE_IP_ADDRESS_TYPE_V4_MULTICAST
        - GENERATE_IP_ADDRESS_TYPE_V4_LOOPBACK
        - GENERATE_IP_ADDRESS_TYPE_V6
    mgmt.v1alpha1.GenerateJavascript:
      type: object
      properties:
        code:
          type: string
          title: code
          description: The user provided javascript code that will be executed in the transformer
      title: GenerateJavascript
      additionalProperties: false
    mgmt.v1alpha1.GenerateLastName:
      type: object
      title: GenerateLastName
      additionalProperties: false
    mgmt.v1alpha1.GenerateSSN:
      type: object
      title: GenerateSSN
      additionalProperties: false
    mgmt.v1alpha1.GenerateSha256Hash:
      type: object
      title: GenerateSha256Hash
      additionalProperties: false
    mgmt.v1alpha1.GenerateSourceOptions:
      type: object
      properties:
        schemas:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.GenerateSourceSchemaOption'
          title: schemas
          minItems: 1
          description: The list of schemas (and their tables) along with any configuration options that will be used to generate data for.
        fkSourceConnectionId:
          type:
            - string
            - "null"
          title: fk_source_connection_id
          format: uuid
          description: An optional connection id that will be used as the basis for the shape of data to be generated.
      title: GenerateSourceOptions
      additionalProperties: false
    mgmt.v1alpha1.GenerateSourceSchemaOption:
      type: object
      properties:
        schema:
          type: string
          title: schema
          minLength: 1
          description: The database schema
        tables:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.GenerateSourceTableOption'
          title: tables
          minItems: 1
          description: The list of tables (and their configuration) that reside within the schema to receive generated data
      title: GenerateSourceSchemaOption
      additionalProperties: false
    mgmt.v1alpha1.GenerateSourceTableOption:
      type: object
      properties:
        table:
          type: string
          title: table
          minLength: 1
          description: The table that will be used to generate data for.
        rowCount:
          type: string
          title: row_count
          minimum: 1
          format: int64
          description: The total number of records to be generated.
      title: GenerateSourceTableOption
      additionalProperties: false
    mgmt.v1alpha1.GenerateState:
      type: object
      properties:
        generateFullName:
          type:
            - boolean
            - "null"
          title: generate_full_name
          description: An option to return the full state name of the randomly selected state or return the default of a 2-letter state code.
      title: GenerateState
      additionalProperties: false
    mgmt.v1alpha1.GenerateStreetAddress:
      type: object
      title: GenerateStreetAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateString:
      type: object
      properties:
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum length of the string to generate.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum length of the string to generate.
      title: GenerateString
      additionalProperties: false
    mgmt.v1alpha1.GenerateStringPhoneNumber:
      type: object
      properties:
        min:
          type:
            - string
            - "null"
          title: min
          format: int64
          description: The minimum length of the phone number to generate.
        max:
          type:
            - string
            - "null"
          title: max
          format: int64
          description: The maximum length of the phone number to generate.
      title: GenerateStringPhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateUnixTimestamp:
      type: object
      title: GenerateUnixTimestamp
      additionalProperties: false
    mgmt.v1alpha1.GenerateUsername:
      type: object
      title: GenerateUsername
      additionalProperties: false
    mgmt.v1alpha1.GenerateUtcTimestamp:
      type: object
      title: GenerateUtcTimestamp
      additionalProperties: false
    mgmt.v1alpha1.GenerateUuid:
      type: object
      properties:
        includeHyphens:
          type:
            - boolean
            - "null"
          title: include_hyphens
          description: Whether or not to include hyphens in the uuid. Defaults to true. If false, the uuid will be returned without hyphens.
      title: GenerateUuid
      additionalProperties: false
    mgmt.v1alpha1.GenerateZipcode:
      type: object
      title: GenerateZipcode
      additionalProperties: false
    mgmt.v1alpha1.GetActiveJobHooksByTimingRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
        timing:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GetActiveJobHooksByTimingRequest.Timing'
          title: timing
          description: The timing desired.
      title: GetActiveJobHooksByTimingRequest
      additionalProperties: false
    mgmt.v1alpha1.GetActiveJobHooksByTimingRequest.Timing:
      type: string
      title: Timing
      enum:
        - TIMING_UNSPECIFIED
        - TIMING_PRESYNC
        - TIMING_POSTSYNC
    mgmt.v1alpha1.GetActiveJobHooksByTimingResponse:
      type: object
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobHook'
          title: hooks
          description: The active job hooks
      title: GetActiveJobHooksByTimingResponse
      additionalProperties: false
    mgmt.v1alpha1.GetColumnReviewsRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The job whose decisions are returned
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
      title: GetColumnReviewsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetColumnReviewsResponse:
      type: object
      properties:
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ColumnReview'
          title: reviews
      title: GetColumnReviewsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobHookRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the hook
      title: GetJobHookRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobHookResponse:
      type: object
      properties:
        hook:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobHook'
          title: hook
          description: The found hook
      title: GetJobHookResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobHooksRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
      title: GetJobHooksRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobHooksResponse:
      type: object
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobHook'
          title: hooks
          description: The list of hooks found attached to the job
      title: GetJobHooksResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobNextRunsRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
      title: GetJobNextRunsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobNextRunsResponse:
      type: object
      properties:
        nextRuns:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobNextRuns'
          title: next_runs
          description: The list of next run times
      title: GetJobNextRunsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobRecentRunsRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
      title: GetJobRecentRunsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobRecentRunsResponse:
      type: object
      properties:
        recentRuns:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobRecentRun'
          title: recent_runs
          description: The list of recent job runs
      title: GetJobRecentRunsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the job
      title: GetJobRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobResponse:
      type: object
      properties:
        job:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Job'
          title: job
          description: The job that was retrieved
      title: GetJobResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunEventsRequest:
      type: object
      properties:
        jobRunId:
          type: string
          title: job_run_id
          description: The unique identifier of the job run
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
      title: GetJobRunEventsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunEventsResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobRunEvent'
          title: events
          description: The list of events
        isRunComplete:
          type: boolean
          title: is_run_complete
          description: Whether the run is complete
      title: GetJobRunEventsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunLogsRequest:
      type: object
      properties:
        jobRunId:
          type: string
          title: job_run_id
          description: The unique identifier of the job run
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
        window:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.LogWindow'
          title: window
          description: The time window in which to retrieve the logs
        maxLogLines:
          type:
            - string
            - "null"
          title: max_log_lines
          minimum: 1
          format: int64
          description: Optionally provide a max log limit
        logLevels:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.LogLevel'
          title: log_levels
          description: Provide a list of log levels to filter by. If any of these are UNSPECIFIED, all log levels are returned.
      title: GetJobRunLogsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunLogsResponse:
      type: object
      properties:
        logLines:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunLogsResponse.LogLine'
          title: log_lines
          description: The list of log lines
      title: GetJobRunLogsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunLogsResponse.LogLine:
      type: object
      properties:
        logLine:
          type: string
          title: log_line
          description: The log line
        timestamp:
          oneOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
            - type: "null"
          title: timestamp
          description: The timestamp of the log line
        labels:
          type: object
          title: labels
          additionalProperties:
            type: string
            title: value
          description: The labels associated with the log line
      title: LogLine
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunLogsStreamRequest:
      type: object
      properties:
        jobRunId:
          type: string
          title: job_run_id
          description: The unique identifier of the job run
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
        window:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.LogWindow'
          title: window
          description: The time window in which to retrieve the logs
        shouldTail:
          type: boolean
          title: should_tail
          description: 'Whether or not to tail the stream. Note: only works with k8s-pods and is not currently supported with Loki logs'
        maxLogLines:
          type:
            - string
            - "null"
          title: max_log_lines
          minimum: 1
          format: int64
          description: Optionally provide a max log limit
        logLevels:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.LogLevel'
          title: log_levels
          description: Provide a list of log levels to filter by. If any of these are UNSPECIFIED, all log levels are returned.
      title: GetJobRunLogsStreamRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunLogsStreamResponse:
      type: object
      properties:
        logLine:
          type: string
          title: log_line
          description: The log line
        timestamp:
          oneOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
            - type: "null"
          title: timestamp
          description: The timestamp of the log line
        labels:
          type: object
          title: labels
          additionalProperties:
            type: string
            title: value
          description: The labels associated with the log line
      title: GetJobRunLogsStreamResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunRequest:
      type: object
      properties:
        jobRunId:
          type: string
          title: job_run_id
          description: The unique identifier of the job run
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
      title: GetJobRunRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunResponse:
      type: object
      properties:
        jobRun:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobRun'
          title: job_run
          description: The job run that was retrieved
      title: GetJobRunResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobRunsRequest:
      type: object
      anyOf:
        - type: object
          properties:
            accountId:
              type: string
              title: account_id
              format: uuid
              description: Retrieve runs for all jobs in an account
          title: account_id
        - type: object
          properties:
            jobId:
              type: string
              title: job_id
              format: uuid
              description: Retireve runs for a specific job
          title: job_id
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - accountId
              - required:
                  - jobId
          - not:
              oneOf:
                - required:
                    - accountId
                - required:
                    - jobId
      title: GetJobRunsRequest
    mgmt.v1alpha1.GetJobRunsResponse:
      type: object
      properties:
        jobRuns:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobRun'
          title: job_runs
          description: The list of job runs
      title: GetJobRunsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobStatusRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
      title: GetJobStatusRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobStatusResponse:
      type: object
      properties:
        status:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobStatus'
          title: status
          description: The status of the job
      title: GetJobStatusResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobStatusesRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
      title: GetJobStatusesRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobStatusesResponse:
      type: object
      properties:
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobStatusRecord'
          title: statuses
          description: The list of job statuses
      title: GetJobStatusesResponse
      additionalProperties: false
    mgmt.v1alpha1.GetJobsRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get jobs for
      title: GetJobsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetJobsResponse:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.Job'
          title: jobs
          description: The list of jobs
      title: GetJobsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetPendingColumnReviewsRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
        jobId:
          type:
            - string
            - "null"
          title: job_id
          description: One job, for its review tab. Absent returns every job of the account, for the bell.
      title: GetPendingColumnReviewsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetPendingColumnReviewsResponse:
      type: object
      properties:
        columns:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.PendingColumnReview'
          title: columns
      title: GetPendingColumnReviewsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetPiiDetectionReportRequest:
      type: object
      properties:
        jobRunId:
          type: string
          title: job_run_id
          minLength: 1
          description: The unique identifier of the job run
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
      title: GetPiiDetectionReportRequest
      additionalProperties: false
    mgmt.v1alpha1.GetPiiDetectionReportResponse:
      type: object
      properties:
        report:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiDetectionReport'
          title: report
          description: The pii detection report
      title: GetPiiDetectionReportResponse
      additionalProperties: false
    mgmt.v1alpha1.GetRunContextRequest:
      type: object
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RunContextKey'
          title: id
          description: The run context key
      title: GetRunContextRequest
      additionalProperties: false
    mgmt.v1alpha1.GetRunContextResponse:
      type: object
      properties:
        value:
          type: string
          title: value
          format: byte
          description: The returned value in bytes. The format is determined by the key when it is set.
      title: GetRunContextResponse
      additionalProperties: false
    mgmt.v1alpha1.InvalidEmailAction:
      type: string
      title: InvalidEmailAction
      enum:
        - INVALID_EMAIL_ACTION_UNSPECIFIED
        - INVALID_EMAIL_ACTION_REJECT
        - INVALID_EMAIL_ACTION_NULL
        - INVALID_EMAIL_ACTION_PASSTHROUGH
        - INVALID_EMAIL_ACTION_GENERATE
      description: Action enumeration that dictates what the transform_email transformer should do in the case that it encounters an email that does not conform to RFC 5322
    mgmt.v1alpha1.IsJobHookNameAvailableRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          description: The unique identifier of the job
        name:
          type: string
          title: name
          description: The hook name to check.
      title: IsJobHookNameAvailableRequest
      additionalProperties: false
    mgmt.v1alpha1.IsJobHookNameAvailableResponse:
      type: object
      properties:
        isAvailable:
          type: boolean
          title: is_available
          description: Whether or not the hook name is available
      title: IsJobHookNameAvailableResponse
      additionalProperties: false
    mgmt.v1alpha1.IsJobNameAvailableRequest:
      type: object
      properties:
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The name to check for availability
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to check for availability
      title: IsJobNameAvailableRequest
      additionalProperties: false
    mgmt.v1alpha1.IsJobNameAvailableResponse:
      type: object
      properties:
        isAvailable:
          type: boolean
          title: is_available
          description: Whether the name is available
      title: IsJobNameAvailableResponse
      additionalProperties: false
    mgmt.v1alpha1.Job:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of the job
        createdByUserId:
          type: string
          title: created_by_user_id
        createdAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: created_at
        updatedByUserId:
          type: string
          title: updated_by_user_id
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
        name:
          type: string
          title: name
          description: The unique, friendly name of the job
        source:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobSource'
          title: source
          description: The source connection configuration
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobDestination'
          title: destinations
          description: The list of destinations that will be used to store the data
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobMapping'
          title: mappings
          description: The list of mappings that will be used to transform the data
        cronSchedule:
          type:
            - string
            - "null"
          title: cron_schedule
          description: The cron schedule that will be used to trigger the job
        accountId:
          type: string
          title: account_id
          description: The account identifier that a job is associated with
        syncOptions:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ActivityOptions'
          title: sync_options
          description: |-
            Specify timeout and retry options for data synchronization activities
             Data sync activities are any piece of work that involves actually synchronizing data from a source to a destination
             For the data sync and generate jobs, this will be applied per table
        workflowOptions:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.WorkflowOptions'
          title: workflow_options
          description: Specify timeouts and other workflow options for the underlying temporal workflow
        virtualForeignKeys:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.VirtualForeignConstraint'
          title: virtual_foreign_keys
          description: Any virtual foreign keys that are configured as a part of this job
        jobType:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig'
          title: job_type
          description: The type of job
      title: Job
      additionalProperties: false
    mgmt.v1alpha1.JobColumn:
      type: object
      properties:
        schema:
          type: string
          title: schema
          minLength: 1
          description: The database schema
        table:
          type: string
          title: table
          minLength: 1
          description: The table
        column:
          type: string
          title: column
          minLength: 1
          description: The column
      title: JobColumn
      additionalProperties: false
      description: A column of a job's source, named without its mapping.
    mgmt.v1alpha1.JobDestination:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The connection id to use for the job destination
        options:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobDestinationOptions'
          title: options
          description: The destination options to use for the job destination
        id:
          type: string
          title: id
          description: The unique identifier of the job destination
      title: JobDestination
      additionalProperties: false
    mgmt.v1alpha1.JobDestinationOptions:
      type: object
      allOf:
        - oneOf:
            - required:
                - postgresOptions
            - required:
                - awsS3Options
            - required:
                - mysqlOptions
            - required:
                - mongodbOptions
            - required:
                - gcpCloudstorageOptions
            - required:
                - dynamodbOptions
            - required:
                - mssqlOptions
      anyOf:
        - type: object
          properties:
            awsS3Options:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3DestinationConnectionOptions'
              title: aws_s3_options
          title: aws_s3_options
        - type: object
          properties:
            dynamodbOptions:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBDestinationConnectionOptions'
              title: dynamodb_options
              description: Destination Connection options for DynamoDB
          title: dynamodb_options
        - type: object
          properties:
            gcpCloudstorageOptions:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GcpCloudStorageDestinationConnectionOptions'
              title: gcp_cloudstorage_options
              description: Destination Connecton options for Google Cloud Storage
          title: gcp_cloudstorage_options
        - type: object
          properties:
            mongodbOptions:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MongoDBDestinationConnectionOptions'
              title: mongodb_options
          title: mongodb_options
        - type: object
          properties:
            mssqlOptions:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MssqlDestinationConnectionOptions'
              title: mssql_options
              description: Destination Connection options for Microsoft SQL Server
          title: mssql_options
        - type: object
          properties:
            mysqlOptions:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MysqlDestinationConnectionOptions'
              title: mysql_options
          title: mysql_options
        - type: object
          properties:
            postgresOptions:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PostgresDestinationConnectionOptions'
              title: postgres_options
          title: postgres_options
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - awsS3Options
              - required:
                  - dynamodbOptions
              - required:
                  - gcpCloudstorageOptions
              - required:
                  - mongodbOptions
              - required:
                  - mssqlOptions
              - required:
                  - mysqlOptions
              - required:
                  - postgresOptions
          - not:
              oneOf:
                - required:
                    - awsS3Options
                - required:
                    - dynamodbOptions
                - required:
                    - gcpCloudstorageOptions
                - required:
                    - mongodbOptions
                - required:
                    - mssqlOptions
                - required:
                    - mysqlOptions
                - required:
                    - postgresOptions
      title: JobDestinationOptions
    mgmt.v1alpha1.JobEngine:
      type: string
      title: JobEngine
      enum:
        - JOB_ENGINE_UNSPECIFIED
        - JOB_ENGINE_ATHANOR
        - JOB_ENGINE_BENTHOS
      description: |-
        Config that contains various timeouts that are configured in the underlying temporal workflow
         More options will come in the future as needed
         Which transformation engine runs a job.
    mgmt.v1alpha1.JobHook:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of this hook.
        name:
          type: string
          title: name
          description: Name of the hook for display/reference.
        description:
          type: string
          title: description
          description: Description of what this hook does.
        jobId:
          type: string
          title: job_id
          description: The unique identifier of the job this hook belongs to.
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobHookConfig'
          title: config
          description: Hook-type specific configuration.
        createdByUserId:
          type: string
          title: created_by_user_id
          description: The user that created this hook.
        createdAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: created_at
          description: The time this hook was created.
        updatedByUserId:
          type: string
          title: updated_by_user_id
          description: The user that last updated this hook.
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
          description: The last time this hook was updated.
        enabled:
          type: boolean
          title: enabled
          description: Whether or not the hook is enabled.
        priority:
          type: integer
          title: priority
          maximum: 100
          minimum: 0
          description: |-
            The priority of the hook (0-100). This determines the execution order. Lower values are higher priority (priority=0 is the highest).
             Tie Breaking is determined by the following: (priority, created_at, id) in ascending order.
      title: JobHook
      additionalProperties: false
    mgmt.v1alpha1.JobHookConfig:
      type: object
      allOf:
        - oneOf:
            - required:
                - sql
      anyOf:
        - type: object
          properties:
            sql:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobHookConfig.JobSqlHook'
              title: sql
              description: Configuration for SQL-specific hooks.
          title: sql
      unevaluatedProperties: false
      title: JobHookConfig
      description: Contains the specific hook type configurations.
    mgmt.v1alpha1.JobHookConfig.JobSqlHook:
      type: object
      properties:
        query:
          type: string
          title: query
          minLength: 1
          description: The SQL query to execute
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: Unique identifier of the Husonym connection to run this hook for. Must be a connection id that is present in the job.
        timing:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobHookConfig.JobSqlHook.Timing'
          title: timing
          description: The timing of when the hook will run
      title: JobSqlHook
      additionalProperties: false
      description: Configuration for SQL-based hooks
    mgmt.v1alpha1.JobHookConfig.JobSqlHook.Timing:
      type: object
      allOf:
        - oneOf:
            - required:
                - preSync
            - required:
                - postSync
      anyOf:
        - type: object
          properties:
            postSync:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobHookTimingPostSync'
              title: post_sync
              description: A Post-Sync timing. Will run after the last table sync.
          title: post_sync
        - type: object
          properties:
            preSync:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobHookTimingPreSync'
              title: pre_sync
              description: |-
                A Pre-Sync timing.
                 Will run before the first table sync.
                 Will run before Truncation, if enabled.
                 Will run before Schema Init, if enabled.
          title: pre_sync
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - postSync
              - required:
                  - preSync
          - not:
              oneOf:
                - required:
                    - postSync
                - required:
                    - preSync
      title: Timing
    mgmt.v1alpha1.JobHookTimingPostSync:
      type: object
      title: JobHookTimingPostSync
      additionalProperties: false
      description: Configures the job hook to run after the last table sync.
    mgmt.v1alpha1.JobHookTimingPreSync:
      type: object
      title: JobHookTimingPreSync
      additionalProperties: false
      description: |-
        Configures the job hook to run before the first table sync.
         Will run before Truncation, if enabled.
         Will run before Schema Init, if enabled.
    mgmt.v1alpha1.JobMapping:
      type: object
      properties:
        schema:
          type: string
          title: schema
          minLength: 1
          description: The database schema
        table:
          type: string
          title: table
          minLength: 1
          description: The database table.
        column:
          type: string
          title: column
          minLength: 1
          description: The column in the configured schema.table
        transformer:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobMappingTransformer'
          title: transformer
          description: The transformer configuration that will be applied to each cell in the column
      title: JobMapping
      additionalProperties: false
    mgmt.v1alpha1.JobMappingTransformer:
      type: object
      properties:
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: config
          description: The transformer configuration
      title: JobMappingTransformer
      additionalProperties: false
    mgmt.v1alpha1.JobNextRuns:
      type: object
      properties:
        nextRunTimes:
          type: array
          items:
            $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: next_run_times
          description: The list of next run times
      title: JobNextRuns
      additionalProperties: false
    mgmt.v1alpha1.JobRecentRun:
      type: object
      properties:
        startTime:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: start_time
          description: The start time of the job run
        jobRunId:
          type: string
          title: job_run_id
          description: The unique identifier of the job run
      title: JobRecentRun
      additionalProperties: false
    mgmt.v1alpha1.JobRun:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The id of the job run. This will currently be equivalent to the temporal workflow id
        jobId:
          type: string
          title: job_id
          description: The unique identifier of the job id this run is associated with
        name:
          type: string
          title: name
          description: The name of the job run.
        status:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobRunStatus'
          title: status
          description: the status of the job run
        startedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: started_at
          description: A timestamp of when the run started
        completedAt:
          oneOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
            - type: "null"
          title: completed_at
          description: Available if the run completed or has not yet been archived by the system
        pendingActivities:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.PendingActivity'
          title: pending_activities
          description: Pending activities are only returned when retrieving a specific job run and will not be returned when requesting job runs in list format
      title: JobRun
      additionalProperties: false
    mgmt.v1alpha1.JobRunEvent:
      type: object
      properties:
        id:
          type: string
          title: id
          format: int64
          description: The unique identifier of the event
        type:
          type: string
          title: type
          description: The type of the event
        startTime:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: start_time
          description: The start time of the event
        closeTime:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: close_time
          description: The close time of the event
        metadata:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobRunEventMetadata'
          title: metadata
          description: The metadata of the event
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobRunEventTask'
          title: tasks
          description: The list of tasks associated with the event
      title: JobRunEvent
      additionalProperties: false
    mgmt.v1alpha1.JobRunEventMetadata:
      type: object
      allOf:
        - oneOf:
            - required:
                - syncMetadata
      anyOf:
        - type: object
          properties:
            syncMetadata:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobRunSyncMetadata'
              title: sync_metadata
              description: The metadata of the sync
          title: sync_metadata
      unevaluatedProperties: false
      title: JobRunEventMetadata
    mgmt.v1alpha1.JobRunEventTask:
      type: object
      properties:
        id:
          type: string
          title: id
          format: int64
          description: The unique identifier of the task
        type:
          type: string
          title: type
          description: The type of the task
        eventTime:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: event_time
          description: The time of the event
        error:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobRunEventTaskError'
          title: error
          description: The error of the task
      title: JobRunEventTask
      additionalProperties: false
    mgmt.v1alpha1.JobRunEventTaskError:
      type: object
      properties:
        message:
          type: string
          title: message
          description: The message of the error
        retryState:
          type: string
          title: retry_state
          description: The retry state of the error
      title: JobRunEventTaskError
      additionalProperties: false
    mgmt.v1alpha1.JobRunStatus:
      type: string
      title: JobRunStatus
      enum:
        - JOB_RUN_STATUS_UNSPECIFIED
        - JOB_RUN_STATUS_PENDING
        - JOB_RUN_STATUS_RUNNING
        - JOB_RUN_STATUS_COMPLETE
        - JOB_RUN_STATUS_ERROR
        - JOB_RUN_STATUS_CANCELED
        - JOB_RUN_STATUS_TERMINATED
        - JOB_RUN_STATUS_FAILED
        - JOB_RUN_STATUS_TIMED_OUT
      description: An enumeration of job run statuses.
    mgmt.v1alpha1.JobRunSyncMetadata:
      type: object
      properties:
        schema:
          type: string
          title: schema
          description: The schema of the table
        table:
          type: string
          title: table
          description: The table of the sync
      title: JobRunSyncMetadata
      additionalProperties: false
    mgmt.v1alpha1.JobSource:
      type: object
      properties:
        options:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobSourceOptions'
          title: options
          description: The source options to use for the job
      title: JobSource
      required:
        - options
      additionalProperties: false
    mgmt.v1alpha1.JobSourceOptions:
      type: object
      allOf:
        - oneOf:
            - required:
                - postgres
            - required:
                - awsS3
            - required:
                - mysql
            - required:
                - generate
            - required:
                - aiGenerate
            - required:
                - mongodb
            - required:
                - dynamodb
            - required:
                - mssql
      anyOf:
        - type: object
          properties:
            aiGenerate:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AiGenerateSourceOptions'
              title: ai_generate
          title: ai_generate
        - type: object
          properties:
            awsS3:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.AwsS3SourceConnectionOptions'
              title: aws_s3
          title: aws_s3
        - type: object
          properties:
            dynamodb:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBSourceConnectionOptions'
              title: dynamodb
          title: dynamodb
        - type: object
          properties:
            generate:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateSourceOptions'
              title: generate
          title: generate
        - type: object
          properties:
            mongodb:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MongoDBSourceConnectionOptions'
              title: mongodb
          title: mongodb
        - type: object
          properties:
            mssql:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MssqlSourceConnectionOptions'
              title: mssql
          title: mssql
        - type: object
          properties:
            mysql:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MysqlSourceConnectionOptions'
              title: mysql
          title: mysql
        - type: object
          properties:
            postgres:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PostgresSourceConnectionOptions'
              title: postgres
          title: postgres
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - aiGenerate
              - required:
                  - awsS3
              - required:
                  - dynamodb
              - required:
                  - generate
              - required:
                  - mongodb
              - required:
                  - mssql
              - required:
                  - mysql
              - required:
                  - postgres
          - not:
              oneOf:
                - required:
                    - aiGenerate
                - required:
                    - awsS3
                - required:
                    - dynamodb
                - required:
                    - generate
                - required:
                    - mongodb
                - required:
                    - mssql
                - required:
                    - mysql
                - required:
                    - postgres
      title: JobSourceOptions
    mgmt.v1alpha1.JobSourceSqlSubetSchemas:
      type: object
      allOf:
        - oneOf:
            - required:
                - postgresSubset
            - required:
                - mysqlSubset
            - required:
                - dynamodbSubset
            - required:
                - mssqlSubset
      anyOf:
        - type: object
          properties:
            dynamodbSubset:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.DynamoDBSourceSchemaSubset'
              title: dynamodb_subset
              description: The list of tables (and their configuration) that reside within the schema
          title: dynamodb_subset
        - type: object
          properties:
            mssqlSubset:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MssqlSourceSchemaSubset'
              title: mssql_subset
              description: The list of schemas (and their tables) along with any configuration options that will be used.
          title: mssql_subset
        - type: object
          properties:
            mysqlSubset:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.MysqlSourceSchemaSubset'
              title: mysql_subset
              description: The list of schemas (and their tables) along with any configuration options that will be used.
          title: mysql_subset
        - type: object
          properties:
            postgresSubset:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.PostgresSourceSchemaSubset'
              title: postgres_subset
              description: The list of schemas (and their tables) along with any configuration options that will be used.
          title: postgres_subset
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - dynamodbSubset
              - required:
                  - mssqlSubset
              - required:
                  - mysqlSubset
              - required:
                  - postgresSubset
          - not:
              oneOf:
                - required:
                    - dynamodbSubset
                - required:
                    - mssqlSubset
                - required:
                    - mysqlSubset
                - required:
                    - postgresSubset
      title: JobSourceSqlSubetSchemas
    mgmt.v1alpha1.JobStatus:
      type: string
      title: JobStatus
      enum:
        - JOB_STATUS_UNSPECIFIED
        - JOB_STATUS_ENABLED
        - JOB_STATUS_PAUSED
        - JOB_STATUS_DISABLED
    mgmt.v1alpha1.JobStatusRecord:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The unique identifier of the job
        status:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobStatus'
          title: status
          description: The status of the job
      title: JobStatusRecord
      additionalProperties: false
    mgmt.v1alpha1.JobTypeConfig:
      type: object
      anyOf:
        - type: object
          properties:
            piiDetect:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect'
              title: pii_detect
          title: pii_detect
        - type: object
          properties:
            sync:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypeSync'
              title: sync
              description: This is the default if no job type is specified
          title: sync
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - piiDetect
              - required:
                  - sync
          - not:
              oneOf:
                - required:
                    - piiDetect
                - required:
                    - sync
      title: JobTypeConfig
      description: Specifies the job type along with any specific configuration for that job type
    mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect:
      type: object
      properties:
        dataSampling:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.DataSampling'
          title: data_sampling
          description: The configuration for data sampling
        tableScanFilter:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.TableScanFilter'
          title: table_scan_filter
          description: The configuration for filtering tables to scan
        userPrompt:
          type:
            - string
            - "null"
          title: user_prompt
          description: The user prompt to use for PII detection to help influence the LLM
        incremental:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.Incremental'
            - type: "null"
          title: incremental
          description: The configuration for incremental PII detection
      title: JobTypePiiDetect
      additionalProperties: false
    mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.DataSampling:
      type: object
      properties:
        isEnabled:
          type: boolean
          title: is_enabled
          description: Whether to enable data sampling
      title: DataSampling
      additionalProperties: false
      description: The configuration for data sampling
    mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.IncludeAll:
      type: object
      title: IncludeAll
      additionalProperties: false
      description: Configuration to include all tables
    mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.Incremental:
      type: object
      properties:
        isEnabled:
          type: boolean
          title: is_enabled
          description: Whether to enable incremental PII detection
      title: Incremental
      additionalProperties: false
      description: The configuration for incremental PII detection
    mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.TableIdentifier:
      type: object
      properties:
        schema:
          type: string
          title: schema
          minLength: 1
          description: The schema name
        table:
          type: string
          title: table
          minLength: 1
          description: The table name
      title: TableIdentifier
      additionalProperties: false
      description: Identifier for a specific table
    mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.TablePatterns:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          title: schemas
          description: Match entire schemas
        tables:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.TableIdentifier'
          title: tables
          description: Match specific tables within schemas
      title: TablePatterns
      additionalProperties: false
      description: Patterns for matching tables and schemas
    mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.TableScanFilter:
      type: object
      allOf:
        - oneOf:
            - required:
                - includeAll
            - required:
                - include
            - required:
                - exclude
      anyOf:
        - type: object
          properties:
            exclude:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.TablePatterns'
              title: exclude
              description: Include all except specified tables/schemas
          title: exclude
        - type: object
          properties:
            include:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.TablePatterns'
              title: include
              description: Only include specified tables/schemas
          title: include
        - type: object
          properties:
            includeAll:
              allOf:
                - $ref: '#/components/schemas/mgmt.v1alpha1.JobTypeConfig.JobTypePiiDetect.IncludeAll'
              title: include_all
              description: Include all tables (default behavior)
          title: include_all
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - exclude
              - required:
                  - include
              - required:
                  - includeAll
          - not:
              oneOf:
                - required:
                    - exclude
                - required:
                    - include
                - required:
                    - includeAll
      title: TableScanFilter
      description: Filter configuration for table scanning
    mgmt.v1alpha1.JobTypeConfig.JobTypeSync:
      type: object
      title: JobTypeSync
      additionalProperties: false
      description: The configuration for a data sync job
    mgmt.v1alpha1.LogLevel:
      type: string
      title: LogLevel
      enum:
        - LOG_LEVEL_UNSPECIFIED
        - LOG_LEVEL_DEBUG
        - LOG_LEVEL_INFO
        - LOG_LEVEL_WARN
        - LOG_LEVEL_ERROR
    mgmt.v1alpha1.LogWindow:
      type: string
      title: LogWindow
      enum:
        - LOG_WINDOW_NO_TIME_UNSPECIFIED
        - LOG_WINDOW_FIFTEEN_MIN
        - LOG_WINDOW_ONE_HOUR
        - LOG_WINDOW_ONE_DAY
    mgmt.v1alpha1.MapUnmappedColumnsRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The job to add the mappings to
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobMapping'
          title: mappings
          minItems: 1
          description: The columns to map, each with the transformer that anonymizes it.
      title: MapUnmappedColumnsRequest
      additionalProperties: false
    mgmt.v1alpha1.MapUnmappedColumnsResponse:
      type: object
      properties:
        added:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.JobMapping'
          title: added
          description: |-
            The mappings actually added. A column somebody mapped in the meantime is left as they set
             it and does not appear here: this call adds, it never overwrites a choice.
      title: MapUnmappedColumnsResponse
      additionalProperties: false
    mgmt.v1alpha1.MongoDBDestinationConnectionOptions:
      type: object
      title: MongoDBDestinationConnectionOptions
      additionalProperties: false
    mgmt.v1alpha1.MongoDBSourceConnectionOptions:
      type: object
      properties:
        connectionId:
          type: string
          title: connection_id
          format: uuid
          description: The unique connection id to a mongo connection configuration
      title: MongoDBSourceConnectionOptions
      additionalProperties: false
      description: MongoDB connection options for a job source
    mgmt.v1alpha1.MssqlDestinationConnectionOptions:
      type: object
      properties:
        truncateTable:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.MssqlTruncateTableConfig'
          title: truncate_table
          description: Whether to truncate the table before inserting data
        initTableSchema:
          type: boolean
          title: init_table_schema
          description: Whether to initialize the table schema before inserting data
        onConflict:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.MssqlOnConflictConfig'
          title: on_conflict
          description: The configuration for handling conflicts when inserting data
        skipForeignKeyViolations:
          type: boolean
          title: skip_foreign_key_violations
[...]
