openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    mgmt.v1alpha1.Date:
      type: object
      properties:
        year:
          type: integer
          title: year
          maximum: 9999
          minimum: 0
          description: |-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date without
             a year.
        month:
          type: integer
          title: month
          maximum: 31
          minimum: 0
          description: |-
            Month of a year. Must be from 1 to 12, or 0 to specify a year without a
             month and day.
        day:
          type: integer
          title: day
          maximum: 31
          minimum: 0
          description: |-
            Day of a month. Must be from 1 to 31 and valid for the year and month, or 0
             to specify a year by itself or a year and month where the day isn't
             significant.
      title: Date
      additionalProperties: false
      description: |-
        Represents a whole or partial calendar date, such as a birthday. The time of
         day and time zone are either specified elsewhere or are insignificant. The
         date is relative to the Gregorian Calendar. This can represent one of the
         following:

         * A full date, with non-zero year, month, and day values
         * A month and day value, with a zero year, such as an anniversary
         * A year on its own, with zero month and day values
         * A year and month value, with a zero day, such as a credit card expiration
         date

         Related types are [google.type.TimeOfDay][google.type.TimeOfDay] and
         `google.protobuf.Timestamp`.
    mgmt.v1alpha1.DayResult:
      type: object
      properties:
        date:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Date'
          title: date
          description: The date of the result
        count:
          type: string
          title: count
          format: int64
          description: The count of the metric for the given date
      title: DayResult
      additionalProperties: false
    mgmt.v1alpha1.GetDailyMetricCountRequest:
      type: object
      anyOf:
        - type: object
          properties:
            accountId:
              type: string
              title: account_id
              format: uuid
              description: The account identifier that will be used to filter by
          title: account_id
        - type: object
          properties:
            jobId:
              type: string
              title: job_id
              format: uuid
              description: The job identifier that will be used to filter by
          title: job_id
        - type: object
          properties:
            runId:
              type: string
              title: run_id
              format: uuid
              description: The run identifier that will be used to filter by
          title: run_id
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - accountId
              - required:
                  - jobId
              - required:
                  - runId
          - not:
              oneOf:
                - required:
                    - accountId
                - required:
                    - jobId
                - required:
                    - runId
      properties:
        start:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Date'
          title: start
          description: The start day
        end:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Date'
          title: end
          description: The end day
        metric:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RangedMetricName'
          title: metric
          description: The metric to return
      title: GetDailyMetricCountRequest
    mgmt.v1alpha1.GetDailyMetricCountResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.DayResult'
          title: results
          description: The list of results for the given metric and date range
      title: GetDailyMetricCountResponse
      additionalProperties: false
    mgmt.v1alpha1.GetMetricCountRequest:
      type: object
      anyOf:
        - type: object
          properties:
            accountId:
              type: string
              title: account_id
              format: uuid
              description: The account identifier that will be used to filter by
          title: account_id
        - type: object
          properties:
            jobId:
              type: string
              title: job_id
              format: uuid
              description: The job identifier that will be used to filter by
          title: job_id
        - type: object
          properties:
            runId:
              type: string
              title: run_id
              format: uuid
              description: The run identifier that will be used to filter by
          title: run_id
      unevaluatedProperties: false
      not:
        allOf:
          - anyOf:
              - required:
                  - accountId
              - required:
                  - jobId
              - required:
                  - runId
          - not:
              oneOf:
                - required:
                    - accountId
                - required:
                    - jobId
                - required:
                    - runId
      properties:
        metric:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RangedMetricName'
          title: metric
          description: The metric to return
        startDay:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Date'
          title: start_day
        endDay:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Date'
          title: end_day
      title: GetMetricCountRequest
    mgmt.v1alpha1.GetMetricCountResponse:
      type: object
      properties:
        count:
          type: string
          title: count
          format: int64
          description: The summed up count of the metric based on the input query and timerange specified
      title: GetMetricCountResponse
      additionalProperties: false
    mgmt.v1alpha1.RangedMetricName:
      type: string
      title: RangedMetricName
      enum:
        - RANGED_METRIC_NAME_UNSPECIFIED
        - RANGED_METRIC_NAME_INPUT_RECEIVED
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.MetricsService/GetDailyMetricCount:
    post:
      tags:
        - mgmt.v1alpha1.MetricsService
      summary: GetDailyMetricCount
      description: Retrieve a timed range of records
      operationId: mgmt.v1alpha1.MetricsService.GetDailyMetricCount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetDailyMetricCountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetDailyMetricCountResponse'
  /mgmt.v1alpha1.MetricsService/GetMetricCount:
    post:
      tags:
        - mgmt.v1alpha1.MetricsService
      summary: GetMetricCount
      description: For the given metric and time range, returns the total count found
      operationId: mgmt.v1alpha1.MetricsService.GetMetricCount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetMetricCountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetMetricCountResponse'
tags:
  - name: mgmt.v1alpha1.MetricsService
    description: Service that handles serving up usage metrics
