openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: A point in time in RFC 3339 format, with up to nanosecond precision. Output uses UTC (`Z`); input may use an offset from UTC.
    mgmt.v1alpha1.RecordRunEndedRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The job the run belongs to. The account and the kind of the run are read from it.
        runId:
          type: string
          title: run_id
          minLength: 1
          description: The identifier of the run, as the orchestrator gives it.
        startedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: started_at
          description: When the run began.
        endedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: ended_at
          description: When the run ended.
        outcome:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RunOutcome'
          not:
            enum:
              - RUN_OUTCOME_UNSPECIFIED
          title: outcome
          description: How the run ended.
        rowsRead:
          type: string
          title: rows_read
          minimum: 0
          format: int64
          description: The rows the run read from its source.
        rowsDiscarded:
          type: string
          title: rows_discarded
          minimum: 0
          format: int64
          description: The rows the run set aside instead of writing them.
        retries:
          type: string
          title: retries
          minimum: 0
          format: int64
          description: The times the run's activities were tried again.
      title: RecordRunEndedRequest
      required:
        - startedAt
        - endedAt
      additionalProperties: false
    mgmt.v1alpha1.RecordRunEndedResponse:
      type: object
      title: RecordRunEndedResponse
      additionalProperties: false
    mgmt.v1alpha1.RecordRunStartedRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The job the run belongs to. The account and the kind of the run are read from it.
        runId:
          type: string
          title: run_id
          minLength: 1
          description: The identifier of the run, as the orchestrator gives it.
        startedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: started_at
          description: When the run began.
      title: RecordRunStartedRequest
      required:
        - startedAt
      additionalProperties: false
    mgmt.v1alpha1.RecordRunStartedResponse:
      type: object
      title: RecordRunStartedResponse
      additionalProperties: false
    mgmt.v1alpha1.RunOutcome:
      type: string
      title: RunOutcome
      enum:
        - RUN_OUTCOME_UNSPECIFIED
        - RUN_OUTCOME_COMPLETED
        - RUN_OUTCOME_FAILED
        - RUN_OUTCOME_CANCELED
      description: How a run ended.
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.UsageService/RecordRunEnded:
    post:
      tags:
        - mgmt.v1alpha1.UsageService
      summary: RecordRunEnded
      description: Tells that a run has ended, and what it did. Only the worker calls this, with its key.
      operationId: mgmt.v1alpha1.UsageService.RecordRunEnded
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunEndedRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunEndedResponse'
  /mgmt.v1alpha1.UsageService/RecordRunStarted:
    post:
      tags:
        - mgmt.v1alpha1.UsageService
      summary: RecordRunStarted
      description: Tells that a run has begun. Only the worker calls this, with its key.
      operationId: mgmt.v1alpha1.UsageService.RecordRunStarted
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunStartedRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunStartedResponse'
tags:
  - name: mgmt.v1alpha1.UsageService
    description: Holds the counters of what the instance runs.
