openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: A point in time in RFC 3339 format, with up to nanosecond precision. Output uses UTC (`Z`); input may use an offset from UTC.
    mgmt.v1alpha1.Date:
      type: object
      properties:
        year:
          type: integer
          title: year
          maximum: 9999
          minimum: 0
          description: |-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date without
             a year.
        month:
          type: integer
          title: month
          maximum: 31
          minimum: 0
          description: |-
            Month of a year. Must be from 1 to 12, or 0 to specify a year without a
             month and day.
        day:
          type: integer
          title: day
          maximum: 31
          minimum: 0
          description: |-
            Day of a month. Must be from 1 to 31 and valid for the year and month, or 0
             to specify a year by itself or a year and month where the day isn't
             significant.
      title: Date
      additionalProperties: false
      description: |-
        Represents a whole or partial calendar date, such as a birthday. The time of
         day and time zone are either specified elsewhere or are insignificant. The
         date is relative to the Gregorian Calendar. This can represent one of the
         following:

         * A full date, with non-zero year, month, and day values
         * A month and day value, with a zero year, such as an anniversary
         * A year on its own, with zero month and day values
         * A year and month value, with a zero day, such as a credit card expiration
         date

         Related types are [google.type.TimeOfDay][google.type.TimeOfDay] and
         `google.protobuf.Timestamp`.
    mgmt.v1alpha1.GetUsagePeriodReportRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account that asks.
        fromMonth:
          type: string
          title: from_month
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])$
          description: The first month of the period, as "2026-01", in UTC.
        toMonth:
          type: string
          title: to_month
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])$
          description: 'The last month of the period, included: not before the first, not in the future, and at most 24 months in all.'
      title: GetUsagePeriodReportRequest
      additionalProperties: false
    mgmt.v1alpha1.GetUsagePeriodReportResponse:
      type: object
      properties:
        document:
          type: string
          title: document
          description: The report for the period, as it was sealed, byte for byte.
        seal:
          type: string
          title: seal
          description: The seal of the document.
        keyFingerprint:
          type: string
          title: key_fingerprint
          description: The fingerprint of the key that sealed it.
      title: GetUsagePeriodReportResponse
      additionalProperties: false
    mgmt.v1alpha1.GetUsageReportRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account that asks.
        day:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Date'
          title: day
          description: 'The UTC day of the report: a day of the calendar that is not in the future.'
      title: GetUsageReportRequest
      required:
        - day
      additionalProperties: false
    mgmt.v1alpha1.GetUsageReportResponse:
      type: object
      properties:
        document:
          type: string
          title: document
          description: The report as it is kept, byte for byte.
        seal:
          type: string
          title: seal
          description: The seal of the document.
        keyFingerprint:
          type: string
          title: key_fingerprint
          description: The fingerprint of the key that sealed it.
      title: GetUsageReportResponse
      additionalProperties: false
    mgmt.v1alpha1.GetUsageReportingRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account that asks.
      title: GetUsageReportingRequest
      additionalProperties: false
    mgmt.v1alpha1.GetUsageReportingResponse:
      type: object
      properties:
        licenseMode:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.UsageReportingMode'
          title: license_mode
          description: What the license key provides for the usage report. Unspecified when no key is in force.
        mode:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.UsageReportingMode'
          title: mode
          description: The mode in force. Unspecified when no key is in force.
        belowLicense:
          type: boolean
          title: below_license
          description: Whether the operator lowered the mode below what the key provides.
        diagnostics:
          type: boolean
          title: diagnostics
          description: Whether the part of the report that describes the instance is on.
        sendingSince:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: sending_since
          description: Since when the instance sends its report. Absent when it does not.
        firstSendAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: first_send_at
          description: 'When the first report is sent at the earliest: 24 hours after it was prepared. Present while the instance sends, has a report to send and has sent none since it started sending.'
        lastSentAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: last_sent_at
          description: When a report was last sent. Absent when none ever was.
        silent:
          type: boolean
          title: silent
          description: Whether the instance sends its report and nothing was sent for 30 days.
        reports:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.UsageReportSummary'
          title: reports
          description: What became of the reports of the last 30 days, the newest first.
      title: GetUsageReportingResponse
      additionalProperties: false
    mgmt.v1alpha1.RecordRunEndedRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The job the run belongs to. The account and the kind of the run are read from it.
        runId:
          type: string
          title: run_id
          minLength: 1
          description: The identifier of the run, as the orchestrator gives it.
        startedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: started_at
          description: When the run began.
        endedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: ended_at
          description: When the run ended.
        outcome:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RunOutcome'
          not:
            enum:
              - RUN_OUTCOME_UNSPECIFIED
          title: outcome
          description: How the run ended.
        rowsRead:
          type: string
          title: rows_read
          minimum: 0
          format: int64
          description: The rows the run read from its source.
        rowsDiscarded:
          type: string
          title: rows_discarded
          minimum: 0
          format: int64
          description: The rows the run set aside instead of writing them.
        retries:
          type: string
          title: retries
          minimum: 0
          format: int64
          description: The times the run's activities were tried again.
        tablesUncounted:
          type: string
          title: tables_uncounted
          minimum: 0
          format: int64
          description: The tables of the run whose rows were not counted.
        sourceVersionMajor:
          type: string
          title: source_version_major
          pattern: ^([0-9]{1,3}(\.[0-9]{1,3})?)?$
          description: The major version of the database the run read, as "16" or "8.0". Empty when it is not known.
        errorCategory:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RunErrorCategory'
          title: error_category
          description: What kept the run from completing. Unspecified when it is not told; a value the service does not know counts as other.
        errorStep:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.RunErrorStep'
          title: error_step
          description: The step the run was at when it stopped. Unspecified when it is not told; a value the service does not know counts as other.
      title: RecordRunEndedRequest
      required:
        - startedAt
        - endedAt
      additionalProperties: false
    mgmt.v1alpha1.RecordRunEndedResponse:
      type: object
      title: RecordRunEndedResponse
      additionalProperties: false
    mgmt.v1alpha1.RecordRunStartedRequest:
      type: object
      properties:
        jobId:
          type: string
          title: job_id
          format: uuid
          description: The job the run belongs to. The account and the kind of the run are read from it.
        runId:
          type: string
          title: run_id
          minLength: 1
          description: The identifier of the run, as the orchestrator gives it.
        startedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: started_at
          description: When the run began.
      title: RecordRunStartedRequest
      required:
        - startedAt
      additionalProperties: false
    mgmt.v1alpha1.RecordRunStartedResponse:
      type: object
      title: RecordRunStartedResponse
      additionalProperties: false
    mgmt.v1alpha1.RunErrorCategory:
      type: string
      title: RunErrorCategory
      enum:
        - RUN_ERROR_CATEGORY_UNSPECIFIED
        - RUN_ERROR_CATEGORY_CONNECTION_REFUSED
        - RUN_ERROR_CATEGORY_AUTHENTICATION_REFUSED
        - RUN_ERROR_CATEGORY_TIMEOUT
        - RUN_ERROR_CATEGORY_CONSTRAINT_VIOLATED
        - RUN_ERROR_CATEGORY_INSUFFICIENT_PRIVILEGES
        - RUN_ERROR_CATEGORY_OBJECT_MISSING
        - RUN_ERROR_CATEGORY_TYPE_MISMATCH
        - RUN_ERROR_CATEGORY_RESOURCES_EXHAUSTED
        - RUN_ERROR_CATEGORY_CANCELED
        - RUN_ERROR_CATEGORY_LICENSE
        - RUN_ERROR_CATEGORY_OTHER
      description: What kept a run from completing, read from the type of its error and from the code of the database, never from a message.
    mgmt.v1alpha1.RunErrorStep:
      type: string
      title: RunErrorStep
      enum:
        - RUN_ERROR_STEP_UNSPECIFIED
        - RUN_ERROR_STEP_PREFLIGHT
        - RUN_ERROR_STEP_SCHEMA_INIT
        - RUN_ERROR_STEP_TABLE_SYNC
        - RUN_ERROR_STEP_HOOKS
        - RUN_ERROR_STEP_INTEGRITY_CHECK
        - RUN_ERROR_STEP_OTHER
      description: The step a run was at when it stopped.
    mgmt.v1alpha1.RunOutcome:
      type: string
      title: RunOutcome
      enum:
        - RUN_OUTCOME_UNSPECIFIED
        - RUN_OUTCOME_COMPLETED
        - RUN_OUTCOME_FAILED
        - RUN_OUTCOME_CANCELED
      description: How a run ended.
    mgmt.v1alpha1.UsageReportStatus:
      type: string
      title: UsageReportStatus
      enum:
        - USAGE_REPORT_STATUS_UNSPECIFIED
        - USAGE_REPORT_STATUS_KEPT
        - USAGE_REPORT_STATUS_TO_BE_SENT
        - USAGE_REPORT_STATUS_SENT
        - USAGE_REPORT_STATUS_NOT_SENT
      description: What became of the usage report of a day.
    mgmt.v1alpha1.UsageReportSummary:
      type: object
      properties:
        day:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Date'
          title: day
          description: The UTC day the report counts.
        status:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.UsageReportStatus'
          title: status
        sentAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: sent_at
          description: When the report was sent. Absent while it was not.
        attempts:
          type: integer
          title: attempts
          format: int32
          description: How many times the report was tried.
      title: UsageReportSummary
      additionalProperties: false
    mgmt.v1alpha1.UsageReportingMode:
      type: string
      title: UsageReportingMode
      enum:
        - USAGE_REPORTING_MODE_UNSPECIFIED
        - USAGE_REPORTING_MODE_ONLINE
        - USAGE_REPORTING_MODE_OFFLINE_REPORT
        - USAGE_REPORTING_MODE_NONE
      description: What the instance does with its usage report.
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.UsageService/GetUsagePeriodReport:
    post:
      tags:
        - mgmt.v1alpha1.UsageService
      summary: GetUsagePeriodReport
      description: Makes the usage report of the instance for a period of months, month by month, and seals it. Needs a license key in force.
      operationId: mgmt.v1alpha1.UsageService.GetUsagePeriodReport
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetUsagePeriodReportRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetUsagePeriodReportResponse'
  /mgmt.v1alpha1.UsageService/GetUsageReport:
    post:
      tags:
        - mgmt.v1alpha1.UsageService
      summary: GetUsageReport
      description: Gives the usage report of a day, as it is kept.
      operationId: mgmt.v1alpha1.UsageService.GetUsageReport
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetUsageReportRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetUsageReportResponse'
  /mgmt.v1alpha1.UsageService/GetUsageReporting:
    post:
      tags:
        - mgmt.v1alpha1.UsageService
      summary: GetUsageReporting
      description: Tells under which mode the usage report of the instance is sent, and what became of the reports of the last 30 days.
      operationId: mgmt.v1alpha1.UsageService.GetUsageReporting
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetUsageReportingRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetUsageReportingResponse'
  /mgmt.v1alpha1.UsageService/RecordRunEnded:
    post:
      tags:
        - mgmt.v1alpha1.UsageService
      summary: RecordRunEnded
      description: Tells that a run has ended, and what it did. Only the worker calls this, with its key.
      operationId: mgmt.v1alpha1.UsageService.RecordRunEnded
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunEndedRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunEndedResponse'
  /mgmt.v1alpha1.UsageService/RecordRunStarted:
    post:
      tags:
        - mgmt.v1alpha1.UsageService
      summary: RecordRunStarted
      description: Tells that a run has begun. Only the worker calls this, with its key.
      operationId: mgmt.v1alpha1.UsageService.RecordRunStarted
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunStartedRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RecordRunStartedResponse'
tags:
  - name: mgmt.v1alpha1.UsageService
    description: Holds the counters of what the instance runs.
