openapi: 3.1.0
info:
  summary: Husonym API
  description: API documentation for mgmt.v1alpha1
  version: "0.5"
  termsOfService: "https://husonym.com/terms-of-service"
  contact:
    name: Husonym Support
    email: support@husonym.com
  license:
    name: MIT
    url: https://github.com/fishtre-compagnie/husonym/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.husonym.com/api
servers:
  - url: https://husonym-api.svcs.husonym.com
    description: Husonym Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    connect-protocol-version:
      type: number
      examples:
        - 1
      title: Connect-Protocol-Version
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      examples:
        - 1000
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          type: object
          title: Debug
          additionalProperties: true
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: A point in time in RFC 3339 format, with up to nanosecond precision. Output uses UTC (`Z`); input may use an offset from UTC.
    mgmt.v1alpha1.AcceptTeamAccountInviteRequest:
      type: object
      properties:
        token:
          type: string
          title: token
          minLength: 1
          description: The token that the user will use to accept the invite.
      title: AcceptTeamAccountInviteRequest
      additionalProperties: false
    mgmt.v1alpha1.AcceptTeamAccountInviteResponse:
      type: object
      properties:
        account:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.UserAccount'
          title: account
          description: The account that the user was invited to.
      title: AcceptTeamAccountInviteResponse
      additionalProperties: false
    mgmt.v1alpha1.AccountInvite:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of the invite.
        accountId:
          type: string
          title: account_id
          description: The unique identifier of the account to invite the user to.
        senderUserId:
          type: string
          title: sender_user_id
          description: The unique identifier of the user that sent the invite.
        email:
          type: string
          title: email
          description: The email of the user to invite.
        token:
          type: string
          title: token
          description: The token that the user will use to accept the invite.
        accepted:
          type: boolean
          title: accepted
          description: Whether or not the invite has been accepted.
        createdAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: created_at
          description: The time when the invite was created.
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
          description: The time when the invite was last updated.
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: The time when the invite expires.
        role:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountRole'
          title: role
          description: The role of the user to invite. Only used if RBAC is enabled.
      title: AccountInvite
      additionalProperties: false
    mgmt.v1alpha1.AccountOnboardingConfig:
      type: object
      properties:
        hasCompletedOnboarding:
          type: boolean
          title: has_completed_onboarding
          description: Whether or not the account has completed onboarding.
      title: AccountOnboardingConfig
      additionalProperties: false
    mgmt.v1alpha1.AccountRole:
      type: string
      title: AccountRole
      enum:
        - ACCOUNT_ROLE_UNSPECIFIED
        - ACCOUNT_ROLE_ADMIN
        - ACCOUNT_ROLE_JOB_DEVELOPER
        - ACCOUNT_ROLE_JOB_VIEWER
        - ACCOUNT_ROLE_JOB_EXECUTOR
    mgmt.v1alpha1.AccountStatus:
      type: string
      title: AccountStatus
      enum:
        - ACCOUNT_STATUS_REASON_UNSPECIFIED
        - ACCOUNT_STATUS_ACCOUNT_IN_EXPIRED_STATE
        - ACCOUNT_STATUS_ACCOUNT_TRIAL_ACTIVE
        - ACCOUNT_STATUS_ACCOUNT_TRIAL_EXPIRED
    mgmt.v1alpha1.AccountTemporalConfig:
      type: object
      properties:
        url:
          type: string
          title: url
          minLength: 1
          description: The temporal url for the account.
        namespace:
          type: string
          title: namespace
          minLength: 1
          description: The temporal namespace for the account.
        syncJobQueueName:
          type: string
          title: sync_job_queue_name
          minLength: 1
          description: The temporal sync job queue name for the account.
      title: AccountTemporalConfig
      additionalProperties: false
    mgmt.v1alpha1.AccountUser:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of the user.
        name:
          type: string
          title: name
          description: The name of the user (if there is one)
        image:
          type: string
          title: image
          description: The image of the user (if there is one)
        email:
          type: string
          title: email
          description: The email of the user.
        role:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountRole'
          title: role
          description: The role of the user in the account. If RBAC is not enabled, will be unspecified.
      title: AccountUser
      additionalProperties: false
    mgmt.v1alpha1.BillingStatus:
      type: string
      title: BillingStatus
      enum:
        - BILLING_STATUS_UNSPECIFIED
        - BILLING_STATUS_ACTIVE
        - BILLING_STATUS_EXPIRED
        - BILLING_STATUS_TRIAL_ACTIVE
        - BILLING_STATUS_TRIAL_EXPIRED
    mgmt.v1alpha1.ConvertPersonalToTeamAccountRequest:
      type: object
      properties:
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The name of the team account
        accountId:
          type:
            - string
            - "null"
          title: account_id
          format: uuid
          description: |-
            Optionally provide the personal account to convert. This may be used in break-glass scenarios where there are multiple personal accounts
             And we want to convert one of them. If not provided, it will find the first one and convert it, leaving the other.
      title: ConvertPersonalToTeamAccountRequest
      additionalProperties: false
    mgmt.v1alpha1.ConvertPersonalToTeamAccountResponse:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          description: The id of the team account (will be the same identifier as the personal account)
        checkoutSessionUrl:
          type:
            - string
            - "null"
          title: checkout_session_url
          description: If HusonymCloud, will respond with a checkout session url so they can setup billing
        newPersonalAccountId:
          type: string
          title: new_personal_account_id
          description: The identifier of the newly created personal account
      title: ConvertPersonalToTeamAccountResponse
      additionalProperties: false
    mgmt.v1alpha1.CreateTeamAccountRequest:
      type: object
      properties:
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The name of the team account
      title: CreateTeamAccountRequest
      additionalProperties: false
    mgmt.v1alpha1.CreateTeamAccountResponse:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          description: The unique identifier of the team account that was created.
        checkoutSessionUrl:
          type:
            - string
            - "null"
          title: checkout_session_url
          description: If HusonymCloud, will respond with a checkout session url so they can setup billing
      title: CreateTeamAccountResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountBillingCheckoutSessionRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the billing checkout session for.
      title: GetAccountBillingCheckoutSessionRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountBillingCheckoutSessionResponse:
      type: object
      properties:
        checkoutSessionUrl:
          type: string
          title: checkout_session_url
          description: The url that will be redirected to
      title: GetAccountBillingCheckoutSessionResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountBillingPortalSessionRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the billing portal session for.
      title: GetAccountBillingPortalSessionRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountBillingPortalSessionResponse:
      type: object
      properties:
        portalSessionUrl:
          type: string
          title: portal_session_url
          description: The url that will be redirected to
      title: GetAccountBillingPortalSessionResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountOnboardingConfigRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the onboarding config for.
      title: GetAccountOnboardingConfigRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountOnboardingConfigResponse:
      type: object
      properties:
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountOnboardingConfig'
          title: config
          description: The onboarding config for the account.
      title: GetAccountOnboardingConfigResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountStatusRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the status for.
      title: GetAccountStatusRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountStatusResponse:
      type: object
      properties:
        usedRecordCount:
          type: string
          title: used_record_count
          format: int64
          description: |-
            A count of the currently used records for the current billing period.
             This may go over the allowed record count depending on when the record count is polled by the metric system.
        allowedRecordCount:
          type:
            - string
            - "null"
          title: allowed_record_count
          format: int64
          description: The allowed record count. It will be null if there is no limit.
        subscriptionStatus:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.BillingStatus'
          title: subscription_status
          description: The current subscription status determined by the billing system.
      title: GetAccountStatusResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountTemporalConfigRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the temporal config for.
      title: GetAccountTemporalConfigRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountTemporalConfigResponse:
      type: object
      properties:
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountTemporalConfig'
          title: config
          description: The temporal config for the account.
      title: GetAccountTemporalConfigResponse
      additionalProperties: false
    mgmt.v1alpha1.GetBillingAccountsRequest:
      type: object
      properties:
        accountIds:
          type: array
          items:
            type: string
          title: account_ids
          description: Optional list of account identifiers to filter the response by
      title: GetBillingAccountsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetBillingAccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.UserAccount'
          title: accounts
          description: The list of accounts that have a billing id.
      title: GetBillingAccountsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetSystemInformationRequest:
      type: object
      title: GetSystemInformationRequest
      additionalProperties: false
    mgmt.v1alpha1.GetSystemInformationResponse:
      type: object
      properties:
        version:
          type: string
          title: version
          description: The Git tagged version
        commit:
          type: string
          title: commit
          description: The Git commit
        compiler:
          type: string
          title: compiler
          description: The Go compiler flag that was used to build this version of Husonym
        platform:
          type: string
          title: platform
          description: The Go platform flag that was used to build this version of Husonym
        buildDate:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: build_date
          description: The time when the build was created
        license:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.SystemLicense'
          title: license
          description: The license information for the system
      title: GetSystemInformationResponse
      additionalProperties: false
    mgmt.v1alpha1.GetTeamAccountInvitesRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the invites for.
      title: GetTeamAccountInvitesRequest
      additionalProperties: false
    mgmt.v1alpha1.GetTeamAccountInvitesResponse:
      type: object
      properties:
        invites:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountInvite'
          title: invites
          description: The list of invites for the account.
      title: GetTeamAccountInvitesResponse
      additionalProperties: false
    mgmt.v1alpha1.GetTeamAccountMembersRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the members for.
      title: GetTeamAccountMembersRequest
      additionalProperties: false
    mgmt.v1alpha1.GetTeamAccountMembersResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountUser'
          title: users
      title: GetTeamAccountMembersResponse
      additionalProperties: false
    mgmt.v1alpha1.GetUserAccountsRequest:
      type: object
      title: GetUserAccountsRequest
      additionalProperties: false
    mgmt.v1alpha1.GetUserAccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.UserAccount'
          title: accounts
          description: The list of accounts that the user belongs to.
      title: GetUserAccountsResponse
      additionalProperties: false
    mgmt.v1alpha1.GetUserRequest:
      type: object
      title: GetUserRequest
      additionalProperties: false
    mgmt.v1alpha1.GetUserResponse:
      type: object
      properties:
        userId:
          type: string
          title: user_id
          description: The unique identifier of the user that was retrieved.
      title: GetUserResponse
      additionalProperties: false
    mgmt.v1alpha1.HasPermissionRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to check the permission for.
        resource:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ResourcePermission'
          title: resource
          description: The resource to check the permission for.
      title: HasPermissionRequest
      additionalProperties: false
    mgmt.v1alpha1.HasPermissionResponse:
      type: object
      properties:
        hasPermission:
          type: boolean
          title: has_permission
          description: Whether or not the user has the given permission.
      title: HasPermissionResponse
      additionalProperties: false
    mgmt.v1alpha1.HasPermissionsRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to check the permissions for.
        resources:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.ResourcePermission'
          title: resources
          description: The resources to check the permissions for.
      title: HasPermissionsRequest
      additionalProperties: false
    mgmt.v1alpha1.HasPermissionsResponse:
      type: object
      properties:
        assertions:
          type: array
          items:
            type: boolean
          title: assertions
          description: Parallel array to the resources, with the same index.
      title: HasPermissionsResponse
      additionalProperties: false
    mgmt.v1alpha1.InviteUserToTeamAccountRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to invite the user to.
        email:
          type: string
          title: email
          minLength: 1
          description: The email of the user to invite.
        role:
          oneOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountRole'
            - type: "null"
          title: role
          description: The role of the user to invite. Only used if RBAC is enabled.
      title: InviteUserToTeamAccountRequest
      additionalProperties: false
    mgmt.v1alpha1.InviteUserToTeamAccountResponse:
      type: object
      properties:
        invite:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountInvite'
          title: invite
          description: The invite that was created.
      title: InviteUserToTeamAccountResponse
      additionalProperties: false
    mgmt.v1alpha1.IsAccountStatusValidRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the status for.
        requestedRecordCount:
          type:
            - string
            - "null"
          title: requested_record_count
          format: int64
          description: An optional count of records to be added to the current usage for validation.
      title: IsAccountStatusValidRequest
      additionalProperties: false
    mgmt.v1alpha1.IsAccountStatusValidResponse:
      type: object
      properties:
        isValid:
          type: boolean
          title: is_valid
          description: Whether or not the account is valid.
        reason:
          type:
            - string
            - "null"
          title: reason
          description: If the account is not valid, a reason for why may be provided.
        shouldPoll:
          type: boolean
          title: should_poll
          description: Whether or not the process should decide to continue polling for validitiy updates
        accountStatus:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountStatus'
          title: account_status
          description: The current status of the account. Default is valid.
        trialExpiresAt:
          oneOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
            - type: "null"
          title: trial_expires_at
          description: The time when the trial expires
      title: IsAccountStatusValidResponse
      additionalProperties: false
    mgmt.v1alpha1.IsUserInAccountRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to check if the user is in.
      title: IsUserInAccountRequest
      additionalProperties: false
    mgmt.v1alpha1.IsUserInAccountResponse:
      type: object
      properties:
        ok:
          type: boolean
          title: ok
          description: Whether or not the user is in the account.
      title: IsUserInAccountResponse
      additionalProperties: false
    mgmt.v1alpha1.RemoveTeamAccountInviteRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the invite to remove.
      title: RemoveTeamAccountInviteRequest
      additionalProperties: false
    mgmt.v1alpha1.RemoveTeamAccountInviteResponse:
      type: object
      title: RemoveTeamAccountInviteResponse
      additionalProperties: false
    mgmt.v1alpha1.RemoveTeamAccountMemberRequest:
      type: object
      properties:
        userId:
          type: string
          title: user_id
          format: uuid
          description: The unique identifier of the user to remove from the account.
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to remove the user from.
      title: RemoveTeamAccountMemberRequest
      additionalProperties: false
    mgmt.v1alpha1.RemoveTeamAccountMemberResponse:
      type: object
      title: RemoveTeamAccountMemberResponse
      additionalProperties: false
    mgmt.v1alpha1.ResourcePermission:
      type: object
      properties:
        type:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ResourcePermission.Type'
          title: type
          description: The type of resource to check the permission for.
        id:
          type: string
          title: id
          minLength: 1
          description: The unique identifier of the resource to check the permission for.
        action:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.ResourcePermission.Action'
          title: action
          description: The action to check for.
      title: ResourcePermission
      additionalProperties: false
    mgmt.v1alpha1.ResourcePermission.Action:
      type: string
      title: Action
      enum:
        - ACTION_UNSPECIFIED
        - ACTION_CREATE
        - ACTION_READ
        - ACTION_UPDATE
        - ACTION_DELETE
    mgmt.v1alpha1.ResourcePermission.Type:
      type: string
      title: Type
      enum:
        - TYPE_UNSPECIFIED
        - TYPE_ACCOUNT
        - TYPE_CONNECTION
        - TYPE_JOB
    mgmt.v1alpha1.SetAccountOnboardingConfigRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to set the onboarding config for.
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountOnboardingConfig'
          title: config
          description: The onboarding config to set for the account.
      title: SetAccountOnboardingConfigRequest
      additionalProperties: false
    mgmt.v1alpha1.SetAccountOnboardingConfigResponse:
      type: object
      properties:
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountOnboardingConfig'
          title: config
          description: The onboarding config that was set for the account.
      title: SetAccountOnboardingConfigResponse
      additionalProperties: false
    mgmt.v1alpha1.SetAccountTemporalConfigRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to set the temporal config for.
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountTemporalConfig'
          title: config
          description: The temporal config to set for the account.
      title: SetAccountTemporalConfigRequest
      additionalProperties: false
    mgmt.v1alpha1.SetAccountTemporalConfigResponse:
      type: object
      properties:
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountTemporalConfig'
          title: config
          description: The temporal config that was set for the account.
      title: SetAccountTemporalConfigResponse
      additionalProperties: false
    mgmt.v1alpha1.SetBillingMeterEventRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to apply this metered event to.
        eventName:
          type: string
          title: event_name
          minLength: 1
          description: The metered event name
        value:
          type: string
          title: value
          minLength: 1
          description: The value of the meter for the given time
        eventId:
          type: string
          title: event_id
          minLength: 1
          description: The unique identifier of this metered event
        timestamp:
          type:
            - string
            - "null"
          title: timestamp
          format: int64
          description: The time of the event in Unix Epoch format. Defaults to the current timestamp if not specified.
      title: SetBillingMeterEventRequest
      additionalProperties: false
    mgmt.v1alpha1.SetBillingMeterEventResponse:
      type: object
      title: SetBillingMeterEventResponse
      additionalProperties: false
    mgmt.v1alpha1.SetPersonalAccountRequest:
      type: object
      title: SetPersonalAccountRequest
      additionalProperties: false
    mgmt.v1alpha1.SetPersonalAccountResponse:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          description: The unique identifier of the personal account that was created.
      title: SetPersonalAccountResponse
      additionalProperties: false
    mgmt.v1alpha1.SetUserRequest:
      type: object
      title: SetUserRequest
      additionalProperties: false
    mgmt.v1alpha1.SetUserResponse:
      type: object
      properties:
        userId:
          type: string
          title: user_id
          description: The unique identifier of the user that was created.
      title: SetUserResponse
      additionalProperties: false
    mgmt.v1alpha1.SetUserRoleRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to apply this role to.
        userId:
          type: string
          title: user_id
          format: uuid
          description: The unique identifier of the user that this will be applied to.
        role:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountRole'
          title: role
          description: The role that this user will obtain.
      title: SetUserRoleRequest
      additionalProperties: false
    mgmt.v1alpha1.SetUserRoleResponse:
      type: object
      title: SetUserRoleResponse
      additionalProperties: false
    mgmt.v1alpha1.SystemLicense:
      type: object
      properties:
        isValid:
          type: boolean
          title: is_valid
          description: Whether or not a valid license was found
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: The time when the license expires
        isHusonymCloud:
          type: boolean
          title: is_husonym_cloud
          description: Whether or not the license is for HusonymCloud
      title: SystemLicense
      additionalProperties: false
    mgmt.v1alpha1.UserAccount:
      type: object
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of the account
        name:
          type: string
          title: name
          description: The account slug
        type:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.UserAccountType'
          title: type
          description: The type of account
        hasStripeCustomerId:
          type: boolean
          title: has_stripe_customer_id
          description: Whether or not the account has an associated stripe customer id
      title: UserAccount
      additionalProperties: false
    mgmt.v1alpha1.UserAccountType:
      type: string
      title: UserAccountType
      enum:
        - USER_ACCOUNT_TYPE_UNSPECIFIED
        - USER_ACCOUNT_TYPE_PERSONAL
        - USER_ACCOUNT_TYPE_TEAM
        - USER_ACCOUNT_TYPE_ENTERPRISE
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.UserAccountService/AcceptTeamAccountInvite:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: AcceptTeamAccountInvite
      description: Accepts an invite to the team account.
      operationId: mgmt.v1alpha1.UserAccountService.AcceptTeamAccountInvite
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.AcceptTeamAccountInviteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.AcceptTeamAccountInviteResponse'
  /mgmt.v1alpha1.UserAccountService/ConvertPersonalToTeamAccount:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: ConvertPersonalToTeamAccount
      description: Convert a personal account to a team account retaining all of the jobs and connections. This will also create a new empty personal account.
      operationId: mgmt.v1alpha1.UserAccountService.ConvertPersonalToTeamAccount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.ConvertPersonalToTeamAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.ConvertPersonalToTeamAccountResponse'
  /mgmt.v1alpha1.UserAccountService/CreateTeamAccount:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: CreateTeamAccount
      description: Creates a new team account
      operationId: mgmt.v1alpha1.UserAccountService.CreateTeamAccount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateTeamAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateTeamAccountResponse'
  /mgmt.v1alpha1.UserAccountService/GetAccountBillingCheckoutSession:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetAccountBillingCheckoutSession
      description: Returns a new checkout session for the account to subscribe
      operationId: mgmt.v1alpha1.UserAccountService.GetAccountBillingCheckoutSession
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountBillingCheckoutSessionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountBillingCheckoutSessionResponse'
  /mgmt.v1alpha1.UserAccountService/GetAccountBillingPortalSession:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetAccountBillingPortalSession
      description: Returns a new billing portal session if the account has a billing customer id
      operationId: mgmt.v1alpha1.UserAccountService.GetAccountBillingPortalSession
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountBillingPortalSessionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountBillingPortalSessionResponse'
  /mgmt.v1alpha1.UserAccountService/GetAccountOnboardingConfig:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetAccountOnboardingConfig
      description: Retrieves the onboarding config for the account.
      operationId: mgmt.v1alpha1.UserAccountService.GetAccountOnboardingConfig
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountOnboardingConfigRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountOnboardingConfigResponse'
  /mgmt.v1alpha1.UserAccountService/GetAccountStatus:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetAccountStatus
      description: Returns different metrics on the account status for the active billing period
      operationId: mgmt.v1alpha1.UserAccountService.GetAccountStatus
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountStatusRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountStatusResponse'
  /mgmt.v1alpha1.UserAccountService/GetAccountTemporalConfig:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetAccountTemporalConfig
      description: Retrieves the temporal config for the account.
      operationId: mgmt.v1alpha1.UserAccountService.GetAccountTemporalConfig
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountTemporalConfigRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountTemporalConfigResponse'
  /mgmt.v1alpha1.UserAccountService/GetBillingAccounts:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetBillingAccounts
      description: Returns user accounts that have a billing id.
      operationId: mgmt.v1alpha1.UserAccountService.GetBillingAccounts
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetBillingAccountsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetBillingAccountsResponse'
  /mgmt.v1alpha1.UserAccountService/GetSystemInformation:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetSystemInformation
      description: Retrieves the system information.
      operationId: mgmt.v1alpha1.UserAccountService.GetSystemInformation
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetSystemInformationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetSystemInformationResponse'
  /mgmt.v1alpha1.UserAccountService/GetTeamAccountInvites:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetTeamAccountInvites
      description: Retrieves the list of invites for the team account.
      operationId: mgmt.v1alpha1.UserAccountService.GetTeamAccountInvites
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetTeamAccountInvitesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetTeamAccountInvitesResponse'
  /mgmt.v1alpha1.UserAccountService/GetTeamAccountMembers:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetTeamAccountMembers
      description: Retrieves the list of members in the team account.
      operationId: mgmt.v1alpha1.UserAccountService.GetTeamAccountMembers
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetTeamAccountMembersRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetTeamAccountMembersResponse'
  /mgmt.v1alpha1.UserAccountService/GetUser:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetUser
      description: Retrieves the current user.
      operationId: mgmt.v1alpha1.UserAccountService.GetUser
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetUserRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetUserResponse'
  /mgmt.v1alpha1.UserAccountService/GetUserAccounts:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: GetUserAccounts
      description: Retrieves the list of accounts that the user belongs to.
      operationId: mgmt.v1alpha1.UserAccountService.GetUserAccounts
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetUserAccountsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetUserAccountsResponse'
  /mgmt.v1alpha1.UserAccountService/HasPermission:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: HasPermission
      description: Checks if the user has the given permission
      operationId: mgmt.v1alpha1.UserAccountService.HasPermission
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.HasPermissionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.HasPermissionResponse'
  /mgmt.v1alpha1.UserAccountService/HasPermissions:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: HasPermissions
      description: Bulk check if a user has the given permissions
      operationId: mgmt.v1alpha1.UserAccountService.HasPermissions
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.HasPermissionsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.HasPermissionsResponse'
  /mgmt.v1alpha1.UserAccountService/InviteUserToTeamAccount:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: InviteUserToTeamAccount
      description: Invites a user to the team account.
      operationId: mgmt.v1alpha1.UserAccountService.InviteUserToTeamAccount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.InviteUserToTeamAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.InviteUserToTeamAccountResponse'
  /mgmt.v1alpha1.UserAccountService/IsAccountStatusValid:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: IsAccountStatusValid
      description: Distils the account status down to whether not it is in a valid state.
      operationId: mgmt.v1alpha1.UserAccountService.IsAccountStatusValid
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.IsAccountStatusValidRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.IsAccountStatusValidResponse'
  /mgmt.v1alpha1.UserAccountService/IsUserInAccount:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: IsUserInAccount
      description: Checks if the user is in the account.
      operationId: mgmt.v1alpha1.UserAccountService.IsUserInAccount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.IsUserInAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.IsUserInAccountResponse'
  /mgmt.v1alpha1.UserAccountService/RemoveTeamAccountInvite:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: RemoveTeamAccountInvite
      description: Removes an invite from the team account.
      operationId: mgmt.v1alpha1.UserAccountService.RemoveTeamAccountInvite
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RemoveTeamAccountInviteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RemoveTeamAccountInviteResponse'
  /mgmt.v1alpha1.UserAccountService/RemoveTeamAccountMember:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: RemoveTeamAccountMember
      description: Removes a member from the team account.
      operationId: mgmt.v1alpha1.UserAccountService.RemoveTeamAccountMember
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RemoveTeamAccountMemberRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RemoveTeamAccountMemberResponse'
  /mgmt.v1alpha1.UserAccountService/SetAccountOnboardingConfig:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: SetAccountOnboardingConfig
      description: Sets the onboarding config for the account.
      operationId: mgmt.v1alpha1.UserAccountService.SetAccountOnboardingConfig
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetAccountOnboardingConfigRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetAccountOnboardingConfigResponse'
  /mgmt.v1alpha1.UserAccountService/SetAccountTemporalConfig:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: SetAccountTemporalConfig
      description: Sets the temporal config for the account.
      operationId: mgmt.v1alpha1.UserAccountService.SetAccountTemporalConfig
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetAccountTemporalConfigRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetAccountTemporalConfigResponse'
  /mgmt.v1alpha1.UserAccountService/SetBillingMeterEvent:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: SetBillingMeterEvent
      description: Sends a new metered event to the billing system
      operationId: mgmt.v1alpha1.UserAccountService.SetBillingMeterEvent
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetBillingMeterEventRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetBillingMeterEventResponse'
  /mgmt.v1alpha1.UserAccountService/SetPersonalAccount:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: SetPersonalAccount
      description: Sets the current personal account.
      operationId: mgmt.v1alpha1.UserAccountService.SetPersonalAccount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetPersonalAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetPersonalAccountResponse'
  /mgmt.v1alpha1.UserAccountService/SetUser:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: SetUser
      description: Sets the current user.
      operationId: mgmt.v1alpha1.UserAccountService.SetUser
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetUserRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetUserResponse'
  /mgmt.v1alpha1.UserAccountService/SetUserRole:
    post:
      tags:
        - mgmt.v1alpha1.UserAccountService
      summary: SetUserRole
      description: Sets the users role
      operationId: mgmt.v1alpha1.UserAccountService.SetUserRole
      parameters:
        - name: Connect-Protocol-Version
          in: header
          description: Define the version of the Connect protocol
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
          example: 1
        - name: Connect-Timeout-Ms
          in: header
          description: Define the timeout, in ms
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
          example: 1000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetUserRoleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetUserRoleResponse'
tags:
  - name: mgmt.v1alpha1.UserAccountService
    description: Service that manages users, accounts, and billing
