{{define "content"}}{{with .Body}}<h1>Customers</h1>
<p class="actions"><a class="button" href="/customers/new">New customer</a></p>
{{if .Customers}}{{template "table" "Customers"}}
<thead><tr><th scope="col">Customer</th><th scope="col">External id</th><th scope="col" class="number">Licenses</th><th scope="col" class="number">Instances, last {{.RecentDays}} days</th><th scope="col">Nearest expiry</th></tr></thead>
<tbody>
{{range .Customers}}<tr><td>{{template "named" .Customer}}</td><td class="id">{{.ExternalID}}</td><td class="number">{{.Licenses}}</td><td class="number">{{.RecentInstances}}</td><td>{{.NearestExpiry}}</td></tr>
{{end}}</tbody>
</table></div>{{else}}<p class="empty">No customer.</p>{{end}}{{end}}{{end}}
